.resources_body{
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 60px;
    /* background-color: #333333; */
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

.fm_juess{
    width: 100%;
    height: 100%;
}