<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<title>以斯拉记</title>
<meta name="description" content=
"圣经简体和合本 - 以斯拉记。Simplified Chinese Bible Union version - Ezra">
<meta name="keywords" content="圣经简体和合本, 以斯拉记, 
Simplified Chinese Bible Union version, Ezra">
<style type="text/css">body {font-size:150%}</style>
<script type="text/javascript">
cssfile = "";
function loadcss(filename) {
 cssfile = filename;
 var fileref=document.createElement("link")
 fileref.setAttribute("rel", "stylesheet");
 fileref.setAttribute("type", "text/css");
 fileref.setAttribute("href", filename);
 if (typeof fileref!="undefined")
  {document.getElementsByTagName("head")[0].appendChild(fileref);}
}
</script>
</head>
<body bgcolor="#ffffff">
<a name="top"></a><br>
 &nbsp; &nbsp; &nbsp; &nbsp; 
 <a href="javascript:loadcss('font1.css')"><font size="1">A</font></a> 
 &nbsp; &nbsp; &nbsp; &nbsp; 
 <a href="javascript:loadcss('font2.css')"><font size="2">A</font></a> 
 &nbsp; &nbsp; &nbsp; &nbsp; 
 <a href="javascript:loadcss('font3.css')"><font size="3">A</font></a> 
 &nbsp; &nbsp; &nbsp; &nbsp; 
 <a href="javascript:loadcss('font4.css')"><font size="4">A</font></a> 
<h3 align="center">015 以斯拉记 Ezra</h3>
<h5 align="center">圣经 简体和合本</h5>
<center>
<a href="index.htm#000">&nbsp;&lt;&nbsp;</a>
<a href="#015-1">1</a>
<a href="#015-2">2</a>
<a href="#015-3">3</a>
<a href="#015-4">4</a>
<a href="#015-5">5</a>
<a href="#015-6">6</a>
<a href="#015-7">7</a>
<a href="#015-8">8</a>
<a href="#015-9">9</a>
<a href="#015-10">10</a>
</center>
<a name="015-1"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>以斯拉记 1章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#015-1:1">1</a>
<a href="#015-1:2">2</a>
<a href="#015-1:3">3</a>
<a href="#015-1:4">4</a>
<a href="#015-1:5">5</a>
<a href="#015-1:6">6</a>
<a href="#015-1:7">7</a>
<a href="#015-1:8">8</a>
<a href="#015-1:9">9</a>
<a href="#015-1:10">10</a>
<a href="#015-1:11">11</a>
</small>
<br><br>
<a name="015-1:1"></a>
<small>1:1</small> 波斯王古列元年、耶和华为要应验借耶利米口所说的话、就激动波斯王古列的心、使他下诏通告全国说、<br>
<a name="015-1:2"></a>
<small>1:2</small> 波斯王古列如此说、耶和华天上的　神、已将天下万国赐给我．又嘱咐我在犹大的耶路撒冷、为他建造殿宇。<br>
<a name="015-1:3"></a>
<small>1:3</small> 在你们中间凡作他子民的、可以上犹大的耶路撒冷、在耶路撒冷重建耶和华以色列　神的殿．（只有他是　神)愿　神与这人同在。<br>
<a name="015-1:4"></a>
<small>1:4</small> 凡剩下的人、无论寄居何处、那地的人要用金银财物牲畜帮助他．另外也要为耶路撒冷　神的殿、甘心献上礼物。<br>
<a name="015-1:5"></a>
<small>1:5</small> 于是犹大和便雅悯的族长、祭司利未人、就是一切被　神激动他心的人、都起来要上耶路撒冷去建造耶和华的殿。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-1:6"></a>
<small>1:6</small> 他们四围的人就拿银器、金子、财物、牲畜、珍宝帮助他们．〔原文作坚固他们的手〕另外还有甘心献的礼物。<br>
<a name="015-1:7"></a>
<small>1:7</small> 古列王也将耶和华殿的器皿拿出来．这器皿是尼布甲尼撒从耶路撒冷掠来、放在自己神之庙中的。<br>
<a name="015-1:8"></a>
<small>1:8</small> 波斯王古列派库官米提利达、将这器皿拿出来、按数交给犹大的首领设巴萨。<br>
<a name="015-1:9"></a>
<small>1:9</small> 器皿的数目记在下面．金盘三十个、银盘一千个、刀二十九把、<br>
<a name="015-1:10"></a>
<small>1:10</small> 金碗三十个、银碗之次的四百一十个、别样的器皿一千件．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-1:11"></a>
<small>1:11</small> 金银器皿、共有五千四百件．被掳的人从巴比伦上耶路撒冷的时候、设巴萨将这一切都带上来。<br>
<a name="015-2"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>以斯拉记 2章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#015-2:1">1</a>
<a href="#015-2:2">2</a>
<a href="#015-2:3">3</a>
<a href="#015-2:4">4</a>
<a href="#015-2:5">5</a>
<a href="#015-2:6">6</a>
<a href="#015-2:7">7</a>
<a href="#015-2:8">8</a>
<a href="#015-2:9">9</a>
<a href="#015-2:10">10</a>
<a href="#015-2:11">11</a>
<a href="#015-2:12">12</a>
<a href="#015-2:13">13</a>
<a href="#015-2:14">14</a>
<a href="#015-2:15">15</a>
<a href="#015-2:16">16</a>
<a href="#015-2:17">17</a>
<a href="#015-2:18">18</a>
<a href="#015-2:19">19</a>
<a href="#015-2:20">20</a>
<a href="#015-2:21">21</a>
<a href="#015-2:22">22</a>
<a href="#015-2:23">23</a>
<a href="#015-2:24">24</a>
<a href="#015-2:25">25</a>
<a href="#015-2:26">26</a>
<a href="#015-2:27">27</a>
<a href="#015-2:28">28</a>
<a href="#015-2:29">29</a>
<a href="#015-2:30">30</a>
<a href="#015-2:31">31</a>
<a href="#015-2:32">32</a>
<a href="#015-2:33">33</a>
<a href="#015-2:34">34</a>
<a href="#015-2:35">35</a>
<a href="#015-2:36">36</a>
<a href="#015-2:37">37</a>
<a href="#015-2:38">38</a>
<a href="#015-2:39">39</a>
<a href="#015-2:40">40</a>
<a href="#015-2:41">41</a>
<a href="#015-2:42">42</a>
<a href="#015-2:43">43</a>
<a href="#015-2:44">44</a>
<a href="#015-2:45">45</a>
<a href="#015-2:46">46</a>
<a href="#015-2:47">47</a>
<a href="#015-2:48">48</a>
<a href="#015-2:49">49</a>
<a href="#015-2:50">50</a>
<a href="#015-2:51">51</a>
<a href="#015-2:52">52</a>
<a href="#015-2:53">53</a>
<a href="#015-2:54">54</a>
<a href="#015-2:55">55</a>
<a href="#015-2:56">56</a>
<a href="#015-2:57">57</a>
<a href="#015-2:58">58</a>
<a href="#015-2:59">59</a>
<a href="#015-2:60">60</a>
<a href="#015-2:61">61</a>
<a href="#015-2:62">62</a>
<a href="#015-2:63">63</a>
<a href="#015-2:64">64</a>
<a href="#015-2:65">65</a>
<a href="#015-2:66">66</a>
<a href="#015-2:67">67</a>
<a href="#015-2:68">68</a>
<a href="#015-2:69">69</a>
<a href="#015-2:70">70</a>
</small>
<br><br>
<a name="015-2:1"></a>
<small>2:1</small> 巴比伦王尼布甲尼撒、从前掳到巴比伦之犹大省的人、现在他们的子孙从被掳到之地、回耶路撒冷和犹大、各归本城。<br>
<a name="015-2:2"></a>
<small>2:2</small> 他们是同着所罗巴伯、耶书亚、尼希米、西莱雅、利来雅、末底改、必珊、米斯拔、比革瓦伊、利宏、巴拿、回来的。<br>
<a name="015-2:3"></a>
<small>2:3</small> 以色列人民的数目记在下面．巴录的子孙、二千一百七十二名．<br>
<a name="015-2:4"></a>
<small>2:4</small> 示法提雅的子孙、三百七十二名．<br>
<a name="015-2:5"></a>
<small>2:5</small> 亚拉的子孙、七百七十五名．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-2:6"></a>
<small>2:6</small> 巴哈摩押的后裔、就是耶书亚和约押的子孙、二千八百一十二名．<br>
<a name="015-2:7"></a>
<small>2:7</small> 以拦的子孙、一千二百五十四名．<br>
<a name="015-2:8"></a>
<small>2:8</small> 萨土的子孙、九百四十五名．<br>
<a name="015-2:9"></a>
<small>2:9</small> 萨改的子孙、七百六十名．<br>
<a name="015-2:10"></a>
<small>2:10</small> 巴尼的子孙、六百四十二名．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-2:11"></a>
<small>2:11</small> 比拜的子孙、六百二十三名．<br>
<a name="015-2:12"></a>
<small>2:12</small> 押甲的子孙、一千二百二十二名．<br>
<a name="015-2:13"></a>
<small>2:13</small> 亚多尼干的子孙、六百六十六名．<br>
<a name="015-2:14"></a>
<small>2:14</small> 比革瓦伊的子孙、二千零五十六名．<br>
<a name="015-2:15"></a>
<small>2:15</small> 亚丁的子孙、四百五十四名．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-2:16"></a>
<small>2:16</small> 亚特的后裔、就是希西家的子孙、九十八名．<br>
<a name="015-2:17"></a>
<small>2:17</small> 比赛的子孙、三百二十三名．<br>
<a name="015-2:18"></a>
<small>2:18</small> 约拉的子孙、一百一十二名．<br>
<a name="015-2:19"></a>
<small>2:19</small> 哈顺的子孙、二百二十三名．<br>
<a name="015-2:20"></a>
<small>2:20</small> 吉罢珥人、九十五名．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-2:21"></a>
<small>2:21</small> 伯利恒人、一百二十三名．<br>
<a name="015-2:22"></a>
<small>2:22</small> 尼陀法人、五十六名．<br>
<a name="015-2:23"></a>
<small>2:23</small> 亚拿突人、一百二十八名．<br>
<a name="015-2:24"></a>
<small>2:24</small> 亚斯玛弗人、四十二名．<br>
<a name="015-2:25"></a>
<small>2:25</small> 基列耶琳人、基非拉人、比录人、共七百四十三名．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-2:26"></a>
<small>2:26</small> 拉玛人、迦巴人、共六百二十一名．<br>
<a name="015-2:27"></a>
<small>2:27</small> 默玛人、一百二十二名．<br>
<a name="015-2:28"></a>
<small>2:28</small> 伯特利人、艾人、共二百二十三名．<br>
<a name="015-2:29"></a>
<small>2:29</small> 尼波人、五十二名．<br>
<a name="015-2:30"></a>
<small>2:30</small> 末必人、一百五十六名．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-2:31"></a>
<small>2:31</small> 别的以拦子孙、一千二百五十四名．<br>
<a name="015-2:32"></a>
<small>2:32</small> 哈琳的子孙、三百二十名．<br>
<a name="015-2:33"></a>
<small>2:33</small> 罗德人、哈第人、阿挪人、共七百二十五名．<br>
<a name="015-2:34"></a>
<small>2:34</small> 耶利哥人、三百四十五名．<br>
<a name="015-2:35"></a>
<small>2:35</small> 西拿人、三千六百三十名。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-2:36"></a>
<small>2:36</small> 祭司、耶书亚家耶大雅的子孙、九百七十三名．<br>
<a name="015-2:37"></a>
<small>2:37</small> 音麦的子孙、一千零五十二名．<br>
<a name="015-2:38"></a>
<small>2:38</small> 巴施户珥的子孙、一千二百四十七名．<br>
<a name="015-2:39"></a>
<small>2:39</small> 哈琳的子孙、一千零一十七名。<br>
<a name="015-2:40"></a>
<small>2:40</small> 利未人、何达威雅的后裔、就是耶书亚和甲篾的子孙、七十四名。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-2:41"></a>
<small>2:41</small> 歌唱的、亚萨的子孙、一百二十八名。<br>
<a name="015-2:42"></a>
<small>2:42</small> 守门的、沙龙的子孙、亚特的子孙、达们的子孙、亚谷的子孙、哈底大的子孙、朔拜的子孙、共一百三十九名。<br>
<a name="015-2:43"></a>
<small>2:43</small> 尼提宁、〔就是殿役〕西哈的子孙、哈苏巴的子孙、答巴俄的子孙、<br>
<a name="015-2:44"></a>
<small>2:44</small> 基绿的子孙、西亚的子孙、巴顿的子孙、<br>
<a name="015-2:45"></a>
<small>2:45</small> 利巴拿的子孙、哈迦巴的子孙、亚谷的子孙、<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-2:46"></a>
<small>2:46</small> 哈甲的子孙、萨买的子孙、哈难的子孙、<br>
<a name="015-2:47"></a>
<small>2:47</small> 吉德的子孙、迦哈的子孙、利亚雅的子孙、<br>
<a name="015-2:48"></a>
<small>2:48</small> 利汛的子孙、尼哥大的子孙、迦散的子孙、<br>
<a name="015-2:49"></a>
<small>2:49</small> 乌撒的子孙、巴西亚的子孙、比赛的子孙、<br>
<a name="015-2:50"></a>
<small>2:50</small> 押拿的子孙、米乌宁的子孙、尼普心的子孙、<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-2:51"></a>
<small>2:51</small> 巴卜的子孙、哈古巴的子孙、哈忽的子孙、<br>
<a name="015-2:52"></a>
<small>2:52</small> 巴洗律的子孙、米希大的子孙、哈沙的子孙、<br>
<a name="015-2:53"></a>
<small>2:53</small> 巴柯的子孙、西西拉的子孙、答玛的子孙、<br>
<a name="015-2:54"></a>
<small>2:54</small> 尼细亚的子孙、哈提法的子孙。<br>
<a name="015-2:55"></a>
<small>2:55</small> 所罗门仆人的后裔、就是琐太的子孙、琐斐列的子孙、比路大的子孙、<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-2:56"></a>
<small>2:56</small> 雅拉的子孙、达昆的子孙、吉德的子孙、<br>
<a name="015-2:57"></a>
<small>2:57</small> 示法提雅的子孙、哈替的子孙、玻黑列哈斯巴音的子孙、亚米的子孙．<br>
<a name="015-2:58"></a>
<small>2:58</small> 尼提宁和所罗门仆人的后裔、共三百九十二名。<br>
<a name="015-2:59"></a>
<small>2:59</small> 从特米拉、特哈萨、基绿、押但、音麦上来的、不能指明他们的宗族谱系、是以色列人不是．<br>
<a name="015-2:60"></a>
<small>2:60</small> 他们是第来雅的子孙、多比雅的子孙、尼哥大的子孙、共六百五十二名。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-2:61"></a>
<small>2:61</small> 祭司中哈巴雅的子孙、哈哥斯的子孙、巴西莱的子孙、因为他们的先祖娶了基列人巴西莱的女儿为妻、所以起名叫巴西莱．<br>
<a name="015-2:62"></a>
<small>2:62</small> 这三家的人、在族谱之中寻查自己的谱系、却寻不着、因此算为不洁、不准供祭司的职任．<br>
<a name="015-2:63"></a>
<small>2:63</small> 省长对他们说、不可吃至圣的物、直到有用乌陵和土明决疑的祭司兴起来。<br>
<a name="015-2:64"></a>
<small>2:64</small> 会众共有四万二千三百六十名。<br>
<a name="015-2:65"></a>
<small>2:65</small> 此外、还有他们的仆婢、七千三百三十七名．又有歌唱的男女二百名．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-2:66"></a>
<small>2:66</small> 他们有马七百三十六匹、骡子二百四十五匹、<br>
<a name="015-2:67"></a>
<small>2:67</small> 骆驼四百三十五只、驴六千七百二十匹。<br>
<a name="015-2:68"></a>
<small>2:68</small> 有些族长、到了耶路撒冷耶和华殿的地方、便为　神的殿甘心献上礼物、要重新建造。<br>
<a name="015-2:69"></a>
<small>2:69</small> 他们量力捐入工程库的金子、六万一千达利克．银子、五千弥拿．并祭司的礼服一百件。<br>
<a name="015-2:70"></a>
<small>2:70</small> 于是祭司利未人、民中的一些人、歌唱的、守门的、尼提宁、并以色列众人、各住在自己的城里。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-3"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>以斯拉记 3章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#015-3:1">1</a>
<a href="#015-3:2">2</a>
<a href="#015-3:3">3</a>
<a href="#015-3:4">4</a>
<a href="#015-3:5">5</a>
<a href="#015-3:6">6</a>
<a href="#015-3:7">7</a>
<a href="#015-3:8">8</a>
<a href="#015-3:9">9</a>
<a href="#015-3:10">10</a>
<a href="#015-3:11">11</a>
<a href="#015-3:12">12</a>
<a href="#015-3:13">13</a>
</small>
<br><br>
<a name="015-3:1"></a>
<small>3:1</small> 到了七月、以色列人住在各城、那时他们如同一人、聚集在耶路撒冷。<br>
<a name="015-3:2"></a>
<small>3:2</small> 约萨达的儿子耶书亚、和他的弟兄众祭司、并撒拉铁的儿子所罗巴伯、与他的弟兄、都起来建筑以色列　神的坛、要照神人摩西律法书上所写的、在坛上献燔祭。<br>
<a name="015-3:3"></a>
<small>3:3</small> 他们在原有的根基上筑坛、因惧怕邻国的民．又在其上向耶和华早晚献燔祭。<br>
<a name="015-3:4"></a>
<small>3:4</small> 又照律法书上所写的、守住棚节．按数照例、献每日所当献的燔祭。<br>
<a name="015-3:5"></a>
<small>3:5</small> 其后献常献的燔祭、并在月朔与耶和华的一切圣节献祭、又向耶和华献各人的甘心祭。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-3:6"></a>
<small>3:6</small> 从七月初一日起、他们就向耶和华献燔祭．但耶和华殿的根基、尚未立定。<br>
<a name="015-3:7"></a>
<small>3:7</small> 他们又将银子给石匠、木匠、把粮食、酒、油、给西顿人、推罗人、使他们将香柏树从利巴嫩运到海里、浮海运到约帕、是照波斯王古列所允准的。<br>
<a name="015-3:8"></a>
<small>3:8</small> 百姓到了耶路撒冷　神殿的地方、第二年二月、撒拉铁的儿子所罗巴伯、约萨达的儿子耶书亚、和其余的弟兄、就是祭司、利未人、并一切被掳归回耶路撒冷的人、都兴工建造．又派利未人、从二十岁以外的、督理建造耶和华殿的工作。<br>
<a name="015-3:9"></a>
<small>3:9</small> 于是犹大〔在二章四十节作何达威雅〕的后裔、就是耶书亚、和他的子孙与弟兄、甲篾和他的子孙、利未人希拿达的子孙与弟兄、都一同起来、督理那在　神殿作工的人。<br>
<a name="015-3:10"></a>
<small>3:10</small> 匠人立耶和华殿根基的时候、祭司皆穿礼服吹号、亚萨的子孙利未人敲钹、照以色列王大卫所定的例、都站着赞美耶和华。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-3:11"></a>
<small>3:11</small> 他们彼此唱和、赞美称谢耶和华、说、他本为善、他向以色列人永发慈爱．他们赞美耶和华的时候、众民大声呼喊、因耶和华殿的根基已经立定．<br>
<a name="015-3:12"></a>
<small>3:12</small> 然而有许多祭司、利未人、族长、就是见过旧殿的老年人、现在亲眼看见立这殿的根基、便大声哭号．也有许多人大声欢呼．<br>
<a name="015-3:13"></a>
<small>3:13</small> 甚至百姓不能分辨欢呼的声音、和哭号的声音、因为众人大声呼喊、声音听到远处。<br>
<a name="015-4"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>以斯拉记 4章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#015-4:1">1</a>
<a href="#015-4:2">2</a>
<a href="#015-4:3">3</a>
<a href="#015-4:4">4</a>
<a href="#015-4:5">5</a>
<a href="#015-4:6">6</a>
<a href="#015-4:7">7</a>
<a href="#015-4:8">8</a>
<a href="#015-4:9">9</a>
<a href="#015-4:10">10</a>
<a href="#015-4:11">11</a>
<a href="#015-4:12">12</a>
<a href="#015-4:13">13</a>
<a href="#015-4:14">14</a>
<a href="#015-4:15">15</a>
<a href="#015-4:16">16</a>
<a href="#015-4:17">17</a>
<a href="#015-4:18">18</a>
<a href="#015-4:19">19</a>
<a href="#015-4:20">20</a>
<a href="#015-4:21">21</a>
<a href="#015-4:22">22</a>
<a href="#015-4:23">23</a>
<a href="#015-4:24">24</a>
</small>
<br><br>
<a name="015-4:1"></a>
<small>4:1</small> 犹大和便雅悯的敌人听说、被掳归回的人为耶和华以色列的　神建造殿宇、<br>
<a name="015-4:2"></a>
<small>4:2</small> 就去见所罗巴伯、和以色列的族长、对他们说、请容我们与你们一同建造、因为我们寻求你们的　神、与你们一样．自从亚述王以撒哈顿带我们上这地以来、我们常祭祀　神。<br>
<a name="015-4:3"></a>
<small>4:3</small> 但所罗巴伯、耶书亚、和其余以色列的族长、对他们说、我们建造　神的殿与你们无干、我们自己为耶和华以色列的　神协力建造、是照波斯王古列所吩咐的。<br>
<a name="015-4:4"></a>
<small>4:4</small> 那地的民、就在犹大人建造的时候、使他们的手发软、扰乱他们。<br>
<a name="015-4:5"></a>
<small>4:5</small> 从波斯王古列年间、直到波斯王大利乌登基的时候、贿买谋士、要败坏他们的谋算。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-4:6"></a>
<small>4:6</small> 在亚哈随鲁才登基的时候、上本控告犹大和耶路撒冷的居民。<br>
<a name="015-4:7"></a>
<small>4:7</small> 亚达薛西年间、比施兰、米特利达、他别、和他们的同党、上本奏告波斯王亚达薛西．本章是用亚兰文字、亚兰方言。<br>
<a name="015-4:8"></a>
<small>4:8</small> 省长利宏、书记伸帅、要控告耶路撒冷人、也上本奏告亚达薛西王。<br>
<a name="015-4:9"></a>
<small>4:9</small> 省长利宏、书记伸帅、和同党的底拿人、亚法萨提迦人、他毗拉人、亚法撒人、亚基卫人、巴比伦人、书珊迦人、底亥人、以拦人、<br>
<a name="015-4:10"></a>
<small>4:10</small> 和尊大的亚斯那巴所迁移、安置在撒玛利亚城、并大河西一带地方的人等．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-4:11"></a>
<small>4:11</small> 上奏亚达薛西王说、河西的臣民云云。<br>
<a name="015-4:12"></a>
<small>4:12</small> 王该知道、从王那里上到我们这里的犹大人、已经到耶路撒冷重建这反叛恶劣的城、筑立根基、建造城墙。<br>
<a name="015-4:13"></a>
<small>4:13</small> 如今王该知道、他们若建造这城、城墙完毕、就不再与王进贡、交课、纳税、终久王必受亏损．<br>
<a name="015-4:14"></a>
<small>4:14</small> 我们既食御盐、不忍见王吃亏、因此奏告于王、<br>
<a name="015-4:15"></a>
<small>4:15</small> 请王考察先王的实录、必在其上查知这城是反叛的城、与列王和各省有害、自古以来、其中常有悖逆的事、因此这城曾被拆毁。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-4:16"></a>
<small>4:16</small> 我们谨奏王知、这城若再建造、城墙完毕、河西之地王就无分了。<br>
<a name="015-4:17"></a>
<small>4:17</small> 那时王谕复省长利宏、书记伸帅、和他们的同党、就是住撒玛利亚、并河西一带地方的人、说、愿你们平安云云。<br>
<a name="015-4:18"></a>
<small>4:18</small> 你们所上的本、已经明读在我面前。<br>
<a name="015-4:19"></a>
<small>4:19</small> 我已命人考查、得知此城古来果然背叛列王、其中常有反叛悖逆的事。<br>
<a name="015-4:20"></a>
<small>4:20</small> 从前耶路撒冷也有大君王统管河西全地、人就给他们进贡、交课、纳税。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-4:21"></a>
<small>4:21</small> 现在你们要出告示命这些人停工、使这城不得建造、等我降旨．<br>
<a name="015-4:22"></a>
<small>4:22</small> 你们当谨慎、不可迟延、为何容害加重、使王受亏损呢。<br>
<a name="015-4:23"></a>
<small>4:23</small> 亚达薛西王的上谕读在利宏、和书记伸帅、并他们的同党面前、他们就急忙往耶路撒冷去见犹大人、用势力强迫他们停工。<br>
<a name="015-4:24"></a>
<small>4:24</small> 于是在耶路撒冷　神殿的工程就停止了、直停到波斯王大利乌第二年。<br>
<a name="015-5"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>以斯拉记 5章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#015-5:1">1</a>
<a href="#015-5:2">2</a>
<a href="#015-5:3">3</a>
<a href="#015-5:4">4</a>
<a href="#015-5:5">5</a>
<a href="#015-5:6">6</a>
<a href="#015-5:7">7</a>
<a href="#015-5:8">8</a>
<a href="#015-5:9">9</a>
<a href="#015-5:10">10</a>
<a href="#015-5:11">11</a>
<a href="#015-5:12">12</a>
<a href="#015-5:13">13</a>
<a href="#015-5:14">14</a>
<a href="#015-5:15">15</a>
<a href="#015-5:16">16</a>
<a href="#015-5:17">17</a>
</small>
<br><br>
<a name="015-5:1"></a>
<small>5:1</small> 那时先知哈该、和易多的孙子撒迦利亚、奉以色列　神的名、向犹大和耶路撒冷的犹大人、说劝勉的话。<br>
<a name="015-5:2"></a>
<small>5:2</small> 于是撒拉铁的儿子所罗巴伯、和约萨达的儿子耶书亚、都起来动手建造耶路撒冷　神的殿、有　神的先知在那里帮助他们。<br>
<a name="015-5:3"></a>
<small>5:3</small> 当时河西的总督达乃、和示他波斯乃、并他们的同党、来问说、谁降旨让你们建造这殿、修成这墙呢。<br>
<a name="015-5:4"></a>
<small>5:4</small> 我们便告诉他们建造这殿的人叫甚么名字。<br>
<a name="015-5:5"></a>
<small>5:5</small> 　神的眼目看顾犹大的长老、以致总督等、没有叫他们停工、直到这事奏告大利乌、得着他的回谕。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-5:6"></a>
<small>5:6</small> 河西的总督达乃、和示他波斯乃、并他们的同党、就是住河西的亚法萨迦人、上本奏告大利乌王．<br>
<a name="015-5:7"></a>
<small>5:7</small> 本上写着说、愿大利乌王诸事平安．<br>
<a name="015-5:8"></a>
<small>5:8</small> 王该知道、我们往犹大省去、到了至大　神的殿、这殿是用大石建造的、梁木插入墙内、工作甚速、他们手下亨通．<br>
<a name="015-5:9"></a>
<small>5:9</small> 我们就问那些长老说、谁降旨让你们建造这殿、修成这墙呢。<br>
<a name="015-5:10"></a>
<small>5:10</small> 又问他们的名字、要记录他们首领的名字、奏告于王。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-5:11"></a>
<small>5:11</small> 他们回答说、我们是天地之　神的仆人、重建前多年所建造的殿、就是以色列的一位大君王建造修成的。<br>
<a name="015-5:12"></a>
<small>5:12</small> 只因我们列祖惹天上的　神发怒、　神把他们交在迦勒底人巴比伦王尼布甲尼撒的手中、他就拆毁这殿、又将百姓掳到巴比伦。<br>
<a name="015-5:13"></a>
<small>5:13</small> 然而巴比伦王古列元年、他降旨允准建造　神的这殿。<br>
<a name="015-5:14"></a>
<small>5:14</small> 　神殿中的金银、器皿、就是尼布甲尼撒从耶路撒冷的殿中掠去带到巴比伦庙里的、古列王从巴比伦庙里取出来、交给派为省长的、名叫设巴萨．<br>
<a name="015-5:15"></a>
<small>5:15</small> 对他说、可以将这些器皿带去、放在耶路撒冷的殿中、在原处建造　神的殿。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-5:16"></a>
<small>5:16</small> 于是这设巴萨来建立耶路撒冷　神殿的根基．这殿、从那时直到如今、尚未造成。<br>
<a name="015-5:17"></a>
<small>5:17</small> 现在王若以为美、请察巴比伦王的府库、看古列王降旨、允准在耶路撒冷建造　神的殿没有．王的心意如何、请降旨晓谕我们。<br>
<a name="015-6"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>以斯拉记 6章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#015-6:1">1</a>
<a href="#015-6:2">2</a>
<a href="#015-6:3">3</a>
<a href="#015-6:4">4</a>
<a href="#015-6:5">5</a>
<a href="#015-6:6">6</a>
<a href="#015-6:7">7</a>
<a href="#015-6:8">8</a>
<a href="#015-6:9">9</a>
<a href="#015-6:10">10</a>
<a href="#015-6:11">11</a>
<a href="#015-6:12">12</a>
<a href="#015-6:13">13</a>
<a href="#015-6:14">14</a>
<a href="#015-6:15">15</a>
<a href="#015-6:16">16</a>
<a href="#015-6:17">17</a>
<a href="#015-6:18">18</a>
<a href="#015-6:19">19</a>
<a href="#015-6:20">20</a>
<a href="#015-6:21">21</a>
<a href="#015-6:22">22</a>
</small>
<br><br>
<a name="015-6:1"></a>
<small>6:1</small> 于是大利乌王降旨、要寻察典籍库内、就是在巴比伦藏宝物之处．<br>
<a name="015-6:2"></a>
<small>6:2</small> 在玛代省、亚马他城的宫内、寻得一卷、其中记着说、<br>
<a name="015-6:3"></a>
<small>6:3</small> 古列王元年、他降旨论到耶路撒冷　神的殿、要建造这殿为献祭之处、坚立殿的根基、殿高六十肘、宽六十肘．<br>
<a name="015-6:4"></a>
<small>6:4</small> 用三层大石头、一层新木头、经费要出于王库．<br>
<a name="015-6:5"></a>
<small>6:5</small> 并且　神殿的金银器皿、就是尼布甲尼撒从耶路撒冷的殿中掠到巴比伦的、要归还带到耶路撒冷的殿中、各按原处放在　神的殿里。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-6:6"></a>
<small>6:6</small> 现在河西的总督达乃、和示他波斯乃、并你们的同党、就是住河西的亚法萨迦人、你们当远离他们。<br>
<a name="015-6:7"></a>
<small>6:7</small> 不要拦阻　神殿的工作、任凭犹大人的省长、和犹大人的长老在原处建造　神的这殿。<br>
<a name="015-6:8"></a>
<small>6:8</small> 我又降旨、吩咐你们向犹大人的长老为建造　神的殿、当怎样行、就是从河西的款项中、急速拨取贡银作他们的经费、免得耽误工作。<br>
<a name="015-6:9"></a>
<small>6:9</small> 他们与天上的　神献燔祭所需用的公牛犊、公绵羊、绵羊羔、并所用的麦子、盐、酒、油、都要照耶路撒冷祭司的话、每日供给他们、不得有误．<br>
<a name="015-6:10"></a>
<small>6:10</small> 好叫他们献馨香的祭给天上的　神、又为王、和王众子的寿命祈祷。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-6:11"></a>
<small>6:11</small> 我再降旨、无论谁更改这命令、必从他房屋中拆出一根梁来、把他举起、悬在其上．又使他的房屋成为粪堆。<br>
<a name="015-6:12"></a>
<small>6:12</small> 若有王和民伸手更改这命令、拆毁这殿、愿那使耶路撒冷的殿作为他名居所的　神、将他们灭绝．我大利乌降这旨意、当速速遵行。<br>
<a name="015-6:13"></a>
<small>6:13</small> 于是河西总督达乃、和示他波斯乃、并他们的同党、因大利乌王所发的命令、就急速遵行。<br>
<a name="015-6:14"></a>
<small>6:14</small> 犹大长老因先知哈该、和易多的孙子撒迦利亚所说劝勉的话、就建造这殿、凡事亨通．他们遵着以色列　神的命令、和波斯王古列、大利乌、亚达薛西的旨意、建造完毕。<br>
<a name="015-6:15"></a>
<small>6:15</small> 大利乌王第六年、亚达月初三日、这殿修成了。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-6:16"></a>
<small>6:16</small> 以色列的祭司、和利未人、并其余被掳归回的人、都欢欢喜喜地行奉献　神殿的礼。<br>
<a name="015-6:17"></a>
<small>6:17</small> 行奉献　神殿的礼、就献公牛一百只、公绵羊二百只、绵羊羔四百只．又照以色列支派的数目、献公山羊十二只、为以色列众人作赎罪祭。<br>
<a name="015-6:18"></a>
<small>6:18</small> 且派祭司、和利未人、按着班次在耶路撒冷事奉　神、是照摩西律法书上所写的。<br>
<a name="015-6:19"></a>
<small>6:19</small> 正月十四日、被掳归回的人守逾越节。<br>
<a name="015-6:20"></a>
<small>6:20</small> 原来祭司和利未人、一同自洁、无一人不洁净．利未人为被掳归回的众人和他们的弟兄众祭司、并为自己宰逾越节的羊羔。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-6:21"></a>
<small>6:21</small> 从掳到之地归回的以色列人、和一切除掉所染外邦人污秽归附他们、要寻求耶和华以色列　神的人、都吃这羊羔。<br>
<a name="015-6:22"></a>
<small>6:22</small> 欢欢喜喜地守除酵节七日、因为耶和华使他们欢喜、又使亚述王的心转向他们、坚固他们的手、作以色列　神殿的工程。<br>
<a name="015-7"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>以斯拉记 7章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#015-7:1">1</a>
<a href="#015-7:2">2</a>
<a href="#015-7:3">3</a>
<a href="#015-7:4">4</a>
<a href="#015-7:5">5</a>
<a href="#015-7:6">6</a>
<a href="#015-7:7">7</a>
<a href="#015-7:8">8</a>
<a href="#015-7:9">9</a>
<a href="#015-7:10">10</a>
<a href="#015-7:11">11</a>
<a href="#015-7:12">12</a>
<a href="#015-7:13">13</a>
<a href="#015-7:14">14</a>
<a href="#015-7:15">15</a>
<a href="#015-7:16">16</a>
<a href="#015-7:17">17</a>
<a href="#015-7:18">18</a>
<a href="#015-7:19">19</a>
<a href="#015-7:20">20</a>
<a href="#015-7:21">21</a>
<a href="#015-7:22">22</a>
<a href="#015-7:23">23</a>
<a href="#015-7:24">24</a>
<a href="#015-7:25">25</a>
<a href="#015-7:26">26</a>
<a href="#015-7:27">27</a>
<a href="#015-7:28">28</a>
</small>
<br><br>
<a name="015-7:1"></a>
<small>7:1</small> 这事以后、波斯王亚达薛西年间、有个以斯拉、他是西莱雅的儿子、西莱雅是亚撒利雅的儿子、亚撒利雅是希勒家的儿子、<br>
<a name="015-7:2"></a>
<small>7:2</small> 希勒家是沙龙的儿子、沙龙是撒督的儿子、撒督是亚希突的儿子、<br>
<a name="015-7:3"></a>
<small>7:3</small> 亚希突是亚玛利雅的儿子、亚玛利雅是亚撒利雅的儿子、亚撒利雅是米拉约的儿子、<br>
<a name="015-7:4"></a>
<small>7:4</small> 米拉约是西拉希雅的儿子、西拉希雅是乌西的儿子、乌西是布基的儿子、<br>
<a name="015-7:5"></a>
<small>7:5</small> 布基是亚比书的儿子、亚比书是非尼哈的儿子、非尼哈是以利亚撒的儿子、以利亚撒是大祭司亚伦的儿子。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-7:6"></a>
<small>7:6</small> 这以斯拉从巴比伦上来、他是敏捷的文士、通达耶和华以色列　神所赐摩西的律法书．王允准他一切所求的、是因耶和华他　神的手帮助他。<br>
<a name="015-7:7"></a>
<small>7:7</small> 亚达薛西王第七年、以色列人、祭司、利未人、歌唱的、守门的、尼提宁、有上耶路撒冷的．<br>
<a name="015-7:8"></a>
<small>7:8</small> 王第七年五月、以斯拉到了耶路撒冷．<br>
<a name="015-7:9"></a>
<small>7:9</small> 正月初一日、他从巴比伦起程．因他　神施恩的手帮助他、五月初一日就到了耶路撒冷。<br>
<a name="015-7:10"></a>
<small>7:10</small> 以斯拉定志考究遵行耶和华的律法、又将律例典章教训以色列人。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-7:11"></a>
<small>7:11</small> 祭司以斯拉是通达耶和华诫命、和赐以色列之律例的文士．亚达薛西王赐给他谕旨、上面写着说、<br>
<a name="015-7:12"></a>
<small>7:12</small> 诸王之王亚达薛西、达于祭司以斯拉通达天上　神律法大德的文士云云。<br>
<a name="015-7:13"></a>
<small>7:13</small> 住在我国中的以色列人、祭司、利未人、凡甘心上耶路撒冷去的、我降旨准他们与你同去。<br>
<a name="015-7:14"></a>
<small>7:14</small> 王与七个谋士既然差你去、照你手中　神的律法书、察问犹大和耶路撒冷的景况．<br>
<a name="015-7:15"></a>
<small>7:15</small> 又带金银、就是王和谋士甘心献给住耶路撒冷、以色列　神的、<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-7:16"></a>
<small>7:16</small> 并带你在巴比伦全省所得的金银、和百姓、祭司乐意献给耶路撒冷他们　神殿的礼物。<br>
<a name="015-7:17"></a>
<small>7:17</small> 所以你当用这金银、急速买公牛、公绵羊、绵羊羔、和同献的素祭奠祭之物、献在耶路撒冷你们　神殿的坛上。<br>
<a name="015-7:18"></a>
<small>7:18</small> 剩下的金银、你和你的弟兄看着怎样好、就怎样用、总要遵着你们　神的旨意。<br>
<a name="015-7:19"></a>
<small>7:19</small> 所交给你　神殿中使用的器皿、你要交在耶路撒冷　神面前。<br>
<a name="015-7:20"></a>
<small>7:20</small> 你　神殿里、若再有需用的经费、你可以从王的府库里支取。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-7:21"></a>
<small>7:21</small> 我亚达薛西王、又降旨与河西的一切库官、说、通达天上　神律法的文士祭司以斯拉、无论向你们要甚么、你们要速速的备办．<br>
<a name="015-7:22"></a>
<small>7:22</small> 就是银子直到一百他连得、麦子一百柯珥、酒一百罢特、油一百罢特、盐不计其数、也要给他。<br>
<a name="015-7:23"></a>
<small>7:23</small> 凡天上之　神所吩咐的、当为天上　神的殿详细办理．为何使忿怒临到王、和王众子的国呢。<br>
<a name="015-7:24"></a>
<small>7:24</small> 我又晓谕你们、至于祭司、利未人、歌唱的、守门的、和尼提宁、并在　神殿当差的人、不可叫他们进贡、交课、纳税。<br>
<a name="015-7:25"></a>
<small>7:25</small> 以斯拉阿、要照着你　神赐你的智慧、将所有明白你　神律法的人立为士师、审判官、治理河西的百姓、使他们教训一切不明白　神律法的人。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-7:26"></a>
<small>7:26</small> 凡不遵行你　神律法、和王命令的人、就当速速定他的罪、或治死、或充军、或抄家、或囚禁。<br>
<a name="015-7:27"></a>
<small>7:27</small> 以斯拉说、耶和华我们列祖的　神是应当称颂的、因他使王起这心意、修饰耶路撒冷耶和华的殿．<br>
<a name="015-7:28"></a>
<small>7:28</small> 又在王和谋士、并大能的军长面前施恩于我。因耶和华我　神的手帮助我、我就得以坚强、从以色列中招聚首领、与我一同上来。<br>
<a name="015-8"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>以斯拉记 8章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#015-8:1">1</a>
<a href="#015-8:2">2</a>
<a href="#015-8:3">3</a>
<a href="#015-8:4">4</a>
<a href="#015-8:5">5</a>
<a href="#015-8:6">6</a>
<a href="#015-8:7">7</a>
<a href="#015-8:8">8</a>
<a href="#015-8:9">9</a>
<a href="#015-8:10">10</a>
<a href="#015-8:11">11</a>
<a href="#015-8:12">12</a>
<a href="#015-8:13">13</a>
<a href="#015-8:14">14</a>
<a href="#015-8:15">15</a>
<a href="#015-8:16">16</a>
<a href="#015-8:17">17</a>
<a href="#015-8:18">18</a>
<a href="#015-8:19">19</a>
<a href="#015-8:20">20</a>
<a href="#015-8:21">21</a>
<a href="#015-8:22">22</a>
<a href="#015-8:23">23</a>
<a href="#015-8:24">24</a>
<a href="#015-8:25">25</a>
<a href="#015-8:26">26</a>
<a href="#015-8:27">27</a>
<a href="#015-8:28">28</a>
<a href="#015-8:29">29</a>
<a href="#015-8:30">30</a>
<a href="#015-8:31">31</a>
<a href="#015-8:32">32</a>
<a href="#015-8:33">33</a>
<a href="#015-8:34">34</a>
<a href="#015-8:35">35</a>
<a href="#015-8:36">36</a>
</small>
<br><br>
<a name="015-8:1"></a>
<small>8:1</small> 当亚达薛西王年间、同我从巴比伦上来的人、他们的族长、和他们的家谱、记在下面．<br>
<a name="015-8:2"></a>
<small>8:2</small> 属非尼哈的子孙有革顺、属以他玛的子孙有但以理、属大卫的子孙有哈突、<br>
<a name="015-8:3"></a>
<small>8:3</small> 属巴录的后裔、就是示迦尼的子孙、有撒迦利亚．同着他、按家谱计算、男丁一百五十人。<br>
<a name="015-8:4"></a>
<small>8:4</small> 属巴哈摩押的子孙有西拉希雅的儿子以利约乃．同着他有男丁二百。<br>
<a name="015-8:5"></a>
<small>8:5</small> 属示迦尼的子孙有雅哈悉的儿子．同着他有男丁三百。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-8:6"></a>
<small>8:6</small> 属亚丁的子孙有约拿单的儿子以别．同着他有男丁五十。<br>
<a name="015-8:7"></a>
<small>8:7</small> 属以拦的子孙有亚他利雅的儿子耶筛亚．同着他有男丁七十。<br>
<a name="015-8:8"></a>
<small>8:8</small> 属示法提雅的子孙有米迦勒的儿子西巴第雅．同着他有男丁八十。<br>
<a name="015-8:9"></a>
<small>8:9</small> 属约押的子孙有耶歇的儿子俄巴底亚．同着他有男丁二百一十八。<br>
<a name="015-8:10"></a>
<small>8:10</small> 属示罗密的子孙有约细斐的儿子．同着他有男丁一百六十。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-8:11"></a>
<small>8:11</small> 属比拜的子孙有比拜的儿子撒迦利亚．同着他有男丁二十八。<br>
<a name="015-8:12"></a>
<small>8:12</small> 属押甲的子孙有哈加坦的儿子约哈难．同着他有男丁一百一十。<br>
<a name="015-8:13"></a>
<small>8:13</small> 属亚多尼干的子孙、就是末尾的、他们的名字是以利法列、耶利、示玛雅．同着他们有男丁六十。<br>
<a name="015-8:14"></a>
<small>8:14</small> 属比革瓦伊的子孙有乌太和撒布．同着他们有男丁七十。<br>
<a name="015-8:15"></a>
<small>8:15</small> 我招聚这些人在流入亚哈瓦的河边、我们在那里住了三日、我查看百姓和祭司、见没有利未人在那里．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-8:16"></a>
<small>8:16</small> 就召首领以利以谢、亚列、示玛雅、以利拿单、雅立、以利拿单、拿单、撒迦利亚、米书兰．又召教习约雅立、和以利拿单。<br>
<a name="015-8:17"></a>
<small>8:17</small> 我打发他们往迦西斐雅地方去、见那里的首领易多、又告诉他们当向易多和他的弟兄尼提宁说甚么话、叫他们为我们　神的殿带使用的人来。<br>
<a name="015-8:18"></a>
<small>8:18</small> 蒙我们　神施恩的手帮助我们、他们在以色列的曾孙、利未的孙子、抹利的后裔中、带一个通达人来．还有示利比、和他的众子、与弟兄、共一十八人。<br>
<a name="015-8:19"></a>
<small>8:19</small> 又有哈沙比雅．同着他有米拉利的子孙耶筛亚、并他的众子、和弟兄、共二十人。<br>
<a name="015-8:20"></a>
<small>8:20</small> 从前大卫和众首领、派尼提宁服事利未人、现在从这尼提宁中也带了二百二十人来、都是按名指定的。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-8:21"></a>
<small>8:21</small> 那时我在亚哈瓦河边宣告禁食、为要在我们　神面前克苦己心、求他使我们和妇人孩子、并一切所有的、都得平坦的道路。<br>
<a name="015-8:22"></a>
<small>8:22</small> 我求王拨步兵马兵、帮助我们抵挡路上的仇敌、本以为羞耻、因我曾对王说、我们　神施恩的手、必帮助一切寻求他的．但他的能力和忿怒、必攻击一切离弃他的。<br>
<a name="015-8:23"></a>
<small>8:23</small> 所以我们禁食祈求我们的　神、他就应允了我们。<br>
<a name="015-8:24"></a>
<small>8:24</small> 我分派祭司长十二人、就是示利比、哈沙比雅、和他们的弟兄十人．<br>
<a name="015-8:25"></a>
<small>8:25</small> 将王、和谋士、军长、并在那里的以色列众人、为我们　神殿所献的金银、和器皿、都秤了交给他们。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-8:26"></a>
<small>8:26</small> 我秤了交在他们手中的银子、有六百五十他连得、银器重一百他连得、金子一百他连得、<br>
<a name="015-8:27"></a>
<small>8:27</small> 金碗二十个、重一千达利克、上等光铜的器皿两个、宝贵如金。<br>
<a name="015-8:28"></a>
<small>8:28</small> 我对他们说、你们归耶和华为圣、器皿也为圣、金银是甘心献给耶和华你们列祖之　神的．<br>
<a name="015-8:29"></a>
<small>8:29</small> 你们当儆醒看守、直到你们在耶路撒冷耶和华殿的库内、在祭司长和利未族长、并以色列的各族长面前过了秤。<br>
<a name="015-8:30"></a>
<small>8:30</small> 于是祭司、利未人、按着分量接受金银、和器皿、要带到耶路撒冷我们　神的殿里。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-8:31"></a>
<small>8:31</small> 正月十二日、我们从亚哈瓦河边起行、要往耶路撒冷去．我们　神的手保佑我们、救我们脱离仇敌、和路上埋伏之人的手。<br>
<a name="015-8:32"></a>
<small>8:32</small> 我们到了耶路撒冷、在那里住了三日。<br>
<a name="015-8:33"></a>
<small>8:33</small> 第四日、在我们　神的殿里、把金银和器皿都秤了、交在祭司乌利亚的儿子米利末的手中．同着他有非尼哈的儿子以利亚撒、还有利未人耶书亚的儿子约撒拔、和宾内的儿子挪亚底。<br>
<a name="015-8:34"></a>
<small>8:34</small> 当时都点了数目、按着分量写在册上。<br>
<a name="015-8:35"></a>
<small>8:35</small> 从掳到之地归回的人、向以色列的　神献燔祭、就是为以色列众人献公牛十二只、公绵羊九十六只、绵羊羔七十七只．又献公山羊十二只作赎罪祭．这都是向耶和华焚献的。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-8:36"></a>
<small>8:36</small> 他们将王的谕旨交给王所派的总督、与河西的省长、他们就帮助百姓、又供给　神殿里所需用的。<br>
<a name="015-9"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>以斯拉记 9章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#015-9:1">1</a>
<a href="#015-9:2">2</a>
<a href="#015-9:3">3</a>
<a href="#015-9:4">4</a>
<a href="#015-9:5">5</a>
<a href="#015-9:6">6</a>
<a href="#015-9:7">7</a>
<a href="#015-9:8">8</a>
<a href="#015-9:9">9</a>
<a href="#015-9:10">10</a>
<a href="#015-9:11">11</a>
<a href="#015-9:12">12</a>
<a href="#015-9:13">13</a>
<a href="#015-9:14">14</a>
<a href="#015-9:15">15</a>
</small>
<br><br>
<a name="015-9:1"></a>
<small>9:1</small> 这事作完了、众首领来见我、说、以色列民和祭司、并利未人、没有离绝迦南人、赫人、比利洗人、耶布斯人、亚扪人、摩押人、埃及人、亚摩利人、仍效法这些国的民、行可憎的事。<br>
<a name="015-9:2"></a>
<small>9:2</small> 因他们为自己和儿子、娶了这些外邦女子为妻、以致圣洁的种类和这些国的民混杂．而且首领和官长、在这事上为罪魁。<br>
<a name="015-9:3"></a>
<small>9:3</small> 我一听见这事、就撕裂衣服和外袍、拔了头发和胡须、惊惧忧闷而坐。<br>
<a name="015-9:4"></a>
<small>9:4</small> 凡为以色列　神言语战兢的、都因这被掳归回之人所犯的罪、聚集到我这里来．我就惊惧忧闷而坐、直到献晚祭的时候。<br>
<a name="015-9:5"></a>
<small>9:5</small> 献晚祭的时候我起来、心中愁苦、穿着撕裂的衣袍、双膝跪下向耶和华我的　神举手、<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-9:6"></a>
<small>9:6</small> 说、我的　神阿、我抱愧蒙羞、不敢向我　神仰面、因为我们的罪孽灭顶、我们的罪恶滔天。<br>
<a name="015-9:7"></a>
<small>9:7</small> 从我们列祖直到今日、我们的罪恶甚重、因我们的罪孽、我们和君王、祭司、都交在外邦列王的手中、杀害、掳掠、抢夺、脸上蒙羞、正如今日的光景。<br>
<a name="015-9:8"></a>
<small>9:8</small> 现在耶和华我们的　神暂且施恩与我们、给我们留些逃脱的人、使我们安稳如钉子钉在他的圣所、我们的　神好光照我们的眼目、使我们在受辖制之中稍微复兴。<br>
<a name="015-9:9"></a>
<small>9:9</small> 我们是奴仆、然而在受辖制之中、我们的　神仍没有丢弃我们、在波斯王眼前向我们施恩、叫我们复兴、能重建我们　神的殿、修其毁坏之处、使我们在犹大和耶路撒冷有墙垣。<br>
<a name="015-9:10"></a>
<small>9:10</small> 我们的　神阿、既是如此、我们还有甚么话可说呢．因为我们已经离弃你的命令、<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-9:11"></a>
<small>9:11</small> 就是你借你仆人众先知所吩咐的、说、你们要去得为业之地是污秽之地、因列国之民的污秽、和可憎的事、叫全地从这边直到那边、满了污秽。<br>
<a name="015-9:12"></a>
<small>9:12</small> 所以不可将你们的女儿嫁他们的儿子、也不可为你们的儿子娶他们的女儿、永不可求他们的平安、和他们的利益、这样你们就可以强盛、吃这地的美物、并遗留这地给你们的子孙永远为业。<br>
<a name="015-9:13"></a>
<small>9:13</small> 　神阿、我们因自己的恶行和大罪、遭遇了这一切的事、并且你刑罚我们轻于我们罪所当得的、又给我们留下这些人．<br>
<a name="015-9:14"></a>
<small>9:14</small> 我们岂可再违背你的命令、与这行可憎之事的民结亲呢、若这样行、你岂不向我们发怒、将我们灭绝、以致没有一个剩下逃脱的人么。<br>
<a name="015-9:15"></a>
<small>9:15</small> 耶和华以色列的　神阿、因你是公义的、我们这剩下的人才得逃脱、正如今日的光景．看哪、我们在你面前有罪恶、因此无人在你面前站立得住。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-10"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>以斯拉记 10章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#015-10:1">1</a>
<a href="#015-10:2">2</a>
<a href="#015-10:3">3</a>
<a href="#015-10:4">4</a>
<a href="#015-10:5">5</a>
<a href="#015-10:6">6</a>
<a href="#015-10:7">7</a>
<a href="#015-10:8">8</a>
<a href="#015-10:9">9</a>
<a href="#015-10:10">10</a>
<a href="#015-10:11">11</a>
<a href="#015-10:12">12</a>
<a href="#015-10:13">13</a>
<a href="#015-10:14">14</a>
<a href="#015-10:15">15</a>
<a href="#015-10:16">16</a>
<a href="#015-10:17">17</a>
<a href="#015-10:18">18</a>
<a href="#015-10:19">19</a>
<a href="#015-10:20">20</a>
<a href="#015-10:21">21</a>
<a href="#015-10:22">22</a>
<a href="#015-10:23">23</a>
<a href="#015-10:24">24</a>
<a href="#015-10:25">25</a>
<a href="#015-10:26">26</a>
<a href="#015-10:27">27</a>
<a href="#015-10:28">28</a>
<a href="#015-10:29">29</a>
<a href="#015-10:30">30</a>
<a href="#015-10:31">31</a>
<a href="#015-10:32">32</a>
<a href="#015-10:33">33</a>
<a href="#015-10:34">34</a>
<a href="#015-10:35">35</a>
<a href="#015-10:36">36</a>
<a href="#015-10:37">37</a>
<a href="#015-10:38">38</a>
<a href="#015-10:39">39</a>
<a href="#015-10:40">40</a>
<a href="#015-10:41">41</a>
<a href="#015-10:42">42</a>
<a href="#015-10:43">43</a>
<a href="#015-10:44">44</a>
</small>
<br><br>
<a name="015-10:1"></a>
<small>10:1</small> 以斯拉祷告、认罪、哭泣、俯伏在　神殿前的时候、有以色列中的男女孩童、聚集到以斯拉那里、成了大会．众民无不痛哭。<br>
<a name="015-10:2"></a>
<small>10:2</small> 属以拦的子孙、耶歇的儿子示迦尼、对以斯拉说、我们在此地娶了外邦女子为妻、干犯了我们的　神、然而以色列人还有指望。<br>
<a name="015-10:3"></a>
<small>10:3</small> 现在当与我们的　神立约、休这一切的妻、离绝他们所生的、照着我主和那因　神命令战兢之人所议定的、按律法而行。<br>
<a name="015-10:4"></a>
<small>10:4</small> 你起来、这是你当办的事、我们必帮助你、你当奋勉而行。<br>
<a name="015-10:5"></a>
<small>10:5</small> 以斯拉便起来、使祭司长、和利未人、并以色列众人起誓、说、必照这话去行．他们就起了誓。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-10:6"></a>
<small>10:6</small> 以斯拉从　神殿前起来、进入以利亚实的儿子约哈难的屋里、到了那里不吃饭、也不喝水．因为被掳归回之人所犯的罪、心里悲伤。<br>
<a name="015-10:7"></a>
<small>10:7</small> 他们通告犹大和耶路撒冷被掳归回的人、叫他们在耶路撒冷聚集．<br>
<a name="015-10:8"></a>
<small>10:8</small> 凡不遵首领和长老所议定三日之内不来的、就必抄他的家、使他离开被掳归回之人的会。<br>
<a name="015-10:9"></a>
<small>10:9</small> 于是犹大和便雅悯众人、三日之内都聚集在耶路撒冷．那日正是九月二十日、众人都坐在　神殿前的宽阔处．因这事、又因下大雨、就都战兢。<br>
<a name="015-10:10"></a>
<small>10:10</small> 祭司以斯拉站起来、对他们说、你们有罪了．因你们娶了外邦的女子为妻、增添以色列人的罪恶。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-10:11"></a>
<small>10:11</small> 现在当向耶和华你们列祖的　神认罪、遵行他的旨意、离绝这些国的民、和外邦的女子。<br>
<a name="015-10:12"></a>
<small>10:12</small> 会众都大声回答说、我们必照着你的话行．<br>
<a name="015-10:13"></a>
<small>10:13</small> 只是百姓众多、又逢大雨的时令、我们不能站在外头、这也不是一两天办完的事、因我们在这事上犯了大罪。<br>
<a name="015-10:14"></a>
<small>10:14</small> 不如为全会众派首领办理．凡我们城邑中娶外邦女子为妻的、当按所定的日期、同着本城的长老和士师而来、直到办完这事．　神的烈怒就转离我们了。<br>
<a name="015-10:15"></a>
<small>10:15</small> 惟有亚撒黑的儿子约拿单、特瓦的儿子雅哈谢、阻挡〔或作总办〕这事、并有米书兰、和利未人沙比太帮助他们。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-10:16"></a>
<small>10:16</small> 被掳归回的人如此而行。祭司以斯拉和些族长、按着宗族、都指名见派、在十月初一日、一同在座查办这事。<br>
<a name="015-10:17"></a>
<small>10:17</small> 到正月初一日、才查清娶外邦女子的人数。<br>
<a name="015-10:18"></a>
<small>10:18</small> 在祭司中查出娶外邦女子为妻的、就是耶书亚的子孙约萨达的儿子、和他弟兄玛西雅、以利以谢、雅立、基大利、<br>
<a name="015-10:19"></a>
<small>10:19</small> 他们便应许必休他们的妻．他们因有罪、就献群中的一只公绵羊赎罪。<br>
<a name="015-10:20"></a>
<small>10:20</small> 音麦的子孙中、有哈拿尼、西巴第雅。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-10:21"></a>
<small>10:21</small> 哈琳的子孙中、有玛西雅、以利雅、示玛雅、耶歇、乌西雅。<br>
<a name="015-10:22"></a>
<small>10:22</small> 巴施户珥的子孙中、有以利约乃、玛西雅、以实玛利、拿坦业、约撒拔、以利亚撒。<br>
<a name="015-10:23"></a>
<small>10:23</small> 利未人中、有约撒拔、示每、基拉雅、基拉雅就是基利他．还有毗他希雅、犹大、以利以谢。<br>
<a name="015-10:24"></a>
<small>10:24</small> 歌唱的人中、有以利亚实。守门的人中、有沙龙、提联、乌利。<br>
<a name="015-10:25"></a>
<small>10:25</small> 以色列人巴录的子孙中、有拉米、耶西雅、玛基雅、米雅民、以利亚撒、玛基雅、比拿雅。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-10:26"></a>
<small>10:26</small> 以拦的子孙中、有玛他尼、撒迦利亚、耶歇、押底、耶利末、以利雅。<br>
<a name="015-10:27"></a>
<small>10:27</small> 萨土的子孙中、有以利约乃、以利亚实、玛他尼、耶利末、撒拔、亚西撒。<br>
<a name="015-10:28"></a>
<small>10:28</small> 比拜的子孙中、有约哈难、哈拿尼雅、萨拜、亚勒。<br>
<a name="015-10:29"></a>
<small>10:29</small> 巴尼的子孙中、有米书兰、玛鹿、亚大雅、雅述、示押、耶利末。<br>
<a name="015-10:30"></a>
<small>10:30</small> 巴哈摩押的子孙中、有阿底拿、基拉、比拿雅、玛西雅、玛他尼、比撒列、宾内、玛拿西。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-10:31"></a>
<small>10:31</small> 哈琳的子孙中、有以利以谢、伊示雅、玛基雅、示玛雅、西缅、<br>
<a name="015-10:32"></a>
<small>10:32</small> 便雅悯、玛鹿、示玛利雅。<br>
<a name="015-10:33"></a>
<small>10:33</small> 哈顺的子孙中、有玛特乃、玛达他、撒拔、以利法列、耶利买、玛拿西、示每。<br>
<a name="015-10:34"></a>
<small>10:34</small> 巴尼的子孙中、有玛玳、暗兰、乌益、<br>
<a name="015-10:35"></a>
<small>10:35</small> 比拿雅、比底雅、基禄、<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-10:36"></a>
<small>10:36</small> 瓦尼雅、米利末、以利亚实、<br>
<a name="015-10:37"></a>
<small>10:37</small> 玛他尼、玛特乃、雅扫、<br>
<a name="015-10:38"></a>
<small>10:38</small> 巴尼、宾内、示每、<br>
<a name="015-10:39"></a>
<small>10:39</small> 示利米雅、拿单、亚大雅、<br>
<a name="015-10:40"></a>
<small>10:40</small> 玛拿底拜、沙赛、沙赖、<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="015-10:41"></a>
<small>10:41</small> 亚萨利、示利米雅、示玛利雅、<br>
<a name="015-10:42"></a>
<small>10:42</small> 沙龙、亚玛利雅、约瑟。<br>
<a name="015-10:43"></a>
<small>10:43</small> 尼波的子孙中、有耶利、玛他提雅、撒拔、西比拿、雅玳、约珥、比拿雅。<br>
<a name="015-10:44"></a>
<small>10:44</small> 这些人都娶了外邦女子为妻、其中也有生了儿女的。<br>
<br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<h5>END <a href="index.htm#000"><small>《</small></a></h5>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<ins datetime="2011:02:15">015 以斯拉记 Ezra
</ins><br>
<br><b>圣经 简体和合本</b><br><br>
</body>
</html>
