<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<title>罗马书</title>
<meta name="description" content=
"圣经简体和合本 - 罗马书。Simplified Chinese Bible Union version - Romans">
<meta name="keywords" content="圣经简体和合本, 罗马书, 
Simplified Chinese Bible Union version, Romans">
<style type="text/css">body {font-size:150%}</style>
<script type="text/javascript">
cssfile = "";
function loadcss(filename) {
 cssfile = filename;
 var fileref=document.createElement("link")
 fileref.setAttribute("rel", "stylesheet");
 fileref.setAttribute("type", "text/css");
 fileref.setAttribute("href", filename);
 if (typeof fileref!="undefined")
  {document.getElementsByTagName("head")[0].appendChild(fileref);}
}
</script>
</head>
<body bgcolor="#ffffff">
<a name="top"></a><br>
 &nbsp; &nbsp; &nbsp; &nbsp; 
 <a href="javascript:loadcss('font1.css')"><font size="1">A</font></a> 
 &nbsp; &nbsp; &nbsp; &nbsp; 
 <a href="javascript:loadcss('font2.css')"><font size="2">A</font></a> 
 &nbsp; &nbsp; &nbsp; &nbsp; 
 <a href="javascript:loadcss('font3.css')"><font size="3">A</font></a> 
 &nbsp; &nbsp; &nbsp; &nbsp; 
 <a href="javascript:loadcss('font4.css')"><font size="4">A</font></a> 
<h3 align="center">106 罗马书 Romans</h3>
<h5 align="center">圣经 简体和合本</h5>
<center>
<a href="index.htm#000">&nbsp;&lt;&nbsp;</a>
<a href="#106-1">1</a>
<a href="#106-2">2</a>
<a href="#106-3">3</a>
<a href="#106-4">4</a>
<a href="#106-5">5</a>
<a href="#106-6">6</a>
<a href="#106-7">7</a>
<a href="#106-8">8</a>
<a href="#106-9">9</a>
<a href="#106-10">10</a>
<a href="#106-11">11</a>
<a href="#106-12">12</a>
<a href="#106-13">13</a>
<a href="#106-14">14</a>
<a href="#106-15">15</a>
<a href="#106-16">16</a>
</center>
<a name="106-1"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>罗马书 1章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#106-1:1">1</a>
<a href="#106-1:2">2</a>
<a href="#106-1:3">3</a>
<a href="#106-1:4">4</a>
<a href="#106-1:5">5</a>
<a href="#106-1:6">6</a>
<a href="#106-1:7">7</a>
<a href="#106-1:8">8</a>
<a href="#106-1:9">9</a>
<a href="#106-1:10">10</a>
<a href="#106-1:11">11</a>
<a href="#106-1:12">12</a>
<a href="#106-1:13">13</a>
<a href="#106-1:14">14</a>
<a href="#106-1:15">15</a>
<a href="#106-1:16">16</a>
<a href="#106-1:17">17</a>
<a href="#106-1:18">18</a>
<a href="#106-1:19">19</a>
<a href="#106-1:20">20</a>
<a href="#106-1:21">21</a>
<a href="#106-1:22">22</a>
<a href="#106-1:23">23</a>
<a href="#106-1:24">24</a>
<a href="#106-1:25">25</a>
<a href="#106-1:26">26</a>
<a href="#106-1:27">27</a>
<a href="#106-1:28">28</a>
<a href="#106-1:29">29</a>
<a href="#106-1:30">30</a>
<a href="#106-1:31">31</a>
<a href="#106-1:32">32</a>
</small>
<br><br>
<a name="106-1:1"></a>
<small>1:1</small> 耶稣基督的仆人保罗、奉召为使徒、特派传　神的福音．<br>
<a name="106-1:2"></a>
<small>1:2</small> 这福音是　神从前借众先知、在圣经上所应许的、<br>
<a name="106-1:3"></a>
<small>1:3</small> 论到他儿子我主耶稣基督．按肉体说、是从大卫后裔生的、<br>
<a name="106-1:4"></a>
<small>1:4</small> 按圣善的灵说、因从死里复活、以大能显明是　神的儿子。<br>
<a name="106-1:5"></a>
<small>1:5</small> 我们从他受了恩惠、并使徒的职分、在万国之中叫人为他的名信服真道．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-1:6"></a>
<small>1:6</small> 其中也有你们这蒙召属耶稣基督的人。<br>
<a name="106-1:7"></a>
<small>1:7</small> 我写信给你们在罗马为　神所爱、奉召作圣徒的众人。愿恩惠平安、从我们的父　神、并主耶稣基督、归与你们。<br>
<a name="106-1:8"></a>
<small>1:8</small> 第一、我靠着耶稣基督、为你们众人感谢我的　神．因你们的信德传遍了天下。<br>
<a name="106-1:9"></a>
<small>1:9</small> 我在他儿子福音上、用心灵所事奉的　神、可以见证我怎样不住的提到你们、<br>
<a name="106-1:10"></a>
<small>1:10</small> 在祷告之间、常常恳求、或者照　神的旨意、终能得平坦的道路往你们那里去。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-1:11"></a>
<small>1:11</small> 因为我切切的想见你们、要把些属灵的恩赐分给你们、使你们可以坚固．<br>
<a name="106-1:12"></a>
<small>1:12</small> 这样我在你们中间、因你与我彼此的信心、就可以同得安慰。<br>
<a name="106-1:13"></a>
<small>1:13</small> 弟兄们、我不愿意你们不知道、我屡次定意往你们那里去、要在你们中间得些果子、如同在其余的外邦人中一样．只是到如今仍有阻隔。<br>
<a name="106-1:14"></a>
<small>1:14</small> 无论是希利尼人、化外人、聪明人、愚拙人、我都欠他们的债。<br>
<a name="106-1:15"></a>
<small>1:15</small> 所以情愿尽我的力量、将福音也传给你们在罗马的人。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-1:16"></a>
<small>1:16</small> 我不以福音为耻．这福音本是　神的大能、要救一切相信的、先是犹太人、后是希利尼人。<br>
<a name="106-1:17"></a>
<small>1:17</small> 因为　神的义、正在这福音上显明出来．这义是本于信、以致于信．如经上所记、『义人必因信得生。』<br>
<a name="106-1:18"></a>
<small>1:18</small> 原来　神的忿怒、从天上显明在一切不虔不义的人身上、就是那些行不义阻挡真理的人。<br>
<a name="106-1:19"></a>
<small>1:19</small> 　神的事情、人所能知道的、原显明在人心里．因为　神已经给他们显明。<br>
<a name="106-1:20"></a>
<small>1:20</small> 自从造天地以来、　神的永能和神性是明明可知的、虽是眼不能见、但借着所造之物、就可以晓得、叫人无可推诿．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-1:21"></a>
<small>1:21</small> 因为他们虽然知道　神、却不当作　神荣耀他、也不感谢他．他们的思念变为虚妄、无知的心就昏暗了．<br>
<a name="106-1:22"></a>
<small>1:22</small> 自称为聪明、反成了愚拙、<br>
<a name="106-1:23"></a>
<small>1:23</small> 将不能朽坏之　神的荣耀、变为偶像、彷彿必朽坏的人、和飞禽走兽昆虫的样式。<br>
<a name="106-1:24"></a>
<small>1:24</small> 所以　神任凭他们、逞着心里的情欲行污秽的事、以致彼此玷辱自己的身体。<br>
<a name="106-1:25"></a>
<small>1:25</small> 他们将　神的真实变为虚谎、去敬拜事奉受造之物、不敬奉那造物的主．主乃是可称颂的、直到永远。阿们。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-1:26"></a>
<small>1:26</small> 因此　神任凭他们放纵可羞耻的情欲．他们的女人、把顺性的用处、变为逆性的用处．<br>
<a name="106-1:27"></a>
<small>1:27</small> 男人也是如此、弃了女人顺性的用处、欲火攻心、彼此贪恋、男和男行可羞耻的事、就在自己身上受这妄为当得的报应。<br>
<a name="106-1:28"></a>
<small>1:28</small> 他们既然故意不认识　神、　神就任凭他们存邪僻的心、行那些不合理的事．<br>
<a name="106-1:29"></a>
<small>1:29</small> 装满了各样不义、邪恶、贪婪、恶毒．〔或作阴毒〕满心是嫉妒、凶杀、争竞、诡诈、毒恨．<br>
<a name="106-1:30"></a>
<small>1:30</small> 又是谗毁的、背后说人的、怨恨　神的、〔或作被　神所憎恶的〕侮慢人的、狂傲的、自夸的、捏造恶事的、违背父母的、<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-1:31"></a>
<small>1:31</small> 无知的、背约的、无亲情的、不怜悯人的．<br>
<a name="106-1:32"></a>
<small>1:32</small> 他们虽知道　神判定、行这样事的人是当死的、然而他们不但自己去行、还喜欢别人去行。<br>
<a name="106-2"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>罗马书 2章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#106-2:1">1</a>
<a href="#106-2:2">2</a>
<a href="#106-2:3">3</a>
<a href="#106-2:4">4</a>
<a href="#106-2:5">5</a>
<a href="#106-2:6">6</a>
<a href="#106-2:7">7</a>
<a href="#106-2:8">8</a>
<a href="#106-2:9">9</a>
<a href="#106-2:10">10</a>
<a href="#106-2:11">11</a>
<a href="#106-2:12">12</a>
<a href="#106-2:13">13</a>
<a href="#106-2:14">14</a>
<a href="#106-2:15">15</a>
<a href="#106-2:16">16</a>
<a href="#106-2:17">17</a>
<a href="#106-2:18">18</a>
<a href="#106-2:19">19</a>
<a href="#106-2:20">20</a>
<a href="#106-2:21">21</a>
<a href="#106-2:22">22</a>
<a href="#106-2:23">23</a>
<a href="#106-2:24">24</a>
<a href="#106-2:25">25</a>
<a href="#106-2:26">26</a>
<a href="#106-2:27">27</a>
<a href="#106-2:28">28</a>
<a href="#106-2:29">29</a>
</small>
<br><br>
<a name="106-2:1"></a>
<small>2:1</small> 你这论断人的、无论你是谁、也无可推诿、你在甚么事上论断人、就在甚么事上定自己的罪．因你这论断人的、自己所行却和别人一样。<br>
<a name="106-2:2"></a>
<small>2:2</small> 我们知道这样行的人、　神必照真理审判他。<br>
<a name="106-2:3"></a>
<small>2:3</small> 你这人哪、你论断行这样事的人、自己所行的却和别人一样、你以为能逃脱　神的审判么。<br>
<a name="106-2:4"></a>
<small>2:4</small> 还是你藐视他丰富的恩慈、宽容、忍耐、不晓得他的恩慈是领你悔改呢．<br>
<a name="106-2:5"></a>
<small>2:5</small> 你竟任着你刚硬不悔改的心、为自己积蓄忿怒、以致　神震怒、显他公义审判的日子来到。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-2:6"></a>
<small>2:6</small> 他必照各人的行为报应各人．<br>
<a name="106-2:7"></a>
<small>2:7</small> 凡恒心行善、寻求荣耀尊贵、和不能朽坏之福的、就以永生报应他们．<br>
<a name="106-2:8"></a>
<small>2:8</small> 惟有结党不顺从真理、反顺从不义的、就以忿怒恼恨报应他们．<br>
<a name="106-2:9"></a>
<small>2:9</small> 将患难、困苦、加给一切作恶的人、先是犹太人、后是希利尼人．<br>
<a name="106-2:10"></a>
<small>2:10</small> 却将荣耀、尊贵、平安、加给一切行善的人、先是犹太人、后是希利尼人．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-2:11"></a>
<small>2:11</small> 因为　神不偏待人。<br>
<a name="106-2:12"></a>
<small>2:12</small> 凡没有律法犯了罪的、也必不按律法灭亡．凡在律法以下犯了罪的、也必按律法受审判、<br>
<a name="106-2:13"></a>
<small>2:13</small> （原来在　神面前、不是听律法的为义、乃是行律法的称义．<br>
<a name="106-2:14"></a>
<small>2:14</small> 没有律法的外邦人、若顺着本性行律法上的事、他们虽然没有律法、自己就是自己的律法．<br>
<a name="106-2:15"></a>
<small>2:15</small> 这是显出律法的功用刻在他们心里、他们是非之心同作见证、并且他们的思念互相较量、或以为是、或以为非)<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-2:16"></a>
<small>2:16</small> 就在　神借耶稣基督审判人隐秘事的日子、照着我的福音所言。<br>
<a name="106-2:17"></a>
<small>2:17</small> 你称为犹太人、又倚靠律法、且指着　神夸口．<br>
<a name="106-2:18"></a>
<small>2:18</small> 既从律法中受了教训、就晓得　神的旨意、也能分别是非、〔或作也喜爱那美好的事〕<br>
<a name="106-2:19"></a>
<small>2:19</small> 又深信自己是给瞎子领路的、是黑暗中人的光、<br>
<a name="106-2:20"></a>
<small>2:20</small> 是蠢笨人的师傅、是小孩子的先生、在律法上有知识和真理的模范。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-2:21"></a>
<small>2:21</small> 你既是教导别人、还不教导自己么．你讲说人不可偷窃、自己还偷窃么．<br>
<a name="106-2:22"></a>
<small>2:22</small> 你说人不可奸淫、自己还奸淫么．你厌恶偶像、自己还偷窃庙中之物么．<br>
<a name="106-2:23"></a>
<small>2:23</small> 你指着律法夸口、自己倒犯律法、玷辱　神么。<br>
<a name="106-2:24"></a>
<small>2:24</small> 　神的名在外邦人中、因你们受了亵渎、正如经上所记的。<br>
<a name="106-2:25"></a>
<small>2:25</small> 你若是行律法的、割礼固然于你有益．若是犯律法的、你的割礼就算不得割礼。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-2:26"></a>
<small>2:26</small> 所以那未受割礼的、若遵守律法的条例、他虽然未受割礼、岂不算是有割礼么。<br>
<a name="106-2:27"></a>
<small>2:27</small> 而且那本来未受割礼的、若能全守律法、岂不是要审判你这有仪文和割礼竟犯律法的人么。<br>
<a name="106-2:28"></a>
<small>2:28</small> 因为外面作犹太人的、不是真犹太人、外面肉身的割礼、也不是真割礼．<br>
<a name="106-2:29"></a>
<small>2:29</small> 惟有里面作的、才是真犹太人．真割礼也是心里的、在乎灵不在乎仪文．这人的称赞、不是从人来的、乃是从　神来的。<br>
<a name="106-3"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>罗马书 3章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#106-3:1">1</a>
<a href="#106-3:2">2</a>
<a href="#106-3:3">3</a>
<a href="#106-3:4">4</a>
<a href="#106-3:5">5</a>
<a href="#106-3:6">6</a>
<a href="#106-3:7">7</a>
<a href="#106-3:8">8</a>
<a href="#106-3:9">9</a>
<a href="#106-3:10">10</a>
<a href="#106-3:11">11</a>
<a href="#106-3:12">12</a>
<a href="#106-3:13">13</a>
<a href="#106-3:14">14</a>
<a href="#106-3:15">15</a>
<a href="#106-3:16">16</a>
<a href="#106-3:17">17</a>
<a href="#106-3:18">18</a>
<a href="#106-3:19">19</a>
<a href="#106-3:20">20</a>
<a href="#106-3:21">21</a>
<a href="#106-3:22">22</a>
<a href="#106-3:23">23</a>
<a href="#106-3:24">24</a>
<a href="#106-3:25">25</a>
<a href="#106-3:26">26</a>
<a href="#106-3:27">27</a>
<a href="#106-3:28">28</a>
<a href="#106-3:29">29</a>
<a href="#106-3:30">30</a>
<a href="#106-3:31">31</a>
</small>
<br><br>
<a name="106-3:1"></a>
<small>3:1</small> 这样说来、犹太人有甚么长处、割礼有甚么益处呢．<br>
<a name="106-3:2"></a>
<small>3:2</small> 凡事大有好处．第一是　神的圣言交托他们。<br>
<a name="106-3:3"></a>
<small>3:3</small> 即便有不信的、这有何妨呢．难道他们的不信、就废掉　神的信么。<br>
<a name="106-3:4"></a>
<small>3:4</small> 断乎不能．不如说、　神是真实的、人都是虚谎的．如经上所记、『你责备人的时候、显为公义．被人议论的时候、可以得胜。』<br>
<a name="106-3:5"></a>
<small>3:5</small> 我且照着人的常话说、我们的不义、若显出　神的义来、我们可以怎么说呢．　神降怒、是他不义么．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-3:6"></a>
<small>3:6</small> 断乎不是．若是这样、　神怎能审判世界呢。<br>
<a name="106-3:7"></a>
<small>3:7</small> 若　神的真实、因我的虚谎、越发显出他的荣耀、为甚么我还受审判、好像罪人呢。<br>
<a name="106-3:8"></a>
<small>3:8</small> 为甚么不说、我们可以作恶以成善呢、这是毁谤我们的人、说我们有这话．这等人定罪、是该当的。<br>
<a name="106-3:9"></a>
<small>3:9</small> 这却怎么样呢．我们比他们强么．决不是的．因我们已经证明、犹太人和希利尼人都在罪恶之下．<br>
<a name="106-3:10"></a>
<small>3:10</small> 就如经上所记、『没有义人、连一个也没有．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-3:11"></a>
<small>3:11</small> 没有明白的、没有寻求　神的．<br>
<a name="106-3:12"></a>
<small>3:12</small> 都是偏离正路、一同变为无用．没有行善的、连一个也没有。<br>
<a name="106-3:13"></a>
<small>3:13</small> 他们的喉咙是敞开的坟墓．他们用舌头弄诡诈．嘴唇里有虺蛇的毒气．<br>
<a name="106-3:14"></a>
<small>3:14</small> 满口是咒骂苦毒．<br>
<a name="106-3:15"></a>
<small>3:15</small> 杀人流血他们的脚飞跑．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-3:16"></a>
<small>3:16</small> 所经过的路、便行残害暴虐的事．<br>
<a name="106-3:17"></a>
<small>3:17</small> 平安的路、他们未曾知道．<br>
<a name="106-3:18"></a>
<small>3:18</small> 他们眼中不怕　神。』<br>
<a name="106-3:19"></a>
<small>3:19</small> 我们晓得律法上的话、都是对律法以下之人说的、好塞住各人的口、叫普世的人都伏在　神审判之下．<br>
<a name="106-3:20"></a>
<small>3:20</small> 所以凡有血气的没有一个、因行律法、能在　神面前称义．因为律法本是叫人知罪。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-3:21"></a>
<small>3:21</small> 但如今　神的义在律法以外已经显明出来、有律法和先知为证．<br>
<a name="106-3:22"></a>
<small>3:22</small> 就是　神的义、因信耶稣基督、加给一切相信的人、并没有分别．<br>
<a name="106-3:23"></a>
<small>3:23</small> 因为世人都犯了罪、亏缺了　神的荣耀。<br>
<a name="106-3:24"></a>
<small>3:24</small> 如今却蒙　神的恩典、因基督耶稣的救赎、就白白的称义。<br>
<a name="106-3:25"></a>
<small>3:25</small> 　神设立耶稣作挽回祭、是凭着耶稣的血、借着人的信、要显明　神的义．因为他用忍耐的心、宽容人先时所犯的罪．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-3:26"></a>
<small>3:26</small> 好在今时显明他的义、使人知道他自己为义、也称信耶稣的人为义。<br>
<a name="106-3:27"></a>
<small>3:27</small> 既是这样、那里能夸口呢．没有可夸的了。用何法没有的呢、是用立功之法么．不是、乃用信主之法。<br>
<a name="106-3:28"></a>
<small>3:28</small> 所以〔有古卷作因为〕我们看定了、人称义是因着信、不在乎遵行律法。<br>
<a name="106-3:29"></a>
<small>3:29</small> 难道　神只作犹太人的　神么．不也是作外邦人的　神么．是的、也作外邦人的　神。<br>
<a name="106-3:30"></a>
<small>3:30</small> 　神既是一位、他就要因信称那受割礼的为义、也要因信称那未受割礼的为义。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-3:31"></a>
<small>3:31</small> 这样、我们因信废了律法么．断乎不是、更是坚固律法。<br>
<a name="106-4"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>罗马书 4章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#106-4:1">1</a>
<a href="#106-4:2">2</a>
<a href="#106-4:3">3</a>
<a href="#106-4:4">4</a>
<a href="#106-4:5">5</a>
<a href="#106-4:6">6</a>
<a href="#106-4:7">7</a>
<a href="#106-4:8">8</a>
<a href="#106-4:9">9</a>
<a href="#106-4:10">10</a>
<a href="#106-4:11">11</a>
<a href="#106-4:12">12</a>
<a href="#106-4:13">13</a>
<a href="#106-4:14">14</a>
<a href="#106-4:15">15</a>
<a href="#106-4:16">16</a>
<a href="#106-4:17">17</a>
<a href="#106-4:18">18</a>
<a href="#106-4:19">19</a>
<a href="#106-4:20">20</a>
<a href="#106-4:21">21</a>
<a href="#106-4:22">22</a>
<a href="#106-4:23">23</a>
<a href="#106-4:24">24</a>
<a href="#106-4:25">25</a>
</small>
<br><br>
<a name="106-4:1"></a>
<small>4:1</small> 如此说来、我们的祖宗亚伯拉罕、凭着肉体得了甚么呢。<br>
<a name="106-4:2"></a>
<small>4:2</small> 倘若亚伯拉罕是因行为称义、就有可夸的．只是在　神面前并无可夸。<br>
<a name="106-4:3"></a>
<small>4:3</small> 经上说甚么呢．说、『亚伯拉罕信　神、这就算为他的义。』<br>
<a name="106-4:4"></a>
<small>4:4</small> 作工的得工价、不算恩典、乃是该得的、<br>
<a name="106-4:5"></a>
<small>4:5</small> 惟有不作工的、只信称罪人为义的　神、他的信就算为义。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-4:6"></a>
<small>4:6</small> 正如大卫称那在行为以外、蒙　神算为义的人是有福的。<br>
<a name="106-4:7"></a>
<small>4:7</small> 他说、『得赦免其过、遮盖其罪的、这人是有福的。<br>
<a name="106-4:8"></a>
<small>4:8</small> 主不算为有罪的、这人是有福的。』<br>
<a name="106-4:9"></a>
<small>4:9</small> 如此看来、这福是单加给那受割礼的人么．不也是加给那未受割礼的人么．因我们所说、亚伯拉罕的信、就算为他的义。<br>
<a name="106-4:10"></a>
<small>4:10</small> 是怎么算的呢．是在他受割礼的时候呢．是在他未受割礼的时候呢．不是在受割礼的时候、乃是在未受割礼的时候。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-4:11"></a>
<small>4:11</small> 并且他受了割礼的记号、作他未受割礼的时候因信称义的印证、叫他作一切未受割礼而信之人的父、使他们也算为义．<br>
<a name="106-4:12"></a>
<small>4:12</small> 又作受割礼之人的父、就是那些不但受割礼、并且按我们的祖宗亚伯拉罕、未受割礼而信之踪迹去行的人。<br>
<a name="106-4:13"></a>
<small>4:13</small> 因为　神应许亚伯拉罕和他后裔、必得承受世界、不是因律法、乃是因信而得的义。<br>
<a name="106-4:14"></a>
<small>4:14</small> 若是属乎律法的人、才得为后嗣、信就归于虚空、应许也就废弃了。<br>
<a name="106-4:15"></a>
<small>4:15</small> 因为律法是惹动忿怒的．〔或作叫人受刑的〕那里没有律法、那里就没有过犯。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-4:16"></a>
<small>4:16</small> 所以人得为后嗣是本乎信．因此就属乎恩．叫应许定然归给一切后裔．不但归给那属乎律法的、也归给那效法亚伯拉罕之信的。<br>
<a name="106-4:17"></a>
<small>4:17</small> 亚伯拉罕所信的、是那叫死人复活使无变为有的　神、他在主面前作我们世人的父．如经上所记、『我已经立你作多国的父。』<br>
<a name="106-4:18"></a>
<small>4:18</small> 他在无可指望的时候、因信仍有指望、就得以作多国的父、正如先前所说、『你的后裔将要如此。』<br>
<a name="106-4:19"></a>
<small>4:19</small> 他将近百岁的时候、虽然想到自己的身体如同已死、撒拉的生育已经断绝、他的信心还是不软弱．<br>
<a name="106-4:20"></a>
<small>4:20</small> 并且仰望　神的应许、总没有因不信、心里起疑惑．反倒因信、心里得坚固、将荣耀归给　神。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-4:21"></a>
<small>4:21</small> 且满心相信、　神所应许的必能作成．<br>
<a name="106-4:22"></a>
<small>4:22</small> 所以这就算为他的义。<br>
<a name="106-4:23"></a>
<small>4:23</small> 算为他义的这句话、不是单为他写的、<br>
<a name="106-4:24"></a>
<small>4:24</small> 也是为我们将来得算为义之人写的．就是我们这信　神使我们的主耶稣从死里复活的人。<br>
<a name="106-4:25"></a>
<small>4:25</small> 耶稣被交给人、是为我们的过犯、复活、是为叫我们称义。〔或作耶稣是为我们的过犯交付了是为我们称义复活了〕<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-5"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>罗马书 5章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#106-5:1">1</a>
<a href="#106-5:2">2</a>
<a href="#106-5:3">3</a>
<a href="#106-5:4">4</a>
<a href="#106-5:5">5</a>
<a href="#106-5:6">6</a>
<a href="#106-5:7">7</a>
<a href="#106-5:8">8</a>
<a href="#106-5:9">9</a>
<a href="#106-5:10">10</a>
<a href="#106-5:11">11</a>
<a href="#106-5:12">12</a>
<a href="#106-5:13">13</a>
<a href="#106-5:14">14</a>
<a href="#106-5:15">15</a>
<a href="#106-5:16">16</a>
<a href="#106-5:17">17</a>
<a href="#106-5:18">18</a>
<a href="#106-5:19">19</a>
<a href="#106-5:20">20</a>
<a href="#106-5:21">21</a>
</small>
<br><br>
<a name="106-5:1"></a>
<small>5:1</small> 我们既因信称义、就借着我们的主耶稣基督、得与　神相和。<br>
<a name="106-5:2"></a>
<small>5:2</small> 我们又借着他、因信得进入现在所站的这恩典中、并且欢欢喜喜盼望　神的荣耀。<br>
<a name="106-5:3"></a>
<small>5:3</small> 不但如此、就是在患难中、也是欢欢喜喜的．因为知道患难生忍耐．<br>
<a name="106-5:4"></a>
<small>5:4</small> 忍耐生老练．老练生盼望．<br>
<a name="106-5:5"></a>
<small>5:5</small> 盼望不至于羞耻．因为所赐给我们的圣灵、将　神的爱浇灌在我们心里。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-5:6"></a>
<small>5:6</small> 因我们还软弱的时候、基督就按所定的日期为罪人死。<br>
<a name="106-5:7"></a>
<small>5:7</small> 为义人死、是少有的、为仁人死、或者有敢作的。<br>
<a name="106-5:8"></a>
<small>5:8</small> 惟有基督在我们还作罪人的时候为我们死、　神的爱就在此向我们显明了。<br>
<a name="106-5:9"></a>
<small>5:9</small> 现在我们既靠着他的血称义、就更要借着他免去　神的忿怒。<br>
<a name="106-5:10"></a>
<small>5:10</small> 因为我们作仇敌的时候、且借着　神儿子的死、得与　神和好、既已和好、就更要因他的生得救了。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-5:11"></a>
<small>5:11</small> 不但如此、我们既借着我主耶稣基督、得与　神和好、也就借着他、以　神为乐。<br>
<a name="106-5:12"></a>
<small>5:12</small> 这就如罪是从一人入了世界、死又是从罪来的、于是死就临到众人、因为众人都犯了罪。<br>
<a name="106-5:13"></a>
<small>5:13</small> 没有律法之先、罪已经在世上．但没有律法、罪也不算罪。<br>
<a name="106-5:14"></a>
<small>5:14</small> 然而从亚当到摩西死就作了王、连那些不与亚当犯一样罪过的、也在他的权下．亚当乃是那以后要来之人的预像。<br>
<a name="106-5:15"></a>
<small>5:15</small> 只是过犯不如恩赐．若因一人的过犯、众人都死了、何况　神的恩典、与那因耶稣基督一人恩典中的赏赐、岂不更加倍的临到众人么。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-5:16"></a>
<small>5:16</small> 因一人犯罪就定罪、也不如恩赐．原来审判是由一人而定罪、恩赐乃是由许多过犯而称义。<br>
<a name="106-5:17"></a>
<small>5:17</small> 若因一人的过犯、死就因这一人作了王、何况那些受洪恩又蒙所赐之义的、岂不更要因耶稣基督一人在生命中作王么。<br>
<a name="106-5:18"></a>
<small>5:18</small> 如此说来、因一次的过犯、众人都被定罪、照样、因一次的义行、众人也就被称义得生命了。<br>
<a name="106-5:19"></a>
<small>5:19</small> 因一人的悖逆、众人成为罪人、照样、因一人的顺从、众人也成为义了。<br>
<a name="106-5:20"></a>
<small>5:20</small> 律法本是外添的、叫过犯显多．只是罪在那里显多、恩典就更显多了。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-5:21"></a>
<small>5:21</small> 就如罪作王叫人死、照样、恩典也借着义作王、叫人因我们的主耶稣基督得永生。<br>
<a name="106-6"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>罗马书 6章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#106-6:1">1</a>
<a href="#106-6:2">2</a>
<a href="#106-6:3">3</a>
<a href="#106-6:4">4</a>
<a href="#106-6:5">5</a>
<a href="#106-6:6">6</a>
<a href="#106-6:7">7</a>
<a href="#106-6:8">8</a>
<a href="#106-6:9">9</a>
<a href="#106-6:10">10</a>
<a href="#106-6:11">11</a>
<a href="#106-6:12">12</a>
<a href="#106-6:13">13</a>
<a href="#106-6:14">14</a>
<a href="#106-6:15">15</a>
<a href="#106-6:16">16</a>
<a href="#106-6:17">17</a>
<a href="#106-6:18">18</a>
<a href="#106-6:19">19</a>
<a href="#106-6:20">20</a>
<a href="#106-6:21">21</a>
<a href="#106-6:22">22</a>
<a href="#106-6:23">23</a>
</small>
<br><br>
<a name="106-6:1"></a>
<small>6:1</small> 这样、怎么说呢．我们可以仍在罪中、叫恩典显多么。<br>
<a name="106-6:2"></a>
<small>6:2</small> 断乎不可．我们在罪上死了的人、岂可仍在罪中活着呢。<br>
<a name="106-6:3"></a>
<small>6:3</small> 岂不知我们这受洗归入基督耶稣的人、是受洗归入他的死么。<br>
<a name="106-6:4"></a>
<small>6:4</small> 所以我们借着洗礼归入死、和他一同埋葬．原是叫我们一举一动有新生的样式、像基督借着父的荣耀、从死里复活一样。<br>
<a name="106-6:5"></a>
<small>6:5</small> 我们若在他死的形状上与他联合、也要在他复活的形状上与他联合．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-6:6"></a>
<small>6:6</small> 因为知道我们的旧人、和他同钉十字架、使罪身灭绝、叫我们不再作罪的奴仆．<br>
<a name="106-6:7"></a>
<small>6:7</small> 因为已死的人、是脱离了罪。<br>
<a name="106-6:8"></a>
<small>6:8</small> 我们若是与基督同死、就信必与他同活．<br>
<a name="106-6:9"></a>
<small>6:9</small> 因为知道基督既从死里复活、就不再死、死也不再作他的主了。<br>
<a name="106-6:10"></a>
<small>6:10</small> 他死是向罪死了、只有一次．他活是向　神活着。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-6:11"></a>
<small>6:11</small> 这样、你们向罪也当看自己是死的．向　神在基督耶稣里、却当看自己是活的。<br>
<a name="106-6:12"></a>
<small>6:12</small> 所以不要容罪在你们必死的身上作王、使你们顺从身子的私欲．<br>
<a name="106-6:13"></a>
<small>6:13</small> 也不要将你们的肢体献给罪作不义的器具．倒要像从死里复活的人、将自己献给　神．并将肢体作义的器具献给　神。<br>
<a name="106-6:14"></a>
<small>6:14</small> 罪必不能作你们的主．因你们不在律法之下、乃在恩典之下。<br>
<a name="106-6:15"></a>
<small>6:15</small> 这却怎么样呢．我们在恩典之下、不在律法之下、就可以犯罪么．断乎不可。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-6:16"></a>
<small>6:16</small> 岂不晓得你们献上自己作奴仆、顺从谁、就作谁的奴仆么．或作罪的奴仆、以至于死．或作顺命的奴仆、以至成义。<br>
<a name="106-6:17"></a>
<small>6:17</small> 感谢　神、因为你们从前虽然作罪的奴仆、现今却从心里顺服了所传给你们道理的模范。<br>
<a name="106-6:18"></a>
<small>6:18</small> 你们既从罪里得了释放、就作了义的奴仆。<br>
<a name="106-6:19"></a>
<small>6:19</small> 我因你们肉体的软弱、就照人的常话对你们说、你们从前怎样将肢体献给不洁不法作奴仆、以至于不法．现今也要照样将肢体献给义作奴仆、以至于成圣．<br>
<a name="106-6:20"></a>
<small>6:20</small> 因为你们作罪之奴仆的时候、就不被义约束了。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-6:21"></a>
<small>6:21</small> 你们现今所看为羞耻的事、当日有甚么果子呢．那些事的结局就是死。<br>
<a name="106-6:22"></a>
<small>6:22</small> 但现今你们既从罪里得了释放、作了　神的奴仆、就有成圣的果子、那结局就是永生。<br>
<a name="106-6:23"></a>
<small>6:23</small> 因为罪的工价乃是死．惟有　神的恩赐、在我们的主基督耶稣里、乃是永生。<br>
<a name="106-7"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>罗马书 7章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#106-7:1">1</a>
<a href="#106-7:2">2</a>
<a href="#106-7:3">3</a>
<a href="#106-7:4">4</a>
<a href="#106-7:5">5</a>
<a href="#106-7:6">6</a>
<a href="#106-7:7">7</a>
<a href="#106-7:8">8</a>
<a href="#106-7:9">9</a>
<a href="#106-7:10">10</a>
<a href="#106-7:11">11</a>
<a href="#106-7:12">12</a>
<a href="#106-7:13">13</a>
<a href="#106-7:14">14</a>
<a href="#106-7:15">15</a>
<a href="#106-7:16">16</a>
<a href="#106-7:17">17</a>
<a href="#106-7:18">18</a>
<a href="#106-7:19">19</a>
<a href="#106-7:20">20</a>
<a href="#106-7:21">21</a>
<a href="#106-7:22">22</a>
<a href="#106-7:23">23</a>
<a href="#106-7:24">24</a>
<a href="#106-7:25">25</a>
</small>
<br><br>
<a name="106-7:1"></a>
<small>7:1</small> 弟兄们、我现在对明白律法的人说、你们岂不晓得律法管人是在活着的时候么。<br>
<a name="106-7:2"></a>
<small>7:2</small> 就如女人有了丈夫、丈夫还活着、就被律法约束．丈夫若死了、就脱离了丈夫的律法。<br>
<a name="106-7:3"></a>
<small>7:3</small> 所以丈夫活着、他若归于别人、便叫淫妇．丈夫若死了、他就脱离了丈夫的律法、虽然归于别人、也不是淫妇。<br>
<a name="106-7:4"></a>
<small>7:4</small> 我的弟兄们、这样说来、你们借着基督的身体、在律法上也是死了．叫你们归于别人、就是归于那从死里复活的、叫我们结果子给　神。<br>
<a name="106-7:5"></a>
<small>7:5</small> 因为我们属肉体的时候、那因律法而生的恶欲、就在我们肢体中发动、以致结成死亡的果子．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-7:6"></a>
<small>7:6</small> 但我们既然在捆我们的律法上死了、现今就脱离了律法．叫我们服事主、要按着心灵的新样、不按着仪文的旧样。〔心灵或作圣灵〕<br>
<a name="106-7:7"></a>
<small>7:7</small> 这样、我们可说甚么呢．律法是罪么．断乎不是．只是非因律法、我就不知何为罪．非律法说、『不可起贪心。』我就不知何为贪心。<br>
<a name="106-7:8"></a>
<small>7:8</small> 然而罪趁着机会、就借着诫命叫诸般的贪心在我里头发动．因为没有律法罪是死的。<br>
<a name="106-7:9"></a>
<small>7:9</small> 我以前没有律法是活着的、但是诫命来到、罪又活了、我就死了。<br>
<a name="106-7:10"></a>
<small>7:10</small> 那本来叫人活的诫命、反倒叫我死．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-7:11"></a>
<small>7:11</small> 因为罪趁着机会、就借着诫命引诱我、并且杀了我。<br>
<a name="106-7:12"></a>
<small>7:12</small> 这样看来、律法是圣洁的、诫命也是圣洁、公义、良善的。<br>
<a name="106-7:13"></a>
<small>7:13</small> 既然如此、那良善的是叫我死么．断乎不是．叫我死的乃是罪。但罪借着那良善的叫我死、就显出真是罪．叫罪因着诫命更显出是恶极了。<br>
<a name="106-7:14"></a>
<small>7:14</small> 我们原晓得律法是属乎灵的、但我是属乎肉体的、是已经卖给罪了。<br>
<a name="106-7:15"></a>
<small>7:15</small> 因为我所作的、我自己不明白．我所愿意的、我并不作．我所恨恶的、我倒去作。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-7:16"></a>
<small>7:16</small> 若我所作的、是我所不愿意的、我就应承律法是善的。<br>
<a name="106-7:17"></a>
<small>7:17</small> 既是这样、就不是我作的、乃是住在我里头的罪作的。<br>
<a name="106-7:18"></a>
<small>7:18</small> 我也知道、在我里头、就是我肉体之中、没有良善．因为立志为善由得我、只是行出来由不得我。<br>
<a name="106-7:19"></a>
<small>7:19</small> 故此、我所愿意的善、我反不作．我所不愿意的恶、我倒去作。<br>
<a name="106-7:20"></a>
<small>7:20</small> 若我去作所不愿意作的、就不是我作的、乃是住在我里头的罪作的。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-7:21"></a>
<small>7:21</small> 我觉得有个律、就是我愿意为善的时候、便有恶与我同在。<br>
<a name="106-7:22"></a>
<small>7:22</small> 因为按着我里面的意思。〔原文作人〕我是喜欢　神的律．<br>
<a name="106-7:23"></a>
<small>7:23</small> 但我觉得肢体中另有个律、和我心中的律交战、把我掳去叫我附从那肢体中犯罪的律。<br>
<a name="106-7:24"></a>
<small>7:24</small> 我真是苦阿、谁能救我脱离这取死的身体呢。<br>
<a name="106-7:25"></a>
<small>7:25</small> 感谢　神、靠着我们的主耶稣基督就能脱离了。这样看来、我以内心顺服　神的律．我肉体却顺服罪的律了。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-8"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>罗马书 8章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#106-8:1">1</a>
<a href="#106-8:2">2</a>
<a href="#106-8:3">3</a>
<a href="#106-8:4">4</a>
<a href="#106-8:5">5</a>
<a href="#106-8:6">6</a>
<a href="#106-8:7">7</a>
<a href="#106-8:8">8</a>
<a href="#106-8:9">9</a>
<a href="#106-8:10">10</a>
<a href="#106-8:11">11</a>
<a href="#106-8:12">12</a>
<a href="#106-8:13">13</a>
<a href="#106-8:14">14</a>
<a href="#106-8:15">15</a>
<a href="#106-8:16">16</a>
<a href="#106-8:17">17</a>
<a href="#106-8:18">18</a>
<a href="#106-8:19">19</a>
<a href="#106-8:20">20</a>
<a href="#106-8:21">21</a>
<a href="#106-8:22">22</a>
<a href="#106-8:23">23</a>
<a href="#106-8:24">24</a>
<a href="#106-8:25">25</a>
<a href="#106-8:26">26</a>
<a href="#106-8:27">27</a>
<a href="#106-8:28">28</a>
<a href="#106-8:29">29</a>
<a href="#106-8:30">30</a>
<a href="#106-8:31">31</a>
<a href="#106-8:32">32</a>
<a href="#106-8:33">33</a>
<a href="#106-8:34">34</a>
<a href="#106-8:35">35</a>
<a href="#106-8:36">36</a>
<a href="#106-8:37">37</a>
<a href="#106-8:38">38</a>
<a href="#106-8:39">39</a>
</small>
<br><br>
<a name="106-8:1"></a>
<small>8:1</small> 如今那些在基督耶稣里的、就不定罪了。<br>
<a name="106-8:2"></a>
<small>8:2</small> 因为赐生命圣灵的律、在基督耶稣里释放了我、使我脱离罪和死的律了。<br>
<a name="106-8:3"></a>
<small>8:3</small> 律法既因肉体软弱、有所不能行的、　神就差遣自己的儿子、成为罪身的形状、作了赎罪祭、在肉体中定了罪案．<br>
<a name="106-8:4"></a>
<small>8:4</small> 使律法的义、成就在我们这不随从肉体、只随从圣灵的人身上。<br>
<a name="106-8:5"></a>
<small>8:5</small> 因为随从肉体的人、体贴肉体的事．随从圣灵的人、体贴圣灵的事。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-8:6"></a>
<small>8:6</small> 体贴肉体的就是死．体贴圣灵的乃是生命平安．<br>
<a name="106-8:7"></a>
<small>8:7</small> 原来体贴肉体的、就是与　神为仇．因为不服　神的律法、也是不能服。<br>
<a name="106-8:8"></a>
<small>8:8</small> 而且属肉体的人、不能得　神的喜欢。<br>
<a name="106-8:9"></a>
<small>8:9</small> 如果　神的灵住在你们心里、你们就不属肉体、乃属圣灵了．人若没有基督的灵、就不是属基督的。<br>
<a name="106-8:10"></a>
<small>8:10</small> 基督若在你们心里、身体就因罪而死、心灵却因义而活．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-8:11"></a>
<small>8:11</small> 然而叫耶稣从死里复活者的灵、若住在你们心里、那叫基督耶稣从死里复活的、也必借着住在你们心里的圣灵、使你们必死的身体又活过来。<br>
<a name="106-8:12"></a>
<small>8:12</small> 弟兄们、这样看来、我们并不是欠肉体的债、去顺从肉体活着。<br>
<a name="106-8:13"></a>
<small>8:13</small> 你们若顺从肉体活着必要死．若靠着圣灵治死身体的恶行必要活着。<br>
<a name="106-8:14"></a>
<small>8:14</small> 因为凡被　神的灵引导的、都是　神的儿子。<br>
<a name="106-8:15"></a>
<small>8:15</small> 你们所受的不是奴仆的心、仍旧害怕．所受的乃是儿子的心、因此我们呼叫阿爸、父。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-8:16"></a>
<small>8:16</small> 圣灵与我们的心同证我们是　神的儿女．<br>
<a name="106-8:17"></a>
<small>8:17</small> 既是儿女、便是后嗣、就是　神的后嗣、和基督同作后嗣．如果我们和他一同受苦、也必和他一同得荣耀。<br>
<a name="106-8:18"></a>
<small>8:18</small> 我想现在的苦楚、若比起将来要显于我们的荣耀、就不足介意了。<br>
<a name="106-8:19"></a>
<small>8:19</small> 受造之物、切望等候　神的众子显出来。<br>
<a name="106-8:20"></a>
<small>8:20</small> 因为受造之物服在虚空之下、不是自己愿意、乃是因那叫他如此的。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-8:21"></a>
<small>8:21</small> 但受造之物仍然指望脱离败坏的辖制、得享　神儿女自由的荣耀。〔享原文作入〕<br>
<a name="106-8:22"></a>
<small>8:22</small> 我们知道一切受造之物、一同叹息劳苦、直到如今。<br>
<a name="106-8:23"></a>
<small>8:23</small> 不但如此、就是我们这有圣灵初结果子的、也是自己心里叹息、等候得着儿子的名分、乃是我们的身体得赎。<br>
<a name="106-8:24"></a>
<small>8:24</small> 我们得救是在乎盼望．只是所见的盼望不是盼望．谁还盼望他所见的呢。〔有古卷作人所看见的何必再盼望呢〕<br>
<a name="106-8:25"></a>
<small>8:25</small> 但我们若盼望那所不见的、就必忍耐等候。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-8:26"></a>
<small>8:26</small> 况且我们的软弱有圣灵帮助、我们本不晓得当怎样祷告、只是圣灵亲自用说不出来的叹息、替我们祷告。<br>
<a name="106-8:27"></a>
<small>8:27</small> 鉴察人心的、晓得圣灵的意思．因为圣灵照着　神的旨意替圣徒祈求。<br>
<a name="106-8:28"></a>
<small>8:28</small> 我们晓得万事都互相效力、叫爱　神的人得益处、就是按他旨意被召的人。<br>
<a name="106-8:29"></a>
<small>8:29</small> 因为他预先所知道的人、就预先定下效法他儿子的模样使他儿子在许多弟兄中作长子．<br>
<a name="106-8:30"></a>
<small>8:30</small> 预先所定下的人又召他们来．所召来的人、又称他们为义．所称为义的人、又叫他们得荣耀。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-8:31"></a>
<small>8:31</small> 既是这样、还有甚么说的呢．　神若帮助我们、谁能敌挡我们呢。<br>
<a name="106-8:32"></a>
<small>8:32</small> 　神既不爱惜自己的儿子为我们众人舍了、岂不也把万物和他一同白白的赐给我们么。<br>
<a name="106-8:33"></a>
<small>8:33</small> 谁能控告　神所拣选的人呢．有　神称他们为义了。〔或作是称他们为义的　神么〕<br>
<a name="106-8:34"></a>
<small>8:34</small> 谁能定他们的罪呢．有基督耶稣已经死了、而且从死里复活、现今在　神的右边、也替我们祈求。〔有基督云云或作是已经死了而且从死里复活现今在　神的右边也替我们祈求的基督耶稣么〕<br>
<a name="106-8:35"></a>
<small>8:35</small> 谁能使我们与基督的爱隔绝呢．难道是患难么、是困苦么、是逼迫么、是饥饿么、是赤身露体么、是危险么、是刀剑么。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-8:36"></a>
<small>8:36</small> 如经上所记、『我们为你的缘故、终日被杀．人看我们如将宰的羊。』<br>
<a name="106-8:37"></a>
<small>8:37</small> 然而靠着爱我们的主、在这一切的事上、已经得胜有余了。<br>
<a name="106-8:38"></a>
<small>8:38</small> 因为我深信无论是死、是生、是天使、是掌权的、是有能的、是现在的事、是将来的事、<br>
<a name="106-8:39"></a>
<small>8:39</small> 是高处的、是低处的、是别的受造之物、都不能叫我们与　神的爱隔绝．这爱是在我们的主基督耶稣里的。<br>
<a name="106-9"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>罗马书 9章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#106-9:1">1</a>
<a href="#106-9:2">2</a>
<a href="#106-9:3">3</a>
<a href="#106-9:4">4</a>
<a href="#106-9:5">5</a>
<a href="#106-9:6">6</a>
<a href="#106-9:7">7</a>
<a href="#106-9:8">8</a>
<a href="#106-9:9">9</a>
<a href="#106-9:10">10</a>
<a href="#106-9:11">11</a>
<a href="#106-9:12">12</a>
<a href="#106-9:13">13</a>
<a href="#106-9:14">14</a>
<a href="#106-9:15">15</a>
<a href="#106-9:16">16</a>
<a href="#106-9:17">17</a>
<a href="#106-9:18">18</a>
<a href="#106-9:19">19</a>
<a href="#106-9:20">20</a>
<a href="#106-9:21">21</a>
<a href="#106-9:22">22</a>
<a href="#106-9:23">23</a>
<a href="#106-9:24">24</a>
<a href="#106-9:25">25</a>
<a href="#106-9:26">26</a>
<a href="#106-9:27">27</a>
<a href="#106-9:28">28</a>
<a href="#106-9:29">29</a>
<a href="#106-9:30">30</a>
<a href="#106-9:31">31</a>
<a href="#106-9:32">32</a>
<a href="#106-9:33">33</a>
</small>
<br><br>
<a name="106-9:1"></a>
<small>9:1</small> 我在基督里说真话、并不谎言、有我良心被圣灵感动、给我作见证．<br>
<a name="106-9:2"></a>
<small>9:2</small> 我是大有忧愁、心里时常伤痛。<br>
<a name="106-9:3"></a>
<small>9:3</small> 为我弟兄、我骨肉之亲、就是自己被咒诅、与基督分离、我也愿意。<br>
<a name="106-9:4"></a>
<small>9:4</small> 他们是以色列人．那儿子的名分、荣耀、诸约、律法、礼仪、应许、都是他们的．<br>
<a name="106-9:5"></a>
<small>9:5</small> 列祖就是他们的祖宗、按肉体说、基督也是从他们出来的、他是在万有之上、永远可称颂的　神。阿们。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-9:6"></a>
<small>9:6</small> 这不是说　神的话落了空．因为从以色列生的、不都是以色列人．<br>
<a name="106-9:7"></a>
<small>9:7</small> 也不因为是亚伯拉罕的后裔、就都作他的儿女．惟独『从以撒生的、才要称为你的后裔。』<br>
<a name="106-9:8"></a>
<small>9:8</small> 这就是说、肉身所生的儿女、不是　神的儿女．惟独那应许的儿女、才算是后裔。<br>
<a name="106-9:9"></a>
<small>9:9</small> 因为所应许的话是这样说、『到明年这时候我要来、撒拉必生一个儿子。』<br>
<a name="106-9:10"></a>
<small>9:10</small> 不但如此、还有利百加、既从一个人、就是从我们的祖宗以撒怀了孕．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-9:11"></a>
<small>9:11</small> （双子还没有生下来、善恶还没有作出来、只因要显明　神拣选人的旨意、不在乎人的行为、乃在乎召人的主)<br>
<a name="106-9:12"></a>
<small>9:12</small> 　神就对利百加说、『将来大的要服事小的。』<br>
<a name="106-9:13"></a>
<small>9:13</small> 正如经上所记、『雅各是我所爱的、以扫是我所恶的。』<br>
<a name="106-9:14"></a>
<small>9:14</small> 这样、我们可说甚么呢．难道　神有甚么不公平么．断乎没有。<br>
<a name="106-9:15"></a>
<small>9:15</small> 因他对摩西说、『我要怜悯谁、就怜悯谁、要恩待谁、就恩待谁。』<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-9:16"></a>
<small>9:16</small> 据此看来、这不在乎那定意的、也不在乎那奔跑的、只在乎发怜悯的　神。<br>
<a name="106-9:17"></a>
<small>9:17</small> 因为经上有话向法老说、『我将你兴起来、特要在你身上彰显我的权能、并要使我的名传遍天下。』<br>
<a name="106-9:18"></a>
<small>9:18</small> 如此看来、　神要怜悯谁、就怜悯谁、要叫谁刚硬、就叫谁刚硬。<br>
<a name="106-9:19"></a>
<small>9:19</small> 这样、你必对我说、他为甚么还指责人呢．有谁抗拒他的旨意呢。<br>
<a name="106-9:20"></a>
<small>9:20</small> 你这个人哪、你是谁、竟敢向　神强嘴呢．受造之物岂能对造他的说、你为甚么这样造我呢。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-9:21"></a>
<small>9:21</small> 窑匠难道没有权柄、从一团泥里拿一块作成贵重的器皿、又拿一块作成卑贱的器皿么。<br>
<a name="106-9:22"></a>
<small>9:22</small> 倘若　神要显明他的忿怒、彰显他的权能、就多多忍耐宽容那可怒预备遭毁灭的器皿．<br>
<a name="106-9:23"></a>
<small>9:23</small> 又要将他丰盛的荣耀、彰显在那蒙怜悯早预备得荣耀的器皿上．<br>
<a name="106-9:24"></a>
<small>9:24</small> 这器皿就是我们被　神所召的、不但是从犹太人中、也是从外邦人中、这有甚么不可呢。<br>
<a name="106-9:25"></a>
<small>9:25</small> 就像　神在何西阿书上说、『那本来不是我子民的、我要称为我的子民．本来不是蒙爱的、我要称为蒙爱的。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-9:26"></a>
<small>9:26</small> 从前在甚么地方对他们说、你们不是我的子民、将来就在那里称他们为永生　神的儿子。』<br>
<a name="106-9:27"></a>
<small>9:27</small> 以赛亚指着以色列人喊着说、『以色列人虽多如海沙、得救的不过是剩下的余数．<br>
<a name="106-9:28"></a>
<small>9:28</small> 因为主要在世上施行他的话、叫他的话都成全、速速的完结。』<br>
<a name="106-9:29"></a>
<small>9:29</small> 又如以赛亚先前说过、『若不是万军之主给我们存留余种、我们早已像所多玛、蛾摩拉的样子了。』<br>
<a name="106-9:30"></a>
<small>9:30</small> 这样、我们可说甚么呢．那本来不追求义的外邦人、反得了义、就是因信而得的义．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-9:31"></a>
<small>9:31</small> 但以色列人追求律法的义、反得不着律法的义。<br>
<a name="106-9:32"></a>
<small>9:32</small> 这是甚么缘故呢．是因为他们不凭着信心求、只凭着行为求．他们正跌在那绊脚石上．<br>
<a name="106-9:33"></a>
<small>9:33</small> 就如经上所记、『我在锡安放一块绊脚的石头、跌人的磐石．信靠他的人必不至于羞愧。』<br>
<a name="106-10"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>罗马书 10章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#106-10:1">1</a>
<a href="#106-10:2">2</a>
<a href="#106-10:3">3</a>
<a href="#106-10:4">4</a>
<a href="#106-10:5">5</a>
<a href="#106-10:6">6</a>
<a href="#106-10:7">7</a>
<a href="#106-10:8">8</a>
<a href="#106-10:9">9</a>
<a href="#106-10:10">10</a>
<a href="#106-10:11">11</a>
<a href="#106-10:12">12</a>
<a href="#106-10:13">13</a>
<a href="#106-10:14">14</a>
<a href="#106-10:15">15</a>
<a href="#106-10:16">16</a>
<a href="#106-10:17">17</a>
<a href="#106-10:18">18</a>
<a href="#106-10:19">19</a>
<a href="#106-10:20">20</a>
<a href="#106-10:21">21</a>
</small>
<br><br>
<a name="106-10:1"></a>
<small>10:1</small> 弟兄们、我心里所愿的、向　神所求的、是要以色列人得救。<br>
<a name="106-10:2"></a>
<small>10:2</small> 我可以证明他们向　神有热心、但不是按着真知识．<br>
<a name="106-10:3"></a>
<small>10:3</small> 因为不知道　神的义、想要立自己的义、就不服　神的义了。<br>
<a name="106-10:4"></a>
<small>10:4</small> 律法的总结就是基督、使凡信他的都得着义。<br>
<a name="106-10:5"></a>
<small>10:5</small> 摩西写着说、『人若行那出于律法的义、就必因此活着。』<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-10:6"></a>
<small>10:6</small> 惟有出于信心的义如此说、『你不要心里说、谁要升到天上去呢．就是要领下基督来．<br>
<a name="106-10:7"></a>
<small>10:7</small> 谁要下到阴间去呢．就是要领基督从死里上来。』<br>
<a name="106-10:8"></a>
<small>10:8</small> 他到底怎么说呢．他说、『这道离你不远、正在你口里、在你心里。』就是我们所传信主的道。<br>
<a name="106-10:9"></a>
<small>10:9</small> 你若口里认耶稣为主、心里信　神叫他从死里复活、就必得救．<br>
<a name="106-10:10"></a>
<small>10:10</small> 因为人心里相信、就可以称义．口里承认、就可以得救。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-10:11"></a>
<small>10:11</small> 经上说、『凡信他的人、必不至于羞愧。』<br>
<a name="106-10:12"></a>
<small>10:12</small> 犹太人和希利尼人、并没有分别．因为众人同有一位主、他也厚待一切求告他的人．<br>
<a name="106-10:13"></a>
<small>10:13</small> 因为『凡求告主名的、就必得救。』<br>
<a name="106-10:14"></a>
<small>10:14</small> 然而人未曾信他、怎能求他呢．未曾听见他、怎能信他呢．没有传道的、怎能听见呢。<br>
<a name="106-10:15"></a>
<small>10:15</small> 若没有奉差遣、怎能传道呢．如经上所记、『报福音传喜信的人、他们的脚踪何等佳美。』<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-10:16"></a>
<small>10:16</small> 只是人没有都听从福音．因为以赛亚说、『主阿、我们所传的有谁信呢。』<br>
<a name="106-10:17"></a>
<small>10:17</small> 可见信道是从听道来的、听道是从基督的话来的。<br>
<a name="106-10:18"></a>
<small>10:18</small> 但我说、人没有听见么．诚然听见了．『他们的声音传遍天下、他们的言语传到地极。』<br>
<a name="106-10:19"></a>
<small>10:19</small> 我再说、以色列人不知道么．先有摩西说、『我要用那不成子民的、惹动你们的愤恨．我要用那无知的民、触动你们的怒气。』<br>
<a name="106-10:20"></a>
<small>10:20</small> 又有以赛亚放胆说、『没有寻找我的、我叫他们遇见．没有访问我的、我向他们显现。』<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-10:21"></a>
<small>10:21</small> 至于以色列人、他说、『我整天伸手招呼那悖逆顶嘴的百姓。』<br>
<a name="106-11"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>罗马书 11章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#106-11:1">1</a>
<a href="#106-11:2">2</a>
<a href="#106-11:3">3</a>
<a href="#106-11:4">4</a>
<a href="#106-11:5">5</a>
<a href="#106-11:6">6</a>
<a href="#106-11:7">7</a>
<a href="#106-11:8">8</a>
<a href="#106-11:9">9</a>
<a href="#106-11:10">10</a>
<a href="#106-11:11">11</a>
<a href="#106-11:12">12</a>
<a href="#106-11:13">13</a>
<a href="#106-11:14">14</a>
<a href="#106-11:15">15</a>
<a href="#106-11:16">16</a>
<a href="#106-11:17">17</a>
<a href="#106-11:18">18</a>
<a href="#106-11:19">19</a>
<a href="#106-11:20">20</a>
<a href="#106-11:21">21</a>
<a href="#106-11:22">22</a>
<a href="#106-11:23">23</a>
<a href="#106-11:24">24</a>
<a href="#106-11:25">25</a>
<a href="#106-11:26">26</a>
<a href="#106-11:27">27</a>
<a href="#106-11:28">28</a>
<a href="#106-11:29">29</a>
<a href="#106-11:30">30</a>
<a href="#106-11:31">31</a>
<a href="#106-11:32">32</a>
<a href="#106-11:33">33</a>
<a href="#106-11:34">34</a>
<a href="#106-11:35">35</a>
<a href="#106-11:36">36</a>
</small>
<br><br>
<a name="106-11:1"></a>
<small>11:1</small> 我且说、　神弃绝了他的百姓么．断乎没有．因为我也是以色列人、亚伯拉罕的后裔、属便雅悯支派的。<br>
<a name="106-11:2"></a>
<small>11:2</small> 　神并没有弃绝他预先所知道的百姓。你们岂不晓得经上论到以利亚是怎么说的呢．他在　神面前怎样控告以色列人、说、<br>
<a name="106-11:3"></a>
<small>11:3</small> 『主阿、他们杀了你的先知、拆了你的祭坛、只剩下我一个人、他们还要寻索我的命。』<br>
<a name="106-11:4"></a>
<small>11:4</small> 　神的回话是怎么说的呢．他说、『我为自己留下七千人、是未曾向巴力屈膝的。』<br>
<a name="106-11:5"></a>
<small>11:5</small> 如今也是这样、照着拣选的恩典还有所留的余数。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-11:6"></a>
<small>11:6</small> 既是出于恩典、就不在乎行为．不然、恩典就不是恩典了。<br>
<a name="106-11:7"></a>
<small>11:7</small> 这是怎么样呢．以色列人所求的、他们没有得着．惟有蒙拣选的人得着了、其余的就成了顽梗不化的．<br>
<a name="106-11:8"></a>
<small>11:8</small> 如经上所记、『　神给他们昏迷的心、眼睛不能看见、耳朵不能听见、直到今日。』<br>
<a name="106-11:9"></a>
<small>11:9</small> 大卫也说、『愿他们的筵席变为网罗、变为机槛、变为绊脚石、作他们的报应．<br>
<a name="106-11:10"></a>
<small>11:10</small> 愿他们的眼睛昏蒙、不得看见．愿你时常弯下他们的腰。』<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-11:11"></a>
<small>11:11</small> 我且说、他们失脚是要他们跌倒么．断乎不是．反倒因他们的过失、救恩便临到外邦人、要激动他们发愤。<br>
<a name="106-11:12"></a>
<small>11:12</small> 若他们的过失、为天下的富足、他们的缺乏、为外邦人的富足．何况他们的丰满呢。<br>
<a name="106-11:13"></a>
<small>11:13</small> 我对你们外邦人说这话．因我是外邦人的使徒、所以敬重我的职分．〔敬重原文作荣耀〕<br>
<a name="106-11:14"></a>
<small>11:14</small> 或者可以激动我骨肉之亲发愤、好救他们一些人。<br>
<a name="106-11:15"></a>
<small>11:15</small> 若他们被丢弃、天下就得与　神和好、他们被收纳、岂不是死而复生么。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-11:16"></a>
<small>11:16</small> 所献的新面若是圣洁、全团也就圣洁了．树根若是圣洁、树枝也就圣洁了。<br>
<a name="106-11:17"></a>
<small>11:17</small> 若有几根枝子被折下来、你这野橄榄得接在其中、一同得着橄榄根的肥汁．<br>
<a name="106-11:18"></a>
<small>11:18</small> 你就不可向旧枝子夸口、若是夸口、当知道不是你托着根、乃是根托着你。<br>
<a name="106-11:19"></a>
<small>11:19</small> 你若说、那枝子被折下来、是特为叫我接上。<br>
<a name="106-11:20"></a>
<small>11:20</small> 不错．他们因为不信、所以被折下来．你因为信、所以立得住．你不可自高、反要惧怕。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-11:21"></a>
<small>11:21</small> 　神既不爱惜原来的枝子、也必不爱惜你。<br>
<a name="106-11:22"></a>
<small>11:22</small> 可见　神的恩慈、和严厉．向那跌倒的人、是严厉的．向你是有恩慈的．只要你长久在他的恩慈里．不然、你也要被砍下来。<br>
<a name="106-11:23"></a>
<small>11:23</small> 而且他们若不是长久不信、仍要被接上．因为　神能够把他们从新接上。<br>
<a name="106-11:24"></a>
<small>11:24</small> 你是从那天生的野橄榄上砍下来的、尚且逆着性得接在好橄榄上、何况这本树的枝子、要接在本树上呢。<br>
<a name="106-11:25"></a>
<small>11:25</small> 弟兄们、我不愿意你们不知道这奥秘、（恐怕你们自以为聪明)就是以色列人有几分是硬心的、等到外邦人的数目添满了．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-11:26"></a>
<small>11:26</small> 于是以色列全家都要得救、如经上所记、『必有一位救主、从锡安出来、要消除雅各家的一切罪恶。』<br>
<a name="106-11:27"></a>
<small>11:27</small> 又说、『我除去他们罪的时候、这就是我与他们所立的约。』<br>
<a name="106-11:28"></a>
<small>11:28</small> 就着福音说、他们为你们的缘故是仇敌．就着拣选说、他们为列祖的缘故是蒙爱的。<br>
<a name="106-11:29"></a>
<small>11:29</small> 因为　神的恩赐和选召、是没有后悔的。<br>
<a name="106-11:30"></a>
<small>11:30</small> 你们从前不顺服　神、如今因他们的不顺服、你们倒蒙了怜恤．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-11:31"></a>
<small>11:31</small> 这样、他们也是不顺服、叫他们因着施给你们的怜恤、现在也就蒙怜恤。<br>
<a name="106-11:32"></a>
<small>11:32</small> 因为　神将众人都圈在不顺服之中、特意要怜恤众人。<br>
<a name="106-11:33"></a>
<small>11:33</small> 深哉、　神丰富的智慧和知识。他的判断、何其难测、他的踪迹何其难寻、<br>
<a name="106-11:34"></a>
<small>11:34</small> 谁知道主的心、谁作过他的谋士呢、<br>
<a name="106-11:35"></a>
<small>11:35</small> 谁是先给了他、使他后来偿还呢。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-11:36"></a>
<small>11:36</small> 因为万有都是本于他、倚靠他、归于他．愿荣耀归给他、直到永远。阿们。<br>
<a name="106-12"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>罗马书 12章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#106-12:1">1</a>
<a href="#106-12:2">2</a>
<a href="#106-12:3">3</a>
<a href="#106-12:4">4</a>
<a href="#106-12:5">5</a>
<a href="#106-12:6">6</a>
<a href="#106-12:7">7</a>
<a href="#106-12:8">8</a>
<a href="#106-12:9">9</a>
<a href="#106-12:10">10</a>
<a href="#106-12:11">11</a>
<a href="#106-12:12">12</a>
<a href="#106-12:13">13</a>
<a href="#106-12:14">14</a>
<a href="#106-12:15">15</a>
<a href="#106-12:16">16</a>
<a href="#106-12:17">17</a>
<a href="#106-12:18">18</a>
<a href="#106-12:19">19</a>
<a href="#106-12:20">20</a>
<a href="#106-12:21">21</a>
</small>
<br><br>
<a name="106-12:1"></a>
<small>12:1</small> 所以弟兄们、我以　神的慈悲劝你们、将身体献上、当作活祭、是圣洁的、是　神所喜悦的．你们如此事奉、乃是理所当然的。<br>
<a name="106-12:2"></a>
<small>12:2</small> 不要效法这个世界．只要心意更新而变化、叫你们察验何为　神的善良、纯全可喜悦的旨意。<br>
<a name="106-12:3"></a>
<small>12:3</small> 我凭着所赐我的恩、对你们各人说、不要看自己过于所当看的．要照着　神所分给各人信心的大小、看得合乎中道。<br>
<a name="106-12:4"></a>
<small>12:4</small> 正如我们一个身子上有好些肢体、肢体也不都是一样的用处。<br>
<a name="106-12:5"></a>
<small>12:5</small> 我们这许多人、在基督里成为一身、互相联络作肢体、也是如此。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-12:6"></a>
<small>12:6</small> 按我们所得的恩赐、各有不同．或说预言、就当照着信心的程度说预言．<br>
<a name="106-12:7"></a>
<small>12:7</small> 或作执事、就当专一执事．或作教导的、就当专一教导．<br>
<a name="106-12:8"></a>
<small>12:8</small> 或作劝化的、就当专一劝化．施舍的、就当诚实．治理的、就当殷勤．怜悯人的、就当甘心。<br>
<a name="106-12:9"></a>
<small>12:9</small> 爱人不可虚假、恶要厌恶、善要亲近。<br>
<a name="106-12:10"></a>
<small>12:10</small> 爱弟兄、要彼此亲热．恭敬人、要彼此推让。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-12:11"></a>
<small>12:11</small> 殷勤不可懒惰．要心里火热．常常服事主。<br>
<a name="106-12:12"></a>
<small>12:12</small> 在指望中要喜乐．在患难中要忍耐。祷告要恒切．<br>
<a name="106-12:13"></a>
<small>12:13</small> 圣徒缺乏要帮补．客要一味的款待。<br>
<a name="106-12:14"></a>
<small>12:14</small> 逼迫你们的、要给他们祝福．只要祝福、不可咒诅。<br>
<a name="106-12:15"></a>
<small>12:15</small> 与喜乐的人要同乐．与哀哭的人要同哭。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-12:16"></a>
<small>12:16</small> 要彼此同心．不要志气高大、倒要俯就卑微的人。〔人或作事〕不要自以为聪明。<br>
<a name="106-12:17"></a>
<small>12:17</small> 不要以恶报恶、众人以为美的事、要留心去作。<br>
<a name="106-12:18"></a>
<small>12:18</small> 若是能行、总要尽力与众人和睦。<br>
<a name="106-12:19"></a>
<small>12:19</small> 亲爱的弟兄、不要自己伸冤、宁可让步、听凭主怒．〔或作让人发怒〕因为经上记着、『主说、伸冤在我．我必报应。』<br>
<a name="106-12:20"></a>
<small>12:20</small> 所以『你的仇敌若饿了、就给他吃．若渴了、就给他喝．因为你这样行、就是把炭火堆在他的头上。』<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-12:21"></a>
<small>12:21</small> 你不可为恶所胜、反要以善胜恶。<br>
<a name="106-13"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>罗马书 13章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#106-13:1">1</a>
<a href="#106-13:2">2</a>
<a href="#106-13:3">3</a>
<a href="#106-13:4">4</a>
<a href="#106-13:5">5</a>
<a href="#106-13:6">6</a>
<a href="#106-13:7">7</a>
<a href="#106-13:8">8</a>
<a href="#106-13:9">9</a>
<a href="#106-13:10">10</a>
<a href="#106-13:11">11</a>
<a href="#106-13:12">12</a>
<a href="#106-13:13">13</a>
<a href="#106-13:14">14</a>
</small>
<br><br>
<a name="106-13:1"></a>
<small>13:1</small> 在上有权柄的、人人当顺服他．因为没有权柄不是出于　神的．凡掌权的都是　神所命的。<br>
<a name="106-13:2"></a>
<small>13:2</small> 所以抗拒掌权的、就是抗拒　神的命．抗拒的必自取刑罚。<br>
<a name="106-13:3"></a>
<small>13:3</small> 作官的原不是叫行善的惧怕、乃是叫作恶的惧怕。你愿意不惧怕掌权的么．你只要行善、就可得他的称赞．<br>
<a name="106-13:4"></a>
<small>13:4</small> 因为他是　神的用人、是与你有益的。你若作恶、却当惧怕．因为他不是空空的佩剑．他是　神的用人、是伸冤的、刑罚那作恶的。<br>
<a name="106-13:5"></a>
<small>13:5</small> 所以你们必须顺服、不但是因为刑罚、也是因为良心。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-13:6"></a>
<small>13:6</small> 你们纳粮、也为这个缘故．因他们是　神的差役、常常特管这事。<br>
<a name="106-13:7"></a>
<small>13:7</small> 凡人所当得的、就给他．当得粮的、给他纳粮．当得税的、给他上税．当惧怕的、惧怕他．当恭敬的、恭敬他。<br>
<a name="106-13:8"></a>
<small>13:8</small> 凡事都不可亏欠人、惟有彼此相爱、要常以为亏欠．因为爱人的就完全了律法。<br>
<a name="106-13:9"></a>
<small>13:9</small> 像那不可奸淫、不可杀人、不可偷盗、不可贪婪、或有别的诫命、都包在爱人如己这一句话之内了。<br>
<a name="106-13:10"></a>
<small>13:10</small> 爱是不加害与人的、所以爱就完全了律法。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-13:11"></a>
<small>13:11</small> 再者、你们晓得现今就是该趁早睡醒的时候、因为我们得救、现今比初信的时候更近了。<br>
<a name="106-13:12"></a>
<small>13:12</small> 黑夜已深、白昼将近．我们就当脱去暗昧的行为、带上光明的兵器。<br>
<a name="106-13:13"></a>
<small>13:13</small> 行事为人要端正、好像行在白昼．不可荒宴醉酒．不可好色邪荡．不可争竞嫉妒。<br>
<a name="106-13:14"></a>
<small>13:14</small> 总要披戴主耶稣基督、不要为肉体安排、去放纵私欲。<br>
<a name="106-14"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>罗马书 14章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#106-14:1">1</a>
<a href="#106-14:2">2</a>
<a href="#106-14:3">3</a>
<a href="#106-14:4">4</a>
<a href="#106-14:5">5</a>
<a href="#106-14:6">6</a>
<a href="#106-14:7">7</a>
<a href="#106-14:8">8</a>
<a href="#106-14:9">9</a>
<a href="#106-14:10">10</a>
<a href="#106-14:11">11</a>
<a href="#106-14:12">12</a>
<a href="#106-14:13">13</a>
<a href="#106-14:14">14</a>
<a href="#106-14:15">15</a>
<a href="#106-14:16">16</a>
<a href="#106-14:17">17</a>
<a href="#106-14:18">18</a>
<a href="#106-14:19">19</a>
<a href="#106-14:20">20</a>
<a href="#106-14:21">21</a>
<a href="#106-14:22">22</a>
<a href="#106-14:23">23</a>
</small>
<br><br>
<a name="106-14:1"></a>
<small>14:1</small> 信心软弱的、你们要接纳、但不要辩论所疑惑的事。<br>
<a name="106-14:2"></a>
<small>14:2</small> 有人信百物都可吃．但那软弱的、只吃蔬菜。<br>
<a name="106-14:3"></a>
<small>14:3</small> 吃的人不可轻看不吃的人．不吃的人不可论断吃的人．因为　神已经收纳他了。<br>
<a name="106-14:4"></a>
<small>14:4</small> 你是谁、竟论断别人的仆人呢。他或站住、或跌倒、自有他的主人在．而且他也必要站住．因为主能使他站住。<br>
<a name="106-14:5"></a>
<small>14:5</small> 有人看这日比那日强、有人看日日都是一样．只是各人心里要意见坚定。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-14:6"></a>
<small>14:6</small> 守日的人、是为主守的．吃的人、是为主吃的、因他感谢　神．不吃的人、是为主不吃的、也感谢　神。<br>
<a name="106-14:7"></a>
<small>14:7</small> 我们没有一个人为自己活、也没有一个人为自己死。<br>
<a name="106-14:8"></a>
<small>14:8</small> 我们若活着、是为主而活．若死了、是为主而死．所以我们或活或死、总是主的人。<br>
<a name="106-14:9"></a>
<small>14:9</small> 因此基督死了、又活了、为要作死人并活人的主。<br>
<a name="106-14:10"></a>
<small>14:10</small> 你这个人、为甚么论断弟兄呢．又为甚么轻看弟兄呢．因我们都要站在　神的台前。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-14:11"></a>
<small>14:11</small> 经上写着、『主说、我凭着我的永生起誓、万膝必向我跪拜、万口必向我承认。』<br>
<a name="106-14:12"></a>
<small>14:12</small> 这样看来、我们各人必要将自己的事、在　神面前说明。<br>
<a name="106-14:13"></a>
<small>14:13</small> 所以我们不可再彼此论断．宁可定意谁也不给弟兄放下绊脚跌人之物。<br>
<a name="106-14:14"></a>
<small>14:14</small> 我凭着主耶稣确知深信、凡物本来没有不洁净的．惟独人以为不洁净的、在他就不洁净了。<br>
<a name="106-14:15"></a>
<small>14:15</small> 你若因食物叫弟兄忧愁、就不是按着爱人的道理行。基督已经替他死、你不可因你的食物叫他败坏。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-14:16"></a>
<small>14:16</small> 不可叫你的善被人毁谤．<br>
<a name="106-14:17"></a>
<small>14:17</small> 因为　神的国、不在乎吃喝、只在乎公义、和平、并圣灵中的喜乐。<br>
<a name="106-14:18"></a>
<small>14:18</small> 在这几样上服事基督的、就为　神所喜悦、又为人所称许。<br>
<a name="106-14:19"></a>
<small>14:19</small> 所以我们务要追求和睦的事、与彼此建立德行的事。<br>
<a name="106-14:20"></a>
<small>14:20</small> 不可因食物毁坏　神的工程．凡物固然洁净、但有人因食物叫人跌倒、就是他的罪了。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-14:21"></a>
<small>14:21</small> 无论是吃肉、是喝酒、是甚么别的事、叫弟兄跌倒、一概不作才好。<br>
<a name="106-14:22"></a>
<small>14:22</small> 你有信心、就当在　神面前守着。人在自己以为可行的事上、能不自责、就有福了。<br>
<a name="106-14:23"></a>
<small>14:23</small> 若有疑心而吃的、就必有罪．因为他吃、不是出于信心．凡不出于信心的都是罪。<br>
<a name="106-15"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>罗马书 15章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#106-15:1">1</a>
<a href="#106-15:2">2</a>
<a href="#106-15:3">3</a>
<a href="#106-15:4">4</a>
<a href="#106-15:5">5</a>
<a href="#106-15:6">6</a>
<a href="#106-15:7">7</a>
<a href="#106-15:8">8</a>
<a href="#106-15:9">9</a>
<a href="#106-15:10">10</a>
<a href="#106-15:11">11</a>
<a href="#106-15:12">12</a>
<a href="#106-15:13">13</a>
<a href="#106-15:14">14</a>
<a href="#106-15:15">15</a>
<a href="#106-15:16">16</a>
<a href="#106-15:17">17</a>
<a href="#106-15:18">18</a>
<a href="#106-15:19">19</a>
<a href="#106-15:20">20</a>
<a href="#106-15:21">21</a>
<a href="#106-15:22">22</a>
<a href="#106-15:23">23</a>
<a href="#106-15:24">24</a>
<a href="#106-15:25">25</a>
<a href="#106-15:26">26</a>
<a href="#106-15:27">27</a>
<a href="#106-15:28">28</a>
<a href="#106-15:29">29</a>
<a href="#106-15:30">30</a>
<a href="#106-15:31">31</a>
<a href="#106-15:32">32</a>
<a href="#106-15:33">33</a>
</small>
<br><br>
<a name="106-15:1"></a>
<small>15:1</small> 我们坚固的人、应该担代不坚固人的软弱、不求自己的喜悦。<br>
<a name="106-15:2"></a>
<small>15:2</small> 我们各人务要叫邻舍喜悦、使他得益处、建立德行。<br>
<a name="106-15:3"></a>
<small>15:3</small> 因为基督也不求自己的喜悦、如经上所记、『辱骂你人的辱骂、都落在我身上。』<br>
<a name="106-15:4"></a>
<small>15:4</small> 从前所写的圣经、都是为教训我们写的、叫我们因圣经所生的忍耐和安慰、可以得着盼望。<br>
<a name="106-15:5"></a>
<small>15:5</small> 但愿赐忍耐安慰的　神、叫你们彼此同心、效法基督耶稣．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-15:6"></a>
<small>15:6</small> 一心一口、荣耀　神、我们主耶稣基督的父。<br>
<a name="106-15:7"></a>
<small>15:7</small> 所以你们要彼此接纳、如同基督接纳你们一样、使荣耀归与　神。<br>
<a name="106-15:8"></a>
<small>15:8</small> 我说、基督是为　神真理作了受割礼人的执事、要证实所应许列祖的话。<br>
<a name="106-15:9"></a>
<small>15:9</small> 并叫外邦人、因他的怜悯、荣耀　神．如经上所记、『因此我要在外邦中称赞你、歌颂你的名。』<br>
<a name="106-15:10"></a>
<small>15:10</small> 又说、『你们外邦人、当与主的百姓一同欢乐。』<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-15:11"></a>
<small>15:11</small> 又说、『外邦阿、你们当赞美主．万民哪、你们都当颂赞他。』<br>
<a name="106-15:12"></a>
<small>15:12</small> 又有以赛亚说、『将来有耶西的根、就是那兴起来要治理外邦的．外邦人要仰望他。』<br>
<a name="106-15:13"></a>
<small>15:13</small> 但愿使人有盼望的　神、因信、将诸般的喜乐平安、充满你们的心、使你们借着圣灵的能力、大有盼望。<br>
<a name="106-15:14"></a>
<small>15:14</small> 弟兄们、我自己也深信你们是满有良善、充足了诸般的知识、也能彼此劝戒。<br>
<a name="106-15:15"></a>
<small>15:15</small> 但我稍微放胆写信给你们、是要提醒你们的记性、特因　神所给我的恩典、<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-15:16"></a>
<small>15:16</small> 使我为外邦人作基督耶稣的仆役、作　神福音的祭司、叫所献上的外邦人、因着圣灵、成为圣洁、可蒙悦纳。<br>
<a name="106-15:17"></a>
<small>15:17</small> 所以论到　神的事我在基督耶稣里有可夸的。<br>
<a name="106-15:18"></a>
<small>15:18</small> 除了基督借我作的那些事、我甚么都不敢提．只提他借我言语作为、用神迹奇事的能力、并圣灵的能力、使外邦人顺服．<br>
<a name="106-15:19"></a>
<small>15:19</small> 甚至我从耶路撒冷、直转到以利哩古、到处传了基督的福音。<br>
<a name="106-15:20"></a>
<small>15:20</small> 我立了志向、不在基督的名被称过的地方传福音、免得建造在别人的根基上．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-15:21"></a>
<small>15:21</small> 就如经上所记、『未曾闻知他信息的、将要看见．未曾听过的、将要明白。』<br>
<a name="106-15:22"></a>
<small>15:22</small> 我因多次被拦阻、总不得到你们那里去．<br>
<a name="106-15:23"></a>
<small>15:23</small> 但如今在这里再没有可传的地方、而且这好几年、我切心想望到士班雅去的时候、可以到你们那里．<br>
<a name="106-15:24"></a>
<small>15:24</small> 盼望从你们那里经过、得见你们、先与你们彼此交往、心里稍微满足、然后蒙你们送行。<br>
<a name="106-15:25"></a>
<small>15:25</small> 但现在我往耶路撒冷去、供给圣徒。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-15:26"></a>
<small>15:26</small> 因为马其顿、和亚该亚人乐意凑出捐项、给耶路撒冷圣徒中的穷人。<br>
<a name="106-15:27"></a>
<small>15:27</small> 这固然是他们乐意的．其实也算是所欠的债．因外邦人、既然在他们属灵的好处上有分、就当把养身之物供给他们。<br>
<a name="106-15:28"></a>
<small>15:28</small> 等我办完了这事、把这善果向他们交付明白、我就要路过你们那里、往士班雅去。<br>
<a name="106-15:29"></a>
<small>15:29</small> 我也晓得去的时候、必带着基督丰盛的恩典而去。<br>
<a name="106-15:30"></a>
<small>15:30</small> 弟兄们、我借着我们主耶稣基督、又借着圣灵的爱、劝你们与我一同竭力、为我祈求　神．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-15:31"></a>
<small>15:31</small> 叫我脱离在犹太不顺从的人、也叫我为耶路撒冷所办的捐项、可蒙圣徒悦纳．<br>
<a name="106-15:32"></a>
<small>15:32</small> 并叫我顺着　神的旨意、欢欢喜喜的到你们那里、与你们同得安息。<br>
<a name="106-15:33"></a>
<small>15:33</small> 愿赐平安的　神、常和你们众人同在。阿们。<br>
<a name="106-16"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>罗马书 16章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#106-16:1">1</a>
<a href="#106-16:2">2</a>
<a href="#106-16:3">3</a>
<a href="#106-16:4">4</a>
<a href="#106-16:5">5</a>
<a href="#106-16:6">6</a>
<a href="#106-16:7">7</a>
<a href="#106-16:8">8</a>
<a href="#106-16:9">9</a>
<a href="#106-16:10">10</a>
<a href="#106-16:11">11</a>
<a href="#106-16:12">12</a>
<a href="#106-16:13">13</a>
<a href="#106-16:14">14</a>
<a href="#106-16:15">15</a>
<a href="#106-16:16">16</a>
<a href="#106-16:17">17</a>
<a href="#106-16:18">18</a>
<a href="#106-16:19">19</a>
<a href="#106-16:20">20</a>
<a href="#106-16:21">21</a>
<a href="#106-16:22">22</a>
<a href="#106-16:23">23</a>
<a href="#106-16:24">24</a>
<a href="#106-16:25">25</a>
<a href="#106-16:26">26</a>
<a href="#106-16:27">27</a>
</small>
<br><br>
<a name="106-16:1"></a>
<small>16:1</small> 我对你们举荐我们的姊妹非比、他是坚革哩教会中的女执事．<br>
<a name="106-16:2"></a>
<small>16:2</small> 请你们为主接待他、合乎圣徒的体统．他在何事上、要你们帮助、你们就帮助他．因他素来帮助许多人、也帮助了我。<br>
<a name="106-16:3"></a>
<small>16:3</small> 问百基拉和亚居拉安．他们在基督耶稣里与我同工、<br>
<a name="106-16:4"></a>
<small>16:4</small> 也为我的命、将自己的颈项、置之度外．不但我感谢他们、就是外邦的众教会、也感谢他们．<br>
<a name="106-16:5"></a>
<small>16:5</small> 又问在他们家中的教会安。问我所亲爱的以拜尼土安．他在亚西亚是归基督初结的果子。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-16:6"></a>
<small>16:6</small> 又问马利亚安．他为你们多受劳苦。<br>
<a name="106-16:7"></a>
<small>16:7</small> 又问我亲属与我一同坐监的安多尼古和犹尼亚安．他们在使徒中是有名望的、也是比我先在基督里。<br>
<a name="106-16:8"></a>
<small>16:8</small> 又问我在主里面所亲爱的暗伯利安。<br>
<a name="106-16:9"></a>
<small>16:9</small> 又问在基督里与我们同工的耳巴奴、并我所亲爱的士大古安。<br>
<a name="106-16:10"></a>
<small>16:10</small> 又问在基督里经过试验的亚比利安。问亚利多布家里的人安。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-16:11"></a>
<small>16:11</small> 又问我亲属希罗天安。问拿其数家在主里的人安。<br>
<a name="106-16:12"></a>
<small>16:12</small> 又问为主劳苦的土非拿氏和土富撒氏安。问可亲爱为主多受劳苦的彼息氏安。<br>
<a name="106-16:13"></a>
<small>16:13</small> 又问在主蒙拣选的鲁孚和他母亲安．他的母亲就是我的母亲。<br>
<a name="106-16:14"></a>
<small>16:14</small> 又问亚逊其土、弗勒干、黑米、八罗巴、黑马、并与他们在一处的弟兄们安。<br>
<a name="106-16:15"></a>
<small>16:15</small> 又问非罗罗古、和犹利亚、尼利亚、和他姊妹、同阿林巴、并与他们在一处的众圣徒安。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-16:16"></a>
<small>16:16</small> 你们亲嘴问安、彼此务要圣洁。基督的众教会都问你们安。<br>
<a name="106-16:17"></a>
<small>16:17</small> 弟兄们、那些离间你们、叫你们跌倒、背乎所学之道的人、我劝你们要留意躲避他们。<br>
<a name="106-16:18"></a>
<small>16:18</small> 因为这样的人不服事我们的主基督、只服事自己的肚腹．用花言巧语、诱惑那些老实人的心。<br>
<a name="106-16:19"></a>
<small>16:19</small> 你们的顺服、已经传于众人、所以我为你们欢喜．但我愿意你们在善上聪明、在恶上愚拙。<br>
<a name="106-16:20"></a>
<small>16:20</small> 赐平安的　神、快要将撒但践踏在你们脚下。愿我主耶稣基督的恩、常和你们同在。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-16:21"></a>
<small>16:21</small> 与我同工的提摩太、和我的亲属路求、耶孙、所西巴德、问你们安。<br>
<a name="106-16:22"></a>
<small>16:22</small> 我这代笔写信的德丢、在主里面问你们安。<br>
<a name="106-16:23"></a>
<small>16:23</small> 那接待我、也接待全教会的该犹、问你们安。<br>
<a name="106-16:24"></a>
<small>16:24</small> 城内管银库的以拉都、和兄弟括土、问你们安。<br>
<a name="106-16:25"></a>
<small>16:25</small> 惟有　神能照我所传的福音、和所讲的耶稣基督、并照永古隐藏不言的奥秘、坚固你们的心。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="106-16:26"></a>
<small>16:26</small> 这奥秘如今显明出来、而且按着永生　神的命、借众先知的书指示万国的民、使他们信服真道。<br>
<a name="106-16:27"></a>
<small>16:27</small> 愿荣耀因耶稣基督归与独一全智的　神、直到永远。阿们。<br>
<br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<h5>END <a href="index.htm#000"><small>《</small></a></h5>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<ins datetime="2011:02:15">106 罗马书 Romans
</ins><br>
<br><b>圣经 简体和合本</b><br><br>
</body>
</html>
