<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<title>哥林多前书</title>
<meta name="description" content=
"圣经简体和合本 - 哥林多前书。Simplified Chinese Bible Union version - 1 Corinthians">
<meta name="keywords" content="圣经简体和合本, 哥林多前书, 
Simplified Chinese Bible Union version, 1 Corinthians">
<style type="text/css">body {font-size:150%}</style>
<script type="text/javascript">
cssfile = "";
function loadcss(filename) {
 cssfile = filename;
 var fileref=document.createElement("link")
 fileref.setAttribute("rel", "stylesheet");
 fileref.setAttribute("type", "text/css");
 fileref.setAttribute("href", filename);
 if (typeof fileref!="undefined")
  {document.getElementsByTagName("head")[0].appendChild(fileref);}
}
</script>
</head>
<body bgcolor="#ffffff">
<a name="top"></a><br>
 &nbsp; &nbsp; &nbsp; &nbsp; 
 <a href="javascript:loadcss('font1.css')"><font size="1">A</font></a> 
 &nbsp; &nbsp; &nbsp; &nbsp; 
 <a href="javascript:loadcss('font2.css')"><font size="2">A</font></a> 
 &nbsp; &nbsp; &nbsp; &nbsp; 
 <a href="javascript:loadcss('font3.css')"><font size="3">A</font></a> 
 &nbsp; &nbsp; &nbsp; &nbsp; 
 <a href="javascript:loadcss('font4.css')"><font size="4">A</font></a> 
<h3 align="center">107 哥林多前书 1 Corinthians</h3>
<h5 align="center">圣经 简体和合本</h5>
<center>
<a href="index.htm#000">&nbsp;&lt;&nbsp;</a>
<a href="#107-1">1</a>
<a href="#107-2">2</a>
<a href="#107-3">3</a>
<a href="#107-4">4</a>
<a href="#107-5">5</a>
<a href="#107-6">6</a>
<a href="#107-7">7</a>
<a href="#107-8">8</a>
<a href="#107-9">9</a>
<a href="#107-10">10</a>
<a href="#107-11">11</a>
<a href="#107-12">12</a>
<a href="#107-13">13</a>
<a href="#107-14">14</a>
<a href="#107-15">15</a>
<a href="#107-16">16</a>
</center>
<a name="107-1"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>哥林多前书 1章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#107-1:1">1</a>
<a href="#107-1:2">2</a>
<a href="#107-1:3">3</a>
<a href="#107-1:4">4</a>
<a href="#107-1:5">5</a>
<a href="#107-1:6">6</a>
<a href="#107-1:7">7</a>
<a href="#107-1:8">8</a>
<a href="#107-1:9">9</a>
<a href="#107-1:10">10</a>
<a href="#107-1:11">11</a>
<a href="#107-1:12">12</a>
<a href="#107-1:13">13</a>
<a href="#107-1:14">14</a>
<a href="#107-1:15">15</a>
<a href="#107-1:16">16</a>
<a href="#107-1:17">17</a>
<a href="#107-1:18">18</a>
<a href="#107-1:19">19</a>
<a href="#107-1:20">20</a>
<a href="#107-1:21">21</a>
<a href="#107-1:22">22</a>
<a href="#107-1:23">23</a>
<a href="#107-1:24">24</a>
<a href="#107-1:25">25</a>
<a href="#107-1:26">26</a>
<a href="#107-1:27">27</a>
<a href="#107-1:28">28</a>
<a href="#107-1:29">29</a>
<a href="#107-1:30">30</a>
<a href="#107-1:31">31</a>
</small>
<br><br>
<a name="107-1:1"></a>
<small>1:1</small> 奉　神旨意、蒙召作耶稣基督使徒的保罗、同兄弟所提尼、<br>
<a name="107-1:2"></a>
<small>1:2</small> 写信给在哥林多　神的教会、就是在基督耶稣里成圣、蒙召作圣徒的、以及所有在各处求告我主耶稣基督之名的人．基督是他们的主、也是我们的主．<br>
<a name="107-1:3"></a>
<small>1:3</small> 愿恩惠平安、从　神我们的父、并主耶稣基督、归与你们。<br>
<a name="107-1:4"></a>
<small>1:4</small> 我常为你们感谢我的　神、因　神在基督耶稣里所赐给你们的恩惠．<br>
<a name="107-1:5"></a>
<small>1:5</small> 又因你们在他里面凡事富足、口才知识都全备．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-1:6"></a>
<small>1:6</small> 正如我为基督作的见证、在你们心里得以坚固．<br>
<a name="107-1:7"></a>
<small>1:7</small> 以致你们在恩赐上没有一样不及人的．等候我们的主耶稣基督显现．<br>
<a name="107-1:8"></a>
<small>1:8</small> 他也必坚固你们到底、叫你们在我们主耶稣基督的日子、无可责备。<br>
<a name="107-1:9"></a>
<small>1:9</small> 　神是信实的、你们原是被他所召、好与他儿子、我们的主耶稣基督、一同得分。<br>
<a name="107-1:10"></a>
<small>1:10</small> 弟兄们、我借我们主耶稣基督的名、劝你们都说一样的话．你们中间也不可分党．只要一心一意彼此相合。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-1:11"></a>
<small>1:11</small> 因为革来氏家里的人、曾对我提起弟兄们来、说你们中间有分争。<br>
<a name="107-1:12"></a>
<small>1:12</small> 我的意思就是你们各人说、我是属保罗的．我是属亚波罗的．我是属矶法的．我是属基督的。<br>
<a name="107-1:13"></a>
<small>1:13</small> 基督是分开的么．保罗为你们钉了十字架么．你们是奉保罗的名受了洗么。<br>
<a name="107-1:14"></a>
<small>1:14</small> 我感谢　神、除了基利司布并该犹以外、我没有给你们一个人施洗．<br>
<a name="107-1:15"></a>
<small>1:15</small> 免得有人说、你们是奉我的名受洗。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-1:16"></a>
<small>1:16</small> 我也给司提反家施过洗．此外给别人施洗没有、我却记不清。<br>
<a name="107-1:17"></a>
<small>1:17</small> 基督差遣我、原不是为施洗、乃是为传福音．并不用智慧的言语、免得基督的十字架落了空。<br>
<a name="107-1:18"></a>
<small>1:18</small> 因为十字架的道理、在那灭亡的人为愚拙．在我们得救的人却为　神的大能。<br>
<a name="107-1:19"></a>
<small>1:19</small> 就如经上所记、『我要灭绝智慧人的智慧、废弃聪明人的聪明。』<br>
<a name="107-1:20"></a>
<small>1:20</small> 智慧人在那里．文士在那里．这世上的辩士在那里．　神岂不是叫这世上的智慧变成愚拙么。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-1:21"></a>
<small>1:21</small> 世人凭自己的智慧、既不认识　神、　神就乐意用人所当作愚拙的道理、拯救那些信的人．这就是　神的智慧了。<br>
<a name="107-1:22"></a>
<small>1:22</small> 犹太人是要神迹、希利尼人是求智慧．<br>
<a name="107-1:23"></a>
<small>1:23</small> 我们却是传钉十字架的基督、在犹太人为绊脚石、在外邦人为愚拙、<br>
<a name="107-1:24"></a>
<small>1:24</small> 但在那蒙召的、无论是犹太人、希利尼人、基督总为　神的能力、　神的智慧。<br>
<a name="107-1:25"></a>
<small>1:25</small> 因　神的愚拙总比人智慧．　神的软弱总比人强壮。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-1:26"></a>
<small>1:26</small> 弟兄们哪、可见你们蒙召的、按着肉体有智慧的不多、有能力的不多、有尊贵的也不多．<br>
<a name="107-1:27"></a>
<small>1:27</small> 　神却拣选了世上愚拙的、叫有智慧的羞愧．又拣选了世上软弱的、叫那强壮的羞愧．<br>
<a name="107-1:28"></a>
<small>1:28</small> 　神也拣选了世上卑贱的、被人厌恶的、以及那无有的、为要废掉那有的．<br>
<a name="107-1:29"></a>
<small>1:29</small> 使一切有血气的、在　神面前一个也不能自夸。<br>
<a name="107-1:30"></a>
<small>1:30</small> 但你们得在基督耶稣里、是本乎　神、　神又使他成为我们的智慧、公义、圣洁、救赎．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-1:31"></a>
<small>1:31</small> 如经上所记、『夸口的当指着主夸口。』<br>
<a name="107-2"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>哥林多前书 2章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#107-2:1">1</a>
<a href="#107-2:2">2</a>
<a href="#107-2:3">3</a>
<a href="#107-2:4">4</a>
<a href="#107-2:5">5</a>
<a href="#107-2:6">6</a>
<a href="#107-2:7">7</a>
<a href="#107-2:8">8</a>
<a href="#107-2:9">9</a>
<a href="#107-2:10">10</a>
<a href="#107-2:11">11</a>
<a href="#107-2:12">12</a>
<a href="#107-2:13">13</a>
<a href="#107-2:14">14</a>
<a href="#107-2:15">15</a>
<a href="#107-2:16">16</a>
</small>
<br><br>
<a name="107-2:1"></a>
<small>2:1</small> 弟兄们、从前我到你们那里去、并没有用高言大智对你们宣传　神的奥秘。<br>
<a name="107-2:2"></a>
<small>2:2</small> 因为我曾定了主意、在你们中间不知道别的、只知道耶稣基督、并他钉十字架。<br>
<a name="107-2:3"></a>
<small>2:3</small> 我在你们那里、又软弱、又惧怕、又甚战兢。<br>
<a name="107-2:4"></a>
<small>2:4</small> 我说的话讲的道、不是用智慧委婉的言语、乃是用圣灵和大能的明证．<br>
<a name="107-2:5"></a>
<small>2:5</small> 叫你们的信不在乎人的智慧、只在乎　神的大能。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-2:6"></a>
<small>2:6</small> 然而在完全的人中、我们也讲智慧．但不是这世上的智慧、也不是这世上有权有位将要败亡之人的智慧．<br>
<a name="107-2:7"></a>
<small>2:7</small> 我们讲的、乃是从前所隐藏、　神奥秘的智慧、就是　神在万世以前、预定使我们得荣耀的．<br>
<a name="107-2:8"></a>
<small>2:8</small> 这智慧世上有权有位的人没有一个知道的．他们若知道、就不把荣耀的主钉在十字架上了．<br>
<a name="107-2:9"></a>
<small>2:9</small> 如经上所记、『　神为爱他的人所预备的、是眼睛未曾看见、耳朵未曾听见、人心也未曾想到的。』<br>
<a name="107-2:10"></a>
<small>2:10</small> 只有　神借着圣灵向我们显明了．因为圣灵参透万事、就是　神深奥的事也参透了。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-2:11"></a>
<small>2:11</small> 除了在人里头的灵、谁知道人的事．像这样、除了　神的灵、也没有人知道　神的事。<br>
<a name="107-2:12"></a>
<small>2:12</small> 我们所领受的、并不是世上的灵、乃是从　神来的灵、叫我们能知道　神开恩赐给我们的事。<br>
<a name="107-2:13"></a>
<small>2:13</small> 并且我们讲说这些事、不是用人智慧所指教的言语、乃是用圣灵所指教的言语、将属灵的话、解释属灵的事。〔或作将属灵的事讲与属灵的人〕<br>
<a name="107-2:14"></a>
<small>2:14</small> 然而属血气的人不领会　神圣灵的事、反倒以为愚拙．并且不能知道、因为这些事惟有属灵的人才能看透。<br>
<a name="107-2:15"></a>
<small>2:15</small> 属灵的人能看透万事、却没有一人能看透了他。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-2:16"></a>
<small>2:16</small> 谁曾知道主的心去教导他呢．但我们是有基督的心了。<br>
<a name="107-3"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>哥林多前书 3章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#107-3:1">1</a>
<a href="#107-3:2">2</a>
<a href="#107-3:3">3</a>
<a href="#107-3:4">4</a>
<a href="#107-3:5">5</a>
<a href="#107-3:6">6</a>
<a href="#107-3:7">7</a>
<a href="#107-3:8">8</a>
<a href="#107-3:9">9</a>
<a href="#107-3:10">10</a>
<a href="#107-3:11">11</a>
<a href="#107-3:12">12</a>
<a href="#107-3:13">13</a>
<a href="#107-3:14">14</a>
<a href="#107-3:15">15</a>
<a href="#107-3:16">16</a>
<a href="#107-3:17">17</a>
<a href="#107-3:18">18</a>
<a href="#107-3:19">19</a>
<a href="#107-3:20">20</a>
<a href="#107-3:21">21</a>
<a href="#107-3:22">22</a>
<a href="#107-3:23">23</a>
</small>
<br><br>
<a name="107-3:1"></a>
<small>3:1</small> 弟兄们、我从前对你们说话、不能把你们当作属灵的、只得把你们当作属肉体、在基督里为婴孩的。<br>
<a name="107-3:2"></a>
<small>3:2</small> 我是用奶喂你们、没有用饭喂你们．那时你们不能吃、就是如今还是不能。<br>
<a name="107-3:3"></a>
<small>3:3</small> 你们仍是属肉体的．因为在你们中间有嫉妒分争、这岂不是属乎肉体、照着世人的样子行么。<br>
<a name="107-3:4"></a>
<small>3:4</small> 有说、我是属保罗的．有说、我是属亚波罗的．这岂不是你们和世人一样么。<br>
<a name="107-3:5"></a>
<small>3:5</small> 亚波罗算甚么．保罗算甚么．无非是执事、照主所赐给他们各人的、引导你们相信。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-3:6"></a>
<small>3:6</small> 我栽种了、亚波罗浇灌了．惟有　神叫他生长。<br>
<a name="107-3:7"></a>
<small>3:7</small> 可见栽种的算不得甚么、浇灌的也算不得甚么．只在那叫他生长的　神。<br>
<a name="107-3:8"></a>
<small>3:8</small> 栽种的和浇灌的都是一样．但将来各人要照自己的工夫、得自己的赏赐。<br>
<a name="107-3:9"></a>
<small>3:9</small> 因为我们是与　神同工的．你们是　神所耕种的田地、所建造的房屋。<br>
<a name="107-3:10"></a>
<small>3:10</small> 我照　神所给我的恩、好像一个聪明的工头、立好了根基、有别人在上面建造．只是各人要谨慎怎样在上面建造。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-3:11"></a>
<small>3:11</small> 因为那已经立好的根基、就是耶稣基督、此外没有人能立别的根基。<br>
<a name="107-3:12"></a>
<small>3:12</small> 若有人用金、银、宝石、草木、禾楷、在这根基上建造．<br>
<a name="107-3:13"></a>
<small>3:13</small> 各人的工程必然显露．因为那日子要将他表明出来、有火发现．这火要试验各人的工程怎样。<br>
<a name="107-3:14"></a>
<small>3:14</small> 人在那根基上所建造的工程、若存得住、他就要得赏赐。<br>
<a name="107-3:15"></a>
<small>3:15</small> 人的工程若被烧了、他就要受亏损．自己却要得救．虽然得救乃像从火里经过的一样。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-3:16"></a>
<small>3:16</small> 岂不知你们是　神的殿、　神的灵住在你们里头么。<br>
<a name="107-3:17"></a>
<small>3:17</small> 若有人毁坏　神的殿、　神必要毁坏那人．因为　神的殿是圣的、这殿就是你们。<br>
<a name="107-3:18"></a>
<small>3:18</small> 人不可自欺．你们中间若有人、在这世界自以为有智慧、倒不如变作愚拙、好成为有智慧的。<br>
<a name="107-3:19"></a>
<small>3:19</small> 因这世界的智慧、在　神看是愚拙．如经上记着说、『主叫有智慧的中了自己的诡计。』<br>
<a name="107-3:20"></a>
<small>3:20</small> 又说、『主知道智慧人的意念是虚妄的。』<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-3:21"></a>
<small>3:21</small> 所以无论谁、都不可拿人夸口．因为万有全是你们的．<br>
<a name="107-3:22"></a>
<small>3:22</small> 或保罗、或亚波罗、或矶法、或世界、或生、或死、或现今的事、或将来的事、全是你们的．<br>
<a name="107-3:23"></a>
<small>3:23</small> 并且你们是属基督的．基督又是属　神的。<br>
<a name="107-4"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>哥林多前书 4章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#107-4:1">1</a>
<a href="#107-4:2">2</a>
<a href="#107-4:3">3</a>
<a href="#107-4:4">4</a>
<a href="#107-4:5">5</a>
<a href="#107-4:6">6</a>
<a href="#107-4:7">7</a>
<a href="#107-4:8">8</a>
<a href="#107-4:9">9</a>
<a href="#107-4:10">10</a>
<a href="#107-4:11">11</a>
<a href="#107-4:12">12</a>
<a href="#107-4:13">13</a>
<a href="#107-4:14">14</a>
<a href="#107-4:15">15</a>
<a href="#107-4:16">16</a>
<a href="#107-4:17">17</a>
<a href="#107-4:18">18</a>
<a href="#107-4:19">19</a>
<a href="#107-4:20">20</a>
<a href="#107-4:21">21</a>
</small>
<br><br>
<a name="107-4:1"></a>
<small>4:1</small> 人应当以我们为基督的执事、为　神奥秘事的管家。<br>
<a name="107-4:2"></a>
<small>4:2</small> 所求于管家的、是要他有忠心。<br>
<a name="107-4:3"></a>
<small>4:3</small> 我被你们论断、或被别人论断、我都以为极小的事．连我自己也不论断自己。<br>
<a name="107-4:4"></a>
<small>4:4</small> 我虽不觉得自己有错、却也不能因此得以称义。但判断我的乃是主。<br>
<a name="107-4:5"></a>
<small>4:5</small> 所以时候未到、甚么都不要论断、只等主来、他要照出暗中的隐情、显明人心的意念。那时各人要从　神那里得着称赞。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-4:6"></a>
<small>4:6</small> 弟兄们、我为你们的缘故、拿这些事转比自己和亚波罗．叫你们效法我们不可过于圣经所记．免得你们自高自大、贵重这个、轻看那个。<br>
<a name="107-4:7"></a>
<small>4:7</small> 使你与人不同的是谁呢．你有甚么不是领受的呢．若是领受的、为何自夸、彷彿不是领受的呢。<br>
<a name="107-4:8"></a>
<small>4:8</small> 你们已经饱足了、已经丰富了、不用我们、自己就作王了．我愿意你们果真作王、叫我们也得与你们一同作王。<br>
<a name="107-4:9"></a>
<small>4:9</small> 我想　神把我们使徒明明列在末后、好像定死罪的囚犯．因为我们成了一台戏、给世人和天使观看。<br>
<a name="107-4:10"></a>
<small>4:10</small> 我们为基督的缘故算是愚拙的、你们在基督里倒是聪明的、我们软弱、你们倒强壮．你们有荣耀、我们倒被藐视。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-4:11"></a>
<small>4:11</small> 直到如今、我们还是又饥、又渴、又赤身露体、又挨打、又没有一定的住处．<br>
<a name="107-4:12"></a>
<small>4:12</small> 并且劳苦、亲手作工．被人咒骂、我们就祝福．被人逼迫、我们就忍受．<br>
<a name="107-4:13"></a>
<small>4:13</small> 被人毁谤、我们就善劝．直到如今、人还把我们看作世界上的污秽、万物中的渣滓。<br>
<a name="107-4:14"></a>
<small>4:14</small> 我写这话、不是叫你们羞愧、乃是警戒你们、好像我所亲爱的儿女一样。<br>
<a name="107-4:15"></a>
<small>4:15</small> 你们学基督的、师傅虽有一万、为父的却是不多、因我在基督耶稣里用福音生了你们。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-4:16"></a>
<small>4:16</small> 所以我求你们效法我。<br>
<a name="107-4:17"></a>
<small>4:17</small> 因此我已打发提摩太到你们那里去．他在主里面、是我所亲爱有忠心的儿子．他必提醒你们、记念我在基督里怎样行事、在各处各教会中怎样教导人。<br>
<a name="107-4:18"></a>
<small>4:18</small> 有些人自高自大、以为我不到你们那里去。<br>
<a name="107-4:19"></a>
<small>4:19</small> 然而主若许我、我必快到你们那里去．并且我所要知道的、不是那些自高自大之人的言语、乃是他们的权能。<br>
<a name="107-4:20"></a>
<small>4:20</small> 因为　神的国不在乎言语、乃在乎权能。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-4:21"></a>
<small>4:21</small> 你们愿意怎么样呢．是愿意我带着刑杖到你们那里去呢、还是要我存慈爱温柔的心呢。<br>
<a name="107-5"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>哥林多前书 5章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#107-5:1">1</a>
<a href="#107-5:2">2</a>
<a href="#107-5:3">3</a>
<a href="#107-5:4">4</a>
<a href="#107-5:5">5</a>
<a href="#107-5:6">6</a>
<a href="#107-5:7">7</a>
<a href="#107-5:8">8</a>
<a href="#107-5:9">9</a>
<a href="#107-5:10">10</a>
<a href="#107-5:11">11</a>
<a href="#107-5:12">12</a>
<a href="#107-5:13">13</a>
</small>
<br><br>
<a name="107-5:1"></a>
<small>5:1</small> 风闻在你们中间有淫乱的事．这样的淫乱、连外邦人中也没有、就是有人收了他的继母。<br>
<a name="107-5:2"></a>
<small>5:2</small> 你们还是自高自大、并不哀痛、把行这事的人从你们中间赶出去。<br>
<a name="107-5:3"></a>
<small>5:3</small> 我身子虽不在你们那里、心却在你们那里、好像我亲自与你们同在、已经判断了行这事的人、<br>
<a name="107-5:4"></a>
<small>5:4</small> 就是你们聚会的时候、我的心也同在、奉我们主耶稣的名、并用我们主耶稣的权能、<br>
<a name="107-5:5"></a>
<small>5:5</small> 要把这样的人交给撒但、败坏他的肉体、使他的灵魂在主耶稣的日子可以得救。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-5:6"></a>
<small>5:6</small> 你们这自夸是不好的．岂不知一点面酵能使全团发起来么。<br>
<a name="107-5:7"></a>
<small>5:7</small> 你们既是无酵的面、应当把旧酵除净、好使你们成为新团．因为我们逾越节的羔羊基督、已经被杀献祭了。<br>
<a name="107-5:8"></a>
<small>5:8</small> 所以我们守这节不可用旧酵、也不可用恶毒〔或作阴毒〕邪恶的酵、只用诚实真正的无酵饼。<br>
<a name="107-5:9"></a>
<small>5:9</small> 我先前写信给你们说、不可与淫乱的人相交．<br>
<a name="107-5:10"></a>
<small>5:10</small> 此话不是指这世上一概行淫乱的、或贪婪的、勒索的、或拜偶像的、若是这样、你们除非离开世界方可．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-5:11"></a>
<small>5:11</small> 但如今我写信给你们说、若有称为弟兄、是行淫乱的、或贪婪的、或拜偶像的、或辱骂的、或醉酒的、或勒索的．这样的人不可与他相交．就是与他吃饭都不可。<br>
<a name="107-5:12"></a>
<small>5:12</small> 因为审判教外的人与我何干．教内的人岂不是你们审判的么．<br>
<a name="107-5:13"></a>
<small>5:13</small> 至于外人有　神审判他们．你们应当把那恶人从你们中间赶出去。<br>
<a name="107-6"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>哥林多前书 6章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#107-6:1">1</a>
<a href="#107-6:2">2</a>
<a href="#107-6:3">3</a>
<a href="#107-6:4">4</a>
<a href="#107-6:5">5</a>
<a href="#107-6:6">6</a>
<a href="#107-6:7">7</a>
<a href="#107-6:8">8</a>
<a href="#107-6:9">9</a>
<a href="#107-6:10">10</a>
<a href="#107-6:11">11</a>
<a href="#107-6:12">12</a>
<a href="#107-6:13">13</a>
<a href="#107-6:14">14</a>
<a href="#107-6:15">15</a>
<a href="#107-6:16">16</a>
<a href="#107-6:17">17</a>
<a href="#107-6:18">18</a>
<a href="#107-6:19">19</a>
<a href="#107-6:20">20</a>
</small>
<br><br>
<a name="107-6:1"></a>
<small>6:1</small> 你们中间有彼此相争的事、怎敢在不义的人面前求审、不在圣徒面前求审呢。<br>
<a name="107-6:2"></a>
<small>6:2</small> 岂不知圣徒要审判世界么．若世界为你们所审、难道你们不配审判这最小的事么。<br>
<a name="107-6:3"></a>
<small>6:3</small> 岂不知我们要审判天使么、何况今生的事呢。<br>
<a name="107-6:4"></a>
<small>6:4</small> 既是这样、你们若有今生的事当审判、是派教会所轻看的人审判么。<br>
<a name="107-6:5"></a>
<small>6:5</small> 我说这话、是要叫你们羞耻。难道你们中间没有一个智慧人、能审断弟兄们的事么。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-6:6"></a>
<small>6:6</small> 你们竟是弟兄与弟兄告状、而且告在不信主的人面前。<br>
<a name="107-6:7"></a>
<small>6:7</small> 你们彼此告状、这已经是你们的大错了．为甚么不情愿受欺呢．为甚么不情愿吃亏呢。<br>
<a name="107-6:8"></a>
<small>6:8</small> 你们倒是欺压人、亏负人、况且所欺压所亏负的就是弟兄。<br>
<a name="107-6:9"></a>
<small>6:9</small> 你们岂不知、不义的人不能承受　神的国么。不要自欺．无论是淫乱的、拜偶像的、奸淫的、作娈童的、亲男色的、<br>
<a name="107-6:10"></a>
<small>6:10</small> 偷窃的、贪婪的、醉酒的、辱骂的、勒索的、都不能承受　神的国。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-6:11"></a>
<small>6:11</small> 你们中间也有人从前是这样．但如今你们奉主耶稣基督的名、并借着我们　神的灵、已经洗净、成圣称义了。<br>
<a name="107-6:12"></a>
<small>6:12</small> 凡事我都可行．但不都有益处。凡事我都可行、但无论那一件、我总不受他的辖制。<br>
<a name="107-6:13"></a>
<small>6:13</small> 食物是为肚腹、肚腹是为食物．但　神要叫这两样都废坏。身子不是为淫乱、乃是为主．主也是为身子．<br>
<a name="107-6:14"></a>
<small>6:14</small> 并且　神已经叫主复活、也要用自己的能力叫我们复活。<br>
<a name="107-6:15"></a>
<small>6:15</small> 岂不知你们的身子是基督的肢体么．我可以将基督的肢体作为娼妓的肢体么．断乎不可。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-6:16"></a>
<small>6:16</small> 岂不知与娼妓联合的、便是与他成为一体么．因为主说、『二人要成为一体。』<br>
<a name="107-6:17"></a>
<small>6:17</small> 但与主联合的、便是与主成为一灵。<br>
<a name="107-6:18"></a>
<small>6:18</small> 你们要逃避淫行。人所犯的、无论甚么罪、都在身子以外．惟有行淫的、是得罪自己的身子。<br>
<a name="107-6:19"></a>
<small>6:19</small> 岂不知你们的身子就是圣灵的殿么．这圣灵是从　神而来、住在你们里头的．并且你们不是自己的人．<br>
<a name="107-6:20"></a>
<small>6:20</small> 因为你们是重价买来的．所以要在你们的身子上荣耀　神。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-7"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>哥林多前书 7章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#107-7:1">1</a>
<a href="#107-7:2">2</a>
<a href="#107-7:3">3</a>
<a href="#107-7:4">4</a>
<a href="#107-7:5">5</a>
<a href="#107-7:6">6</a>
<a href="#107-7:7">7</a>
<a href="#107-7:8">8</a>
<a href="#107-7:9">9</a>
<a href="#107-7:10">10</a>
<a href="#107-7:11">11</a>
<a href="#107-7:12">12</a>
<a href="#107-7:13">13</a>
<a href="#107-7:14">14</a>
<a href="#107-7:15">15</a>
<a href="#107-7:16">16</a>
<a href="#107-7:17">17</a>
<a href="#107-7:18">18</a>
<a href="#107-7:19">19</a>
<a href="#107-7:20">20</a>
<a href="#107-7:21">21</a>
<a href="#107-7:22">22</a>
<a href="#107-7:23">23</a>
<a href="#107-7:24">24</a>
<a href="#107-7:25">25</a>
<a href="#107-7:26">26</a>
<a href="#107-7:27">27</a>
<a href="#107-7:28">28</a>
<a href="#107-7:29">29</a>
<a href="#107-7:30">30</a>
<a href="#107-7:31">31</a>
<a href="#107-7:32">32</a>
<a href="#107-7:33">33</a>
<a href="#107-7:34">34</a>
<a href="#107-7:35">35</a>
<a href="#107-7:36">36</a>
<a href="#107-7:37">37</a>
<a href="#107-7:38">38</a>
<a href="#107-7:39">39</a>
<a href="#107-7:40">40</a>
</small>
<br><br>
<a name="107-7:1"></a>
<small>7:1</small> 论到你们信上所提的事、我说男不近女倒好。<br>
<a name="107-7:2"></a>
<small>7:2</small> 但要免淫乱的事、男子当各有自己的妻子、女子也当各有自己的丈夫。<br>
<a name="107-7:3"></a>
<small>7:3</small> 丈夫当用合宜之分待妻子、妻子待丈夫也要如此。<br>
<a name="107-7:4"></a>
<small>7:4</small> 妻子没有权柄主张自己的身子、乃在丈夫．丈夫也没有权柄主张自己的身子、乃在妻子。<br>
<a name="107-7:5"></a>
<small>7:5</small> 夫妻不可彼此亏负、除非两相情愿、暂时分房、为要专心祷告方可、以后仍要同房、免得撒但趁着你们情不自禁、引诱你们。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-7:6"></a>
<small>7:6</small> 我说这话、原是准你们的、不是命你们的。<br>
<a name="107-7:7"></a>
<small>7:7</small> 我愿意众人像我一样．只是各人领受　神的恩赐、一个是这样、一个是那样。<br>
<a name="107-7:8"></a>
<small>7:8</small> 我对着没有嫁娶的和寡妇说、若他们常像我就好。<br>
<a name="107-7:9"></a>
<small>7:9</small> 倘若自己禁止不住、就可以嫁娶。与其欲火攻心、倒不如嫁娶为妙。<br>
<a name="107-7:10"></a>
<small>7:10</small> 至于那已经嫁娶的、我吩咐他们、其实不是我吩咐、乃是主吩咐、说、妻子不可离开丈夫。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-7:11"></a>
<small>7:11</small> 若是离开了、不可再嫁．或是仍同丈夫和好．丈夫也不可离弃妻子。<br>
<a name="107-7:12"></a>
<small>7:12</small> 我对其余的人说、不是主说、倘若某弟兄有不信的妻子、妻子也情愿和他同住、他就不要离弃妻子。<br>
<a name="107-7:13"></a>
<small>7:13</small> 妻子有不信的丈夫、丈夫也情愿和他同住、他就不要离弃丈夫。<br>
<a name="107-7:14"></a>
<small>7:14</small> 因为不信的丈夫、就因着妻子成了圣洁．并且不信的妻子、就因着丈夫成了圣洁．〔丈夫原文作弟兄〕不然、你们的儿女就不洁净．但如今他们是圣洁的了。<br>
<a name="107-7:15"></a>
<small>7:15</small> 倘若那不信的人要离去、就由他离去吧．无论是弟兄、是姐妹、遇着这样的事、都不必拘束．　神召我们原是要我们和睦。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-7:16"></a>
<small>7:16</small> 你这作妻子的、怎么知道不能救你的丈夫呢．你这作丈夫的、怎么知道不能救你的妻子呢。<br>
<a name="107-7:17"></a>
<small>7:17</small> 只要照主所分给各人的、和　神所召各人的而行。我吩咐各教会都是这样。<br>
<a name="107-7:18"></a>
<small>7:18</small> 有人已受割礼蒙召呢、就不要废割礼．有人未受割礼蒙召呢、就不要受割礼。<br>
<a name="107-7:19"></a>
<small>7:19</small> 受割礼算不得甚么、不受割礼也算不得甚么、只要守　神的诫命就是了。<br>
<a name="107-7:20"></a>
<small>7:20</small> 各人蒙召的时候是甚么身分、仍要守住这身分。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-7:21"></a>
<small>7:21</small> 你是作奴隶蒙召的么、不要因此忧虑．若能以自由、就求自由更好。<br>
<a name="107-7:22"></a>
<small>7:22</small> 因为作奴仆蒙召于主的、就是主所释放的人．作自由之人蒙召的、就是基督的奴仆。<br>
<a name="107-7:23"></a>
<small>7:23</small> 你们是重价买来的．不要作人的奴仆。<br>
<a name="107-7:24"></a>
<small>7:24</small> 弟兄们、你们各人蒙召的时候是甚么身分、仍要在　神面前守住这身分。<br>
<a name="107-7:25"></a>
<small>7:25</small> 论到童身的人、我没有主的命令、但我既蒙主怜恤、能作忠心的人、就把自己的意见告诉你们。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-7:26"></a>
<small>7:26</small> 因现今的艰难、据我看来、人不如守素安常才好。<br>
<a name="107-7:27"></a>
<small>7:27</small> 你有妻子缠着呢、就不要求脱离．你没有妻子缠着呢、就不要求妻子。<br>
<a name="107-7:28"></a>
<small>7:28</small> 你若娶妻、并不是犯罪．处女若出嫁、也不是犯罪．然而这等人肉身必受苦难．我却愿意你们免这苦难。<br>
<a name="107-7:29"></a>
<small>7:29</small> 弟兄们、我对你们说、时候减少了．从此以后、那有妻子的、要像没有妻子．<br>
<a name="107-7:30"></a>
<small>7:30</small> 哀哭的、要像不哀哭．快乐的、要像不快乐、置买的、要像无有所得．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-7:31"></a>
<small>7:31</small> 用世物的、要像不用世物．因为这世界的样子将要过去了。<br>
<a name="107-7:32"></a>
<small>7:32</small> 我愿你们无所挂虑。没有娶妻的、是为主的事挂虑、想怎样叫主喜悦。<br>
<a name="107-7:33"></a>
<small>7:33</small> 娶了妻的、是为世上的事挂虑、想怎样叫妻子喜悦。<br>
<a name="107-7:34"></a>
<small>7:34</small> 妇人和处女也有分别。没有出嫁的、是为主的事挂虑、要身体灵魂都圣洁．已经出嫁的、是为世上的事挂虑、想怎样叫丈夫喜悦。<br>
<a name="107-7:35"></a>
<small>7:35</small> 我说这话、是为你们的益处．不是要牢笼你们、乃是要叫你们行合宜的事、得以殷勤服事主、没有分心的事。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-7:36"></a>
<small>7:36</small> 若有人以为自己待他的女儿不合宜、女儿也过了年岁、事又当行、他就可随意办理、不算有罪、叫二人成亲就是了。<br>
<a name="107-7:37"></a>
<small>7:37</small> 倘若人心里坚定、没有不得已的事、并且由得自己作主、心里又决定了留下女儿不出嫁、如此行也好。<br>
<a name="107-7:38"></a>
<small>7:38</small> 这样看来、叫自己的女儿出嫁是好．不叫他出嫁更是好。<br>
<a name="107-7:39"></a>
<small>7:39</small> 丈夫活着的时候、妻子是被约束的．丈夫若死了、妻子就可以自由、随意再嫁．只是要嫁这在主里面的人。<br>
<a name="107-7:40"></a>
<small>7:40</small> 然而按我的意见、若常守节更有福气．我也想自己是被　神的灵感动了。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-8"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>哥林多前书 8章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#107-8:1">1</a>
<a href="#107-8:2">2</a>
<a href="#107-8:3">3</a>
<a href="#107-8:4">4</a>
<a href="#107-8:5">5</a>
<a href="#107-8:6">6</a>
<a href="#107-8:7">7</a>
<a href="#107-8:8">8</a>
<a href="#107-8:9">9</a>
<a href="#107-8:10">10</a>
<a href="#107-8:11">11</a>
<a href="#107-8:12">12</a>
<a href="#107-8:13">13</a>
</small>
<br><br>
<a name="107-8:1"></a>
<small>8:1</small> 论到祭偶像之物、我们晓得我们都有知识．但知识是叫人自高自大、惟有爱心能造就人。<br>
<a name="107-8:2"></a>
<small>8:2</small> 若有人以为自己知道甚么、按他所当知道的、他仍是不知道．<br>
<a name="107-8:3"></a>
<small>8:3</small> 若有人爱　神、这人乃是　神所知道的。<br>
<a name="107-8:4"></a>
<small>8:4</small> 论到吃祭偶像之物、我们知道偶像在世上算不得甚么．也知道　神只有一位、再没有别的　神。<br>
<a name="107-8:5"></a>
<small>8:5</small> 虽有称为　神的、或在天、或在地．就如那许多的　神、许多的主．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-8:6"></a>
<small>8:6</small> 然而我们只有一位　神、就是父万物都本于他、我们也归于他．并有一位主、就是耶稣基督、万物都是借着他有的、我们也是借着他有的。<br>
<a name="107-8:7"></a>
<small>8:7</small> 但人不都有这等知识．有人到如今因拜惯了偶像、就以为所吃的是祭偶像之物．他们的良心既然软弱、也就污秽了。<br>
<a name="107-8:8"></a>
<small>8:8</small> 其实食物不能叫　神看中我们．因为我们不吃也无损、吃也无益。<br>
<a name="107-8:9"></a>
<small>8:9</small> 只是你们要谨慎、恐怕你们这自由、竟成了那软弱人的绊脚石。<br>
<a name="107-8:10"></a>
<small>8:10</small> 若有人见你这有知识的、在偶像的庙里坐席、这人的良心、若是软弱、岂不放胆去吃那祭偶像之物么。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-8:11"></a>
<small>8:11</small> 因此、基督为他死的那软弱弟兄、也就因你的知识沉沦了。<br>
<a name="107-8:12"></a>
<small>8:12</small> 你们这样得罪弟兄们、伤了他们软弱的良心、就是得罪基督。<br>
<a name="107-8:13"></a>
<small>8:13</small> 所以食物若叫我弟兄跌倒、我就永远不吃肉、免得叫我弟兄跌倒了。<br>
<a name="107-9"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>哥林多前书 9章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#107-9:1">1</a>
<a href="#107-9:2">2</a>
<a href="#107-9:3">3</a>
<a href="#107-9:4">4</a>
<a href="#107-9:5">5</a>
<a href="#107-9:6">6</a>
<a href="#107-9:7">7</a>
<a href="#107-9:8">8</a>
<a href="#107-9:9">9</a>
<a href="#107-9:10">10</a>
<a href="#107-9:11">11</a>
<a href="#107-9:12">12</a>
<a href="#107-9:13">13</a>
<a href="#107-9:14">14</a>
<a href="#107-9:15">15</a>
<a href="#107-9:16">16</a>
<a href="#107-9:17">17</a>
<a href="#107-9:18">18</a>
<a href="#107-9:19">19</a>
<a href="#107-9:20">20</a>
<a href="#107-9:21">21</a>
<a href="#107-9:22">22</a>
<a href="#107-9:23">23</a>
<a href="#107-9:24">24</a>
<a href="#107-9:25">25</a>
<a href="#107-9:26">26</a>
<a href="#107-9:27">27</a>
</small>
<br><br>
<a name="107-9:1"></a>
<small>9:1</small> 我不是自由的么．我不是使徒么．我不是见过我们的主耶稣么．你们不是我在主里面所作之工么。<br>
<a name="107-9:2"></a>
<small>9:2</small> 假若在别人我不是使徒、在你们我总是使徒．因为你们在主里正是我作使徒的印证。<br>
<a name="107-9:3"></a>
<small>9:3</small> 我对那盘问我的人、就是这样分诉。<br>
<a name="107-9:4"></a>
<small>9:4</small> 难道我们没有权柄靠福音吃喝么。<br>
<a name="107-9:5"></a>
<small>9:5</small> 难道我们没有权柄娶信主的姊妹为妻、带着一同往来、彷彿其余的使徒、和主的弟兄、并矶法一样么。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-9:6"></a>
<small>9:6</small> 独有我与巴拿巴没有权柄不作工么。<br>
<a name="107-9:7"></a>
<small>9:7</small> 有谁当兵、自备粮饷呢．有谁栽葡萄园、不吃园里的果子呢．有谁牧养牛羊、不吃牛羊的奶呢。<br>
<a name="107-9:8"></a>
<small>9:8</small> 我说这话、岂是照人的意见．律法不也是这样说么。<br>
<a name="107-9:9"></a>
<small>9:9</small> 就如摩西的律法记着说、『牛在场上踹谷的时候、不可笼住他的嘴。』难道　神所挂念的是牛么．<br>
<a name="107-9:10"></a>
<small>9:10</small> 不全是为我们说的么．分明是为我们说的．因为耕种的当存着指望去耕种．打场的也当存得粮的指望去打场。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-9:11"></a>
<small>9:11</small> 我们若把属灵的种子撒在你们中间、就是从你们收割奉养肉身之物、这还算大事么。<br>
<a name="107-9:12"></a>
<small>9:12</small> 若别人在你们身上有这权柄、何况我们呢．然而我们没有用过这权柄、倒凡事忍受、免得基督的福音被阻隔。<br>
<a name="107-9:13"></a>
<small>9:13</small> 你们岂不知为圣事劳碌的、就吃殿中的物么．伺候祭坛的、就分领坛上的物么。<br>
<a name="107-9:14"></a>
<small>9:14</small> 主也是这样命定、叫传福音的靠着福音养生。<br>
<a name="107-9:15"></a>
<small>9:15</small> 但这权柄我全没有用过．我写这话、并非要你们这样待我．因为我宁可死、也不叫人使我所夸的落了空。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-9:16"></a>
<small>9:16</small> 我传福音原没有可夸的．因为我是不得已的．若不传福音、我便有祸了。<br>
<a name="107-9:17"></a>
<small>9:17</small> 我若甘心作这事、就有赏赐．若不甘心、责任却已经托付我了。<br>
<a name="107-9:18"></a>
<small>9:18</small> 既是这样、我的赏赐是甚么呢．就是我传福音的时候、叫人不花钱得福音、免得用尽我传福音的权柄。<br>
<a name="107-9:19"></a>
<small>9:19</small> 我虽是自由的、无人辖管、然而我甘心作了众人的仆人、为要多得人。<br>
<a name="107-9:20"></a>
<small>9:20</small> 向犹太人、我就作犹太人、为要得犹太人．向律法以下的人、我虽不在律法以下、还是作律法以下的人、为要得律法以下的人。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-9:21"></a>
<small>9:21</small> 向没有律法的人、我就作没有律法的人、为要得没有律法的人．其实我在　神面前、不是没有律法、在基督面前、正在律法之下。<br>
<a name="107-9:22"></a>
<small>9:22</small> 向软弱的人、我就作软弱的人、为要得软弱的人．向甚么样的人、我就作甚么样的人．无论如何、总要救些人。<br>
<a name="107-9:23"></a>
<small>9:23</small> 凡我所行的、都是为福音的缘故、为要与人同得这福音的好处。<br>
<a name="107-9:24"></a>
<small>9:24</small> 岂不知在场上赛跑的都跑、但得奖赏的只有一人．你们也当这样跑、好叫你们得着奖赏。<br>
<a name="107-9:25"></a>
<small>9:25</small> 凡较力争胜的、诸事都有节制．他们不过是要得能坏的冠冕．我们却是要得不能坏的冠冕。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-9:26"></a>
<small>9:26</small> 所以我奔跑、不像无定向的．我斗拳、不像打空气的。<br>
<a name="107-9:27"></a>
<small>9:27</small> 我是攻克己身、叫身服我．恐怕我传福音给别人、自己反被弃绝了。<br>
<a name="107-10"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>哥林多前书 10章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#107-10:1">1</a>
<a href="#107-10:2">2</a>
<a href="#107-10:3">3</a>
<a href="#107-10:4">4</a>
<a href="#107-10:5">5</a>
<a href="#107-10:6">6</a>
<a href="#107-10:7">7</a>
<a href="#107-10:8">8</a>
<a href="#107-10:9">9</a>
<a href="#107-10:10">10</a>
<a href="#107-10:11">11</a>
<a href="#107-10:12">12</a>
<a href="#107-10:13">13</a>
<a href="#107-10:14">14</a>
<a href="#107-10:15">15</a>
<a href="#107-10:16">16</a>
<a href="#107-10:17">17</a>
<a href="#107-10:18">18</a>
<a href="#107-10:19">19</a>
<a href="#107-10:20">20</a>
<a href="#107-10:21">21</a>
<a href="#107-10:22">22</a>
<a href="#107-10:23">23</a>
<a href="#107-10:24">24</a>
<a href="#107-10:25">25</a>
<a href="#107-10:26">26</a>
<a href="#107-10:27">27</a>
<a href="#107-10:28">28</a>
<a href="#107-10:29">29</a>
<a href="#107-10:30">30</a>
<a href="#107-10:31">31</a>
<a href="#107-10:32">32</a>
<a href="#107-10:33">33</a>
</small>
<br><br>
<a name="107-10:1"></a>
<small>10:1</small> 弟兄们、我不愿意你们不晓得、我们的祖宗从前都在云下、都从海中经过．<br>
<a name="107-10:2"></a>
<small>10:2</small> 都在云里海里受洗归了摩西．<br>
<a name="107-10:3"></a>
<small>10:3</small> 并且都吃了一样的灵食．<br>
<a name="107-10:4"></a>
<small>10:4</small> 也都喝了一样的灵水．所喝的是出于随着他们的灵磐石．那磐石就是基督。<br>
<a name="107-10:5"></a>
<small>10:5</small> 但他们中间、多半是　神不喜欢的人．所以在旷野倒毙。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-10:6"></a>
<small>10:6</small> 这些事都是我们的鉴戒、叫我们不要贪恋恶事、像他们那样贪恋的。<br>
<a name="107-10:7"></a>
<small>10:7</small> 也不要拜偶像、像他们有人拜的．如经上所记、『百姓坐下吃喝、起来玩耍。』<br>
<a name="107-10:8"></a>
<small>10:8</small> 我们也不要行奸淫、像他们有人行的、一天就倒毙了二万三千人。<br>
<a name="107-10:9"></a>
<small>10:9</small> 也不要试探主、〔主有古卷作基督〕像他们有人试探的、就被蛇所灭。<br>
<a name="107-10:10"></a>
<small>10:10</small> 你们也不要发怨言、像他们有发怨言的、就被灭命的所灭。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-10:11"></a>
<small>10:11</small> 他们遭遇这些事、都要作为鉴戒．并且写在经上、正是警戒我们这末世的人。<br>
<a name="107-10:12"></a>
<small>10:12</small> 所以自己以为站得稳的、须要谨慎、免得跌倒。<br>
<a name="107-10:13"></a>
<small>10:13</small> 你们所遇见的试探、无非是人所能受的、　神是信实的、必不叫你们受试探过于所能受的．在受试探的时候、总要给你们开一条出路、叫你们能忍受得住。<br>
<a name="107-10:14"></a>
<small>10:14</small> 我所亲爱的弟兄阿、你们要逃避拜偶像的事。<br>
<a name="107-10:15"></a>
<small>10:15</small> 我好像对明白人说的、你们要审察我的话。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-10:16"></a>
<small>10:16</small> 我们所祝福的杯、岂不是同领基督的血么．我们所擘开的饼、岂不是同领基督的身体么。<br>
<a name="107-10:17"></a>
<small>10:17</small> 我们虽多、仍是一个饼、一个身体．因为我们都是分受这一个饼。<br>
<a name="107-10:18"></a>
<small>10:18</small> 你们看属肉体的以色列人．那吃祭物的、岂不是在祭坛上有分么。<br>
<a name="107-10:19"></a>
<small>10:19</small> 我是怎么说呢．岂是说祭偶像之物算得甚么呢。或说偶像算得甚么呢。<br>
<a name="107-10:20"></a>
<small>10:20</small> 我乃是说、外邦人所献的祭、是祭鬼、不是祭　神．我不愿意你们与鬼相交。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-10:21"></a>
<small>10:21</small> 你们不能喝主的杯、又喝鬼的杯．不能吃主的筵席、又吃鬼的筵席。<br>
<a name="107-10:22"></a>
<small>10:22</small> 我们可惹主的愤恨么．我们比他还有能力么。<br>
<a name="107-10:23"></a>
<small>10:23</small> 凡事都可行．但不都有益处。凡事都可行．但不都造就人。<br>
<a name="107-10:24"></a>
<small>10:24</small> 无论何人、不要求自己的益处、乃要求别人的益处。<br>
<a name="107-10:25"></a>
<small>10:25</small> 凡市上所卖的、你们只管吃、不要为良心的缘故问甚么话．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-10:26"></a>
<small>10:26</small> 因为地和其中所充满的、都属乎主。<br>
<a name="107-10:27"></a>
<small>10:27</small> 倘有一个不信的人请你们赴席、你们若愿意去、凡摆在你们面前的、只管吃、不要为良心的缘故问甚么话。<br>
<a name="107-10:28"></a>
<small>10:28</small> 若有人对你们说、这是献过祭的物、就要为那告诉你们的人、并为良心的缘故、不吃。<br>
<a name="107-10:29"></a>
<small>10:29</small> 我说的良心、不是你的、乃是他的．我这自由、为甚么被别人的良心论断呢。<br>
<a name="107-10:30"></a>
<small>10:30</small> 我若谢恩而吃、为甚么因我谢恩的物被人毁谤呢。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-10:31"></a>
<small>10:31</small> 所以你们或吃或喝、无论作甚么、都要为荣耀　神而行。<br>
<a name="107-10:32"></a>
<small>10:32</small> 不拘是犹太人、是希利尼人、是　神的教会、你们都不要使他跌倒．<br>
<a name="107-10:33"></a>
<small>10:33</small> 就好像我凡事都叫众人喜欢、不求自己的益处、只求众人的益处、叫他们得救。<br>
<a name="107-11"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>哥林多前书 11章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#107-11:1">1</a>
<a href="#107-11:2">2</a>
<a href="#107-11:3">3</a>
<a href="#107-11:4">4</a>
<a href="#107-11:5">5</a>
<a href="#107-11:6">6</a>
<a href="#107-11:7">7</a>
<a href="#107-11:8">8</a>
<a href="#107-11:9">9</a>
<a href="#107-11:10">10</a>
<a href="#107-11:11">11</a>
<a href="#107-11:12">12</a>
<a href="#107-11:13">13</a>
<a href="#107-11:14">14</a>
<a href="#107-11:15">15</a>
<a href="#107-11:16">16</a>
<a href="#107-11:17">17</a>
<a href="#107-11:18">18</a>
<a href="#107-11:19">19</a>
<a href="#107-11:20">20</a>
<a href="#107-11:21">21</a>
<a href="#107-11:22">22</a>
<a href="#107-11:23">23</a>
<a href="#107-11:24">24</a>
<a href="#107-11:25">25</a>
<a href="#107-11:26">26</a>
<a href="#107-11:27">27</a>
<a href="#107-11:28">28</a>
<a href="#107-11:29">29</a>
<a href="#107-11:30">30</a>
<a href="#107-11:31">31</a>
<a href="#107-11:32">32</a>
<a href="#107-11:33">33</a>
<a href="#107-11:34">34</a>
</small>
<br><br>
<a name="107-11:1"></a>
<small>11:1</small> 你们该效法我、像我效法基督一样。<br>
<a name="107-11:2"></a>
<small>11:2</small> 我称赞你们、因你们凡事记念我、又坚守我所传给你们的。<br>
<a name="107-11:3"></a>
<small>11:3</small> 我愿意你们知道、基督是各人的头．男人是女人的头、　神是基督的头。<br>
<a name="107-11:4"></a>
<small>11:4</small> 凡男人祷告或是讲道、〔讲道或作说预言下同〕若蒙着头、就羞辱自己的头。<br>
<a name="107-11:5"></a>
<small>11:5</small> 凡女人祷告或是讲道、若不蒙着头、就羞辱自己的头．因为这就如同剃了头发一样。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-11:6"></a>
<small>11:6</small> 女人若不蒙着头、就该剪了头发．女人若以剪发剃发为羞愧、就该蒙着头。<br>
<a name="107-11:7"></a>
<small>11:7</small> 男人本不该蒙着头、因为他是　神的形像和荣耀、但女人是男人的荣耀。<br>
<a name="107-11:8"></a>
<small>11:8</small> 起初、男人不是由女人而出．女人乃是由男人而出。<br>
<a name="107-11:9"></a>
<small>11:9</small> 并且男人不是为女人造的．女人乃是为男人造的。<br>
<a name="107-11:10"></a>
<small>11:10</small> 因此、女人为天使的缘故、应当在头上有服权柄的记号。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-11:11"></a>
<small>11:11</small> 然而照主的安排、女也不是无男、男也不是无女。<br>
<a name="107-11:12"></a>
<small>11:12</small> 因为女人原是由男人而出、男人也是由女人而出．但万有都是出乎　神。<br>
<a name="107-11:13"></a>
<small>11:13</small> 你们自己审察、女人祷告　神、不蒙着头、是合宜的么。<br>
<a name="107-11:14"></a>
<small>11:14</small> 你们的本性不也指示你们、男人若有长头发、便是他的羞辱么。<br>
<a name="107-11:15"></a>
<small>11:15</small> 但女人有长头发、乃是他的荣耀．因为这头发是给他作盖头的。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-11:16"></a>
<small>11:16</small> 若有人想要辩驳、我们却没有这样的规矩、　神的众教会也是没有的。<br>
<a name="107-11:17"></a>
<small>11:17</small> 我现今吩咐你们的话、不是称赞你们．因为你们聚会不是受益、乃是招损。<br>
<a name="107-11:18"></a>
<small>11:18</small> 第一、我听说你们聚会的时候、彼此分门别类．我也稍微的信这话。<br>
<a name="107-11:19"></a>
<small>11:19</small> 在你们中间不免有分门结党的事、好叫那些有经验的人、显明出来。<br>
<a name="107-11:20"></a>
<small>11:20</small> 你们聚会的时候、算不得吃主的晚餐．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-11:21"></a>
<small>11:21</small> 因为吃的时候、各人先吃自己的饭、甚至这个饥饿、那个酒醉。<br>
<a name="107-11:22"></a>
<small>11:22</small> 你们要吃喝、难道没有家么．还是藐视　神的教会、叫那没有的羞愧呢。我向你们可怎么说呢．可因此称赞你们么．我不称赞。<br>
<a name="107-11:23"></a>
<small>11:23</small> 我当日传给你们的、原是从主领受的、就是主耶稣被卖的那一夜、拿起饼来、<br>
<a name="107-11:24"></a>
<small>11:24</small> 祝谢了、就擘开、说、这是我的身体、为你们舍的．〔舍有古卷作擘开〕你们应当如此行、为的是记念我。<br>
<a name="107-11:25"></a>
<small>11:25</small> 饭后、也照样拿起杯来、说、这杯是用我的血所立的新约．你们每逢喝的时候、要如此行、为的是记念我。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-11:26"></a>
<small>11:26</small> 你们每逢吃这饼、喝这杯、是表明主的死、直等到他来。<br>
<a name="107-11:27"></a>
<small>11:27</small> 所以无论何人、不按理吃主的饼、喝主的杯、就是干犯主的身主的血了。<br>
<a name="107-11:28"></a>
<small>11:28</small> 人应当自己省察、然后吃这饼、喝这杯。<br>
<a name="107-11:29"></a>
<small>11:29</small> 因为人吃喝、若不分辨是主的身体、就是吃喝自己的罪了。<br>
<a name="107-11:30"></a>
<small>11:30</small> 因此、在你们中间有好些软弱的、与患病的、死的也不少。〔死原文作睡〕<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-11:31"></a>
<small>11:31</small> 我们若是先分辨自己、就不至于受审。<br>
<a name="107-11:32"></a>
<small>11:32</small> 我们受审的时候、乃是被主惩治．免得我们和世人一同定罪。<br>
<a name="107-11:33"></a>
<small>11:33</small> 所以我弟兄们、你们聚会吃的时候、要彼此等待。<br>
<a name="107-11:34"></a>
<small>11:34</small> 若有人饥饿、可以在家里先吃．免得你们聚会自己取罪。其余的事、我来的时候再安排。<br>
<a name="107-12"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>哥林多前书 12章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#107-12:1">1</a>
<a href="#107-12:2">2</a>
<a href="#107-12:3">3</a>
<a href="#107-12:4">4</a>
<a href="#107-12:5">5</a>
<a href="#107-12:6">6</a>
<a href="#107-12:7">7</a>
<a href="#107-12:8">8</a>
<a href="#107-12:9">9</a>
<a href="#107-12:10">10</a>
<a href="#107-12:11">11</a>
<a href="#107-12:12">12</a>
<a href="#107-12:13">13</a>
<a href="#107-12:14">14</a>
<a href="#107-12:15">15</a>
<a href="#107-12:16">16</a>
<a href="#107-12:17">17</a>
<a href="#107-12:18">18</a>
<a href="#107-12:19">19</a>
<a href="#107-12:20">20</a>
<a href="#107-12:21">21</a>
<a href="#107-12:22">22</a>
<a href="#107-12:23">23</a>
<a href="#107-12:24">24</a>
<a href="#107-12:25">25</a>
<a href="#107-12:26">26</a>
<a href="#107-12:27">27</a>
<a href="#107-12:28">28</a>
<a href="#107-12:29">29</a>
<a href="#107-12:30">30</a>
<a href="#107-12:31">31</a>
</small>
<br><br>
<a name="107-12:1"></a>
<small>12:1</small> 弟兄们、论到属灵的恩赐、我不愿意你们不明白。<br>
<a name="107-12:2"></a>
<small>12:2</small> 你们作外邦人的时候、随事被牵引受迷惑、去服事那哑巴偶像．这是你们知道的。<br>
<a name="107-12:3"></a>
<small>12:3</small> 所以我告诉你们、被　神的灵感动的、没有说耶稣是可咒诅的．若不是被圣灵感动的、也没有能说耶稣是主的。<br>
<a name="107-12:4"></a>
<small>12:4</small> 恩赐原有分别、圣灵却是一位。<br>
<a name="107-12:5"></a>
<small>12:5</small> 职事也有分别、主却是一位。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-12:6"></a>
<small>12:6</small> 功用也有分别、　神却是一位、在众人里面运行一切的事。<br>
<a name="107-12:7"></a>
<small>12:7</small> 圣灵显在各人身上、是叫人得益处。<br>
<a name="107-12:8"></a>
<small>12:8</small> 这人蒙圣灵赐他智慧的言语．那人也蒙这位圣灵赐他知识的言语．<br>
<a name="107-12:9"></a>
<small>12:9</small> 又有一人蒙这位圣灵赐他信心．还有一人蒙这位圣灵赐他医病的恩赐．<br>
<a name="107-12:10"></a>
<small>12:10</small> 又叫一人能行异能．又叫一人能作先知．又叫一人能辨别诸灵．又叫一人能说方言．又叫一人能翻方言。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-12:11"></a>
<small>12:11</small> 这一切都是这位圣灵所运行、随己意分给各人的。<br>
<a name="107-12:12"></a>
<small>12:12</small> 就如身子是一个、却有许多肢体、而且肢体虽多、仍是一个身子．基督也是这样。<br>
<a name="107-12:13"></a>
<small>12:13</small> 我们不拘是犹太人、是希利尼人、是为奴的、是自主的、都从一位圣灵受洗、成了一个身体．饮于一位圣灵。<br>
<a name="107-12:14"></a>
<small>12:14</small> 身子原不是一个肢体、乃是许多肢体。<br>
<a name="107-12:15"></a>
<small>12:15</small> 设若脚说、我不是手、所以不属乎身子．他不能因此就不属乎身子。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-12:16"></a>
<small>12:16</small> 设若耳说、我不是眼、所以不属乎身子．他也不能因此就不属乎身子。<br>
<a name="107-12:17"></a>
<small>12:17</small> 若全身是眼、从那里听声呢．若全身是耳、从那里闻味呢。<br>
<a name="107-12:18"></a>
<small>12:18</small> 但如今　神随自己的意思、把肢体俱各安排在身上了。<br>
<a name="107-12:19"></a>
<small>12:19</small> 若都是一个肢体、身子在哪里呢。<br>
<a name="107-12:20"></a>
<small>12:20</small> 但如今肢体是多的、身子却是一个。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-12:21"></a>
<small>12:21</small> 眼不能对手说、我用不着你．头也不能对脚说、我用不着你。<br>
<a name="107-12:22"></a>
<small>12:22</small> 不但如此、身上肢体人以为软弱的、更是不可少的．<br>
<a name="107-12:23"></a>
<small>12:23</small> 身上肢体、我们看为不体面的、越发给他加上体面．不俊美的、越发得着俊美．<br>
<a name="107-12:24"></a>
<small>12:24</small> 我们俊美的肢体、自然用不着装饰．但　神配搭这身子、把加倍的体面给那有缺欠的肢体．<br>
<a name="107-12:25"></a>
<small>12:25</small> 免得身上分门别类．总要肢体彼此相顾。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-12:26"></a>
<small>12:26</small> 若一个肢体受苦、所有的肢体就一同受苦．若一个肢体得荣耀、所有的肢体就一同快乐。<br>
<a name="107-12:27"></a>
<small>12:27</small> 你们就是基督的身子、并且各自作肢体。<br>
<a name="107-12:28"></a>
<small>12:28</small> 　神在教会所设立的、第一是使徒．第二是先知．第三是教师．其次是行异能的．再次是得恩赐医病的．帮助人的．治理事的．说方言的。<br>
<a name="107-12:29"></a>
<small>12:29</small> 岂都是使徒么．岂都是先知么．岂都是教师么．岂都是行异能的么．<br>
<a name="107-12:30"></a>
<small>12:30</small> 岂都是得恩赐医病的么．岂都是说方言的么．岂都是翻方言的么。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-12:31"></a>
<small>12:31</small> 你们要切切的求那更大的恩赐、我现今把最妙的道指示你们。<br>
<a name="107-13"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>哥林多前书 13章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#107-13:1">1</a>
<a href="#107-13:2">2</a>
<a href="#107-13:3">3</a>
<a href="#107-13:4">4</a>
<a href="#107-13:5">5</a>
<a href="#107-13:6">6</a>
<a href="#107-13:7">7</a>
<a href="#107-13:8">8</a>
<a href="#107-13:9">9</a>
<a href="#107-13:10">10</a>
<a href="#107-13:11">11</a>
<a href="#107-13:12">12</a>
<a href="#107-13:13">13</a>
</small>
<br><br>
<a name="107-13:1"></a>
<small>13:1</small> 我若能说万人的方言、并天使的话语、却没有爱、我就成了鸣的锣、响的钹一般。<br>
<a name="107-13:2"></a>
<small>13:2</small> 我若有先知讲道之能、也明白各样的奥秘、各样的知识．而且有全备的信、叫我能够移山、却没有爱、我就算不得甚么。<br>
<a name="107-13:3"></a>
<small>13:3</small> 我若将所有的赒济穷人、又舍己身叫人焚烧、却没有爱、仍然与我无益。<br>
<a name="107-13:4"></a>
<small>13:4</small> 爱是恒久忍耐、又有恩慈．爱是不嫉妒．爱是不自夸．不张狂．<br>
<a name="107-13:5"></a>
<small>13:5</small> 不作害羞的事．不求自己的益处．不轻易发怒．不计算人的恶．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-13:6"></a>
<small>13:6</small> 不喜欢不义．只喜欢真理．<br>
<a name="107-13:7"></a>
<small>13:7</small> 凡事包容．凡事相信．凡事盼望．凡事忍耐。<br>
<a name="107-13:8"></a>
<small>13:8</small> 爱是永不止息．先知讲道之能、终必归于无有．说方言之能、终必停止、知识也终必归于无有。<br>
<a name="107-13:9"></a>
<small>13:9</small> 我们现在所知道的有限、先知所讲的也有限．<br>
<a name="107-13:10"></a>
<small>13:10</small> 等那完全的来到、这有限的必归于无有了。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-13:11"></a>
<small>13:11</small> 我作孩子的时候、话语像孩子、心思像孩子、意念像孩子．既成了人、就把孩子的事丢弃了。<br>
<a name="107-13:12"></a>
<small>13:12</small> 我们如今彷彿对着镜子观看、模糊不清．〔模糊不清原文作如同猜谜〕到那时、就要面对面了．我如今所知道的有限．到那时就全知道、如同主知道我一样。<br>
<a name="107-13:13"></a>
<small>13:13</small> 如今常存的有信、有望、有爱、这三样、其中最大的是爱。<br>
<a name="107-14"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>哥林多前书 14章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#107-14:1">1</a>
<a href="#107-14:2">2</a>
<a href="#107-14:3">3</a>
<a href="#107-14:4">4</a>
<a href="#107-14:5">5</a>
<a href="#107-14:6">6</a>
<a href="#107-14:7">7</a>
<a href="#107-14:8">8</a>
<a href="#107-14:9">9</a>
<a href="#107-14:10">10</a>
<a href="#107-14:11">11</a>
<a href="#107-14:12">12</a>
<a href="#107-14:13">13</a>
<a href="#107-14:14">14</a>
<a href="#107-14:15">15</a>
<a href="#107-14:16">16</a>
<a href="#107-14:17">17</a>
<a href="#107-14:18">18</a>
<a href="#107-14:19">19</a>
<a href="#107-14:20">20</a>
<a href="#107-14:21">21</a>
<a href="#107-14:22">22</a>
<a href="#107-14:23">23</a>
<a href="#107-14:24">24</a>
<a href="#107-14:25">25</a>
<a href="#107-14:26">26</a>
<a href="#107-14:27">27</a>
<a href="#107-14:28">28</a>
<a href="#107-14:29">29</a>
<a href="#107-14:30">30</a>
<a href="#107-14:31">31</a>
<a href="#107-14:32">32</a>
<a href="#107-14:33">33</a>
<a href="#107-14:34">34</a>
<a href="#107-14:35">35</a>
<a href="#107-14:36">36</a>
<a href="#107-14:37">37</a>
<a href="#107-14:38">38</a>
<a href="#107-14:39">39</a>
<a href="#107-14:40">40</a>
</small>
<br><br>
<a name="107-14:1"></a>
<small>14:1</small> 你们要追求爱、也要切慕属灵的恩赐、其中更要羡慕的、是作先知讲道。〔原文作是说预言下同〕<br>
<a name="107-14:2"></a>
<small>14:2</small> 那说方言的、原不是对人说、乃是对　神说．因为没有人听出来．然而他在心灵里、却是讲说各样的奥秘。<br>
<a name="107-14:3"></a>
<small>14:3</small> 但作先知讲道的、是对人说、要造就、安慰、劝勉人。<br>
<a name="107-14:4"></a>
<small>14:4</small> 说方言的、是造就自己．作先知讲道的、乃是造就教会。<br>
<a name="107-14:5"></a>
<small>14:5</small> 我愿意你们都说方言．更愿意你们作先知讲道．因为说方言的、若不翻出来、使教会被造就、那作先知讲道的、就比他强了。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-14:6"></a>
<small>14:6</small> 弟兄们、我到你们那里去、若只说方言、不用启示、或知识、或预言、或教训、给你们讲解、我与你们有甚么益处呢。<br>
<a name="107-14:7"></a>
<small>14:7</small> 就是那有声无气的物、或箫、或琴、若发出来的声音、没有分别、怎能知道所吹所弹的是甚么呢。<br>
<a name="107-14:8"></a>
<small>14:8</small> 若吹无定的号声、谁能预备打仗呢。<br>
<a name="107-14:9"></a>
<small>14:9</small> 你们也是如此、舌头若不说容易明白的话、怎能知道所说的是甚么呢．这就是向空说话了。<br>
<a name="107-14:10"></a>
<small>14:10</small> 世上的声音、或者甚多、却没有一样是无意思的。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-14:11"></a>
<small>14:11</small> 我若不明白那声音的意思、这说话的人必以我为化外之人、我也以他为化外之人。<br>
<a name="107-14:12"></a>
<small>14:12</small> 你们也是如此．既是切慕属灵的恩赐、就当求多得造就教会的恩赐。<br>
<a name="107-14:13"></a>
<small>14:13</small> 所以那说方言的、就当求着能翻出来。<br>
<a name="107-14:14"></a>
<small>14:14</small> 我若用方言祷告、是我的灵祷告．但我的悟性没有果效。<br>
<a name="107-14:15"></a>
<small>14:15</small> 这却怎么样呢．我要用灵祷告、也要用悟性祷告．我要用灵歌唱、也要用悟性歌唱。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-14:16"></a>
<small>14:16</small> 不然、你用灵祝谢、那在座不通方言的人、既然不明白你的话、怎能在你感谢的时候说阿们呢。<br>
<a name="107-14:17"></a>
<small>14:17</small> 你感谢的固然是好、无奈不能造就别人。<br>
<a name="107-14:18"></a>
<small>14:18</small> 我感谢　神、我说方言比你们众人还多．<br>
<a name="107-14:19"></a>
<small>14:19</small> 但在教会中、宁可用悟性说五句教导人的话、强如说万句方言。<br>
<a name="107-14:20"></a>
<small>14:20</small> 弟兄们、在心志上不要作小孩子．然而在恶事上要作婴孩．在心志上总要作大人。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-14:21"></a>
<small>14:21</small> 律法上记着、『主说、我要用外邦人的舌头、和外邦人的嘴唇、向这百姓说话．虽然如此、他们还是不听从我。』<br>
<a name="107-14:22"></a>
<small>14:22</small> 这样看来、说方言、不是为信的人作证据、乃是为不信的人．作先知讲道、不是为不信的人作证据、乃是为信的人。<br>
<a name="107-14:23"></a>
<small>14:23</small> 所以全教会聚在一处的时候、若都说方言、偶然有不通方言的、或是不信的人进来、岂不说你们癫狂了么。<br>
<a name="107-14:24"></a>
<small>14:24</small> 若都作先知讲道、偶然有不信的、或是不通方言的人进来、就被众人劝醒、被众人审明．<br>
<a name="107-14:25"></a>
<small>14:25</small> 他心里的隐情显露出来、就必将脸伏地、敬拜　神、说　神真是在你们中间了。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-14:26"></a>
<small>14:26</small> 弟兄们、这却怎么样呢．你们聚会的时候、各人或有诗歌、或有教训、或有启示、或有方言、或有翻出来的话．凡事都当造就人。<br>
<a name="107-14:27"></a>
<small>14:27</small> 若有说方言的、只好两个人、至多三个人、且要轮流着说、也要一个人翻出来．<br>
<a name="107-14:28"></a>
<small>14:28</small> 若没有人翻、就当在会中闭口．只对自己和　神说、就是了。<br>
<a name="107-14:29"></a>
<small>14:29</small> 至于作先知讲道的、只好两个人、或是三个人、其余的就当慎思明辨。<br>
<a name="107-14:30"></a>
<small>14:30</small> 若旁边坐着的得了启示、那先说话的就当闭口不言。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-14:31"></a>
<small>14:31</small> 因为你们都可以一个一个的作先知讲道、叫众人学道理．叫众人得劝勉。<br>
<a name="107-14:32"></a>
<small>14:32</small> 先知的灵、原是顺服先知的．<br>
<a name="107-14:33"></a>
<small>14:33</small> 因为　神不是叫人混乱、乃是叫人安静。<br>
<a name="107-14:34"></a>
<small>14:34</small> 妇女在会中要闭口不言、像在圣徒的众教会一样．因为不准他们说话．他们总要顺服、正如律法所说的。<br>
<a name="107-14:35"></a>
<small>14:35</small> 他们若要学甚么、可以在家里问自己的丈夫．因为妇女在会中说话原是可耻的。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-14:36"></a>
<small>14:36</small> 　神的道理、岂是从你们出来么．岂是单临到你们么。<br>
<a name="107-14:37"></a>
<small>14:37</small> 若有人以为自己是先知、或是属灵的、就该知道、我所写给你们的是主的命令。<br>
<a name="107-14:38"></a>
<small>14:38</small> 若有不知道的、就由他不知道吧。<br>
<a name="107-14:39"></a>
<small>14:39</small> 所以我弟兄们、你们要切慕作先知讲道、也不要禁止说方言。<br>
<a name="107-14:40"></a>
<small>14:40</small> 凡事都要规规矩矩的按着次序行。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-15"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>哥林多前书 15章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#107-15:1">1</a>
<a href="#107-15:2">2</a>
<a href="#107-15:3">3</a>
<a href="#107-15:4">4</a>
<a href="#107-15:5">5</a>
<a href="#107-15:6">6</a>
<a href="#107-15:7">7</a>
<a href="#107-15:8">8</a>
<a href="#107-15:9">9</a>
<a href="#107-15:10">10</a>
<a href="#107-15:11">11</a>
<a href="#107-15:12">12</a>
<a href="#107-15:13">13</a>
<a href="#107-15:14">14</a>
<a href="#107-15:15">15</a>
<a href="#107-15:16">16</a>
<a href="#107-15:17">17</a>
<a href="#107-15:18">18</a>
<a href="#107-15:19">19</a>
<a href="#107-15:20">20</a>
<a href="#107-15:21">21</a>
<a href="#107-15:22">22</a>
<a href="#107-15:23">23</a>
<a href="#107-15:24">24</a>
<a href="#107-15:25">25</a>
<a href="#107-15:26">26</a>
<a href="#107-15:27">27</a>
<a href="#107-15:28">28</a>
<a href="#107-15:29">29</a>
<a href="#107-15:30">30</a>
<a href="#107-15:31">31</a>
<a href="#107-15:32">32</a>
<a href="#107-15:33">33</a>
<a href="#107-15:34">34</a>
<a href="#107-15:35">35</a>
<a href="#107-15:36">36</a>
<a href="#107-15:37">37</a>
<a href="#107-15:38">38</a>
<a href="#107-15:39">39</a>
<a href="#107-15:40">40</a>
<a href="#107-15:41">41</a>
<a href="#107-15:42">42</a>
<a href="#107-15:43">43</a>
<a href="#107-15:44">44</a>
<a href="#107-15:45">45</a>
<a href="#107-15:46">46</a>
<a href="#107-15:47">47</a>
<a href="#107-15:48">48</a>
<a href="#107-15:49">49</a>
<a href="#107-15:50">50</a>
<a href="#107-15:51">51</a>
<a href="#107-15:52">52</a>
<a href="#107-15:53">53</a>
<a href="#107-15:54">54</a>
<a href="#107-15:55">55</a>
<a href="#107-15:56">56</a>
<a href="#107-15:57">57</a>
<a href="#107-15:58">58</a>
</small>
<br><br>
<a name="107-15:1"></a>
<small>15:1</small> 弟兄们、我如今把先前所传给你们的福音、告诉你们知道、这福音你们也领受了、又靠着站立得住．<br>
<a name="107-15:2"></a>
<small>15:2</small> 并且你们若不是徒然相信、能以持守我所传给你们的、就必因这福音得救。<br>
<a name="107-15:3"></a>
<small>15:3</small> 我当日所领受又传给你们的、第一、就是基督照圣经所说、为我们的罪死了．<br>
<a name="107-15:4"></a>
<small>15:4</small> 而且埋葬了．又照圣经所说、第三天复活了．<br>
<a name="107-15:5"></a>
<small>15:5</small> 并且显给矶法看．然后显给十二使徒看．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-15:6"></a>
<small>15:6</small> 后来一时显给五百多弟兄看、其中一大半到如今还在、却也有已经睡了的．<br>
<a name="107-15:7"></a>
<small>15:7</small> 以后显给雅各看．再显给众使徒看．<br>
<a name="107-15:8"></a>
<small>15:8</small> 末了也显给我看．我如同未到产期而生的人一般。<br>
<a name="107-15:9"></a>
<small>15:9</small> 我原是使徒中最小的、不配称为使徒、因为我从前逼迫　神的教会。<br>
<a name="107-15:10"></a>
<small>15:10</small> 然而我今日成了何等人、是蒙　神的恩才成的．并且他所赐我的恩、不是徒然的．我比众使徒格外劳苦．这原不是我、乃是　神的恩与我同在。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-15:11"></a>
<small>15:11</small> 不拘是我是众使徒、我们如此传、你们也如此信了。<br>
<a name="107-15:12"></a>
<small>15:12</small> 既传基督是从死里复活了、怎么在你们中间、有人说没有死人复活的事呢。<br>
<a name="107-15:13"></a>
<small>15:13</small> 若没有死人复活的事、基督也就没有复活了。<br>
<a name="107-15:14"></a>
<small>15:14</small> 若基督没有复活、我们所传的便是枉然、你们所信的也是枉然。<br>
<a name="107-15:15"></a>
<small>15:15</small> 并且明显我们是为　神妄作见证的．因我们见证　神是叫基督复活了．若死人真不复活、　神也就没有叫基督复活了。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-15:16"></a>
<small>15:16</small> 因为死人若不复活、基督也就没有复活了。<br>
<a name="107-15:17"></a>
<small>15:17</small> 基督若没有复活、你们的信便是徒然．你们仍在罪里。<br>
<a name="107-15:18"></a>
<small>15:18</small> 就是在基督里睡了的人也灭亡了。<br>
<a name="107-15:19"></a>
<small>15:19</small> 我们若靠基督、只在今生有指望、就算比众人更可怜。<br>
<a name="107-15:20"></a>
<small>15:20</small> 但基督已经从死里复活、成为睡了之人初熟的果子。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-15:21"></a>
<small>15:21</small> 死既是因一人而来、死人复活也是因一人而来。<br>
<a name="107-15:22"></a>
<small>15:22</small> 在亚当里众人都死了．照样、在基督里众人也都要复活。<br>
<a name="107-15:23"></a>
<small>15:23</small> 但各人是按着自己的次序复活。初熟的果子是基督．以后在他来的时候、是那些属基督的。<br>
<a name="107-15:24"></a>
<small>15:24</small> 再后末期到了、那时、基督既将一切执政的、掌权的、有能的、都毁灭了、就把国交与父　神。<br>
<a name="107-15:25"></a>
<small>15:25</small> 因为基督必要作王、等　神把一切仇敌、都放在他的脚下。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-15:26"></a>
<small>15:26</small> 尽末了所毁灭的仇敌、就是死。<br>
<a name="107-15:27"></a>
<small>15:27</small> 因为经上说、『　神叫万物都服在他的脚下。』既说万物都服了他、明显那叫万物服他的不在其内了。<br>
<a name="107-15:28"></a>
<small>15:28</small> 万物既服了他、那时、子也要自己服那叫万物服他的、叫　神在万物之上、为万物之主。<br>
<a name="107-15:29"></a>
<small>15:29</small> 不然、那些为死人受洗的、将来怎样呢．若死人总不复活、因何为他们受洗呢．<br>
<a name="107-15:30"></a>
<small>15:30</small> 我们又因何时刻冒险呢。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-15:31"></a>
<small>15:31</small> 弟兄们、我在我主基督耶稣里、指着你们所夸的口、极力的说、我是天天冒死。<br>
<a name="107-15:32"></a>
<small>15:32</small> 我若当日像寻常人、在以弗所同野兽战斗、那于我有甚么益处呢．若死人不复活、我们就吃吃喝喝吧．因为明天要死了。<br>
<a name="107-15:33"></a>
<small>15:33</small> 你们不要自欺．滥交是败坏善行。<br>
<a name="107-15:34"></a>
<small>15:34</small> 你们要醒悟为善、不要犯罪．因为有人不认识　神．我说这话、是要叫你们羞愧。<br>
<a name="107-15:35"></a>
<small>15:35</small> 或有人问、死人怎样复活．带着甚么身体来呢。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-15:36"></a>
<small>15:36</small> 无知的人哪、你所种的、若不死就不能生。<br>
<a name="107-15:37"></a>
<small>15:37</small> 并且你所种的、不是那将来的形体、不过是子粒、即如麦子、或是别样的谷．<br>
<a name="107-15:38"></a>
<small>15:38</small> 但　神随自己的意思、给他一个形体、并叫各等子粒、各有自己的形体。<br>
<a name="107-15:39"></a>
<small>15:39</small> 凡肉体各有不同．人是一样、兽又是一样、鸟又是一样、鱼又是一样。<br>
<a name="107-15:40"></a>
<small>15:40</small> 有天上的形体、也有地上的形体．但天上形体的荣光是一样、地上形体的荣光又是一样。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-15:41"></a>
<small>15:41</small> 日有日的荣光、月有月的荣光、星有星的荣光．这星和那星的荣光、也有分别。<br>
<a name="107-15:42"></a>
<small>15:42</small> 死人复活也是这样．所种的是必朽坏的、复活的是不朽坏的．<br>
<a name="107-15:43"></a>
<small>15:43</small> 所种的是羞辱的、复活的是荣耀的．所种的是软弱的、复活的是强壮的．<br>
<a name="107-15:44"></a>
<small>15:44</small> 所种的是血气的身体、复活的是灵性的身体．若有血气的身体、也必有灵性的身体。<br>
<a name="107-15:45"></a>
<small>15:45</small> 经上也是这样记着说、『首先的人亚当、成了有灵的活人。』〔灵或作血气〕末后的亚当、成了叫人活的灵。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-15:46"></a>
<small>15:46</small> 但属灵的不在先、属血气的在先．以后才有属灵的。<br>
<a name="107-15:47"></a>
<small>15:47</small> 头一个人是出于地、乃属土．第二个人是出于天。<br>
<a name="107-15:48"></a>
<small>15:48</small> 那属土的怎样、凡属土的也就怎样．属天的怎样、凡属天的也就怎样。<br>
<a name="107-15:49"></a>
<small>15:49</small> 我们既有属土的形状、将来也必有属天的形状。<br>
<a name="107-15:50"></a>
<small>15:50</small> 弟兄们、我告诉你们说、血肉之体、不能承受　神的国．必朽坏的、不能承受不朽坏的。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-15:51"></a>
<small>15:51</small> 我如今把一件奥秘的事告诉你们．我们不是都要睡觉、乃是都要改变、<br>
<a name="107-15:52"></a>
<small>15:52</small> 就在一霎时、眨眼之间、号筒末次吹响的时候．因号筒要响、死人要复活成为不朽坏的、我们也要改变。<br>
<a name="107-15:53"></a>
<small>15:53</small> 这必朽坏的、总要变成不朽坏的．〔变成原文作穿下同〕这必死的、总要变成不死的。<br>
<a name="107-15:54"></a>
<small>15:54</small> 这必朽坏的、既变成不朽坏的．这必死的、既变成不死的．那时经上所记、死被得胜吞灭的话就应验了。<br>
<a name="107-15:55"></a>
<small>15:55</small> 死阿、你得胜的权势在那里．死阿、你的毒钩在那里．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-15:56"></a>
<small>15:56</small> 死的毒钩就是罪．罪的权势就是律法。<br>
<a name="107-15:57"></a>
<small>15:57</small> 感谢　神、使我们借着我们的主耶稣基督得胜。<br>
<a name="107-15:58"></a>
<small>15:58</small> 所以我亲爱的弟兄们、你们务要坚固不可摇动、常常竭力多作主工、因为知道你们的劳苦、在主里面不是徒然的。<br>
<a name="107-16"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>哥林多前书 16章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#107-16:1">1</a>
<a href="#107-16:2">2</a>
<a href="#107-16:3">3</a>
<a href="#107-16:4">4</a>
<a href="#107-16:5">5</a>
<a href="#107-16:6">6</a>
<a href="#107-16:7">7</a>
<a href="#107-16:8">8</a>
<a href="#107-16:9">9</a>
<a href="#107-16:10">10</a>
<a href="#107-16:11">11</a>
<a href="#107-16:12">12</a>
<a href="#107-16:13">13</a>
<a href="#107-16:14">14</a>
<a href="#107-16:15">15</a>
<a href="#107-16:16">16</a>
<a href="#107-16:17">17</a>
<a href="#107-16:18">18</a>
<a href="#107-16:19">19</a>
<a href="#107-16:20">20</a>
<a href="#107-16:21">21</a>
<a href="#107-16:22">22</a>
<a href="#107-16:23">23</a>
<a href="#107-16:24">24</a>
</small>
<br><br>
<a name="107-16:1"></a>
<small>16:1</small> 论到为圣徒捐钱、我从前怎样吩咐加拉太的众教会、你们也当怎样行。<br>
<a name="107-16:2"></a>
<small>16:2</small> 每逢七日的第一日、各人要照自己的进项抽出来留着．免得我来的时候现凑。<br>
<a name="107-16:3"></a>
<small>16:3</small> 及至我来到了、你们写信举荐谁、我就打发他们、把你们的捐资送到耶路撒冷去．<br>
<a name="107-16:4"></a>
<small>16:4</small> 若我也该去、他们可以和我同去。<br>
<a name="107-16:5"></a>
<small>16:5</small> 我要从马其顿经过．既经过了、就要到你们那里去．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-16:6"></a>
<small>16:6</small> 或者和你们同住几时、或者也过冬．无论我往那里去、你们就可以给我送行。<br>
<a name="107-16:7"></a>
<small>16:7</small> 我如今不愿意路过见你们．主若许我、我就指望和你们同住几时。<br>
<a name="107-16:8"></a>
<small>16:8</small> 但我要仍旧住在以弗所、直等到五旬节．<br>
<a name="107-16:9"></a>
<small>16:9</small> 因为有宽大又有功效的门、为我开了、并且反对的人也多。<br>
<a name="107-16:10"></a>
<small>16:10</small> 若是提摩太来到、你们要留心、叫他在你们那里无所惧怕．因为他劳力作主的工、像我一样．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-16:11"></a>
<small>16:11</small> 所以无论谁、都不可藐视他．只要送他平安前行、叫他到我这里来．因我指望他和弟兄们同来。<br>
<a name="107-16:12"></a>
<small>16:12</small> 至于兄弟亚波罗、我再三的劝他、同弟兄们到你们那里去．但这时他决不愿意去．几时有了机会他必去。<br>
<a name="107-16:13"></a>
<small>16:13</small> 你们务要儆醒、在真道上站立得稳、要作大丈夫、要刚强。<br>
<a name="107-16:14"></a>
<small>16:14</small> 凡你们所作的、都要凭爱心而作。<br>
<a name="107-16:15"></a>
<small>16:15</small> 弟兄们、你们晓得司提反一家、是亚该亚初结的果子．并且他们专以服事圣徒为念．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-16:16"></a>
<small>16:16</small> 我劝你们顺服这样的人、并一切同工同劳的人。<br>
<a name="107-16:17"></a>
<small>16:17</small> 司提反、和福徒拿都、并亚该古、到这里来、我很喜欢．因为你们待我有不及之处、他们补上了。<br>
<a name="107-16:18"></a>
<small>16:18</small> 他们叫我和你们心里都快活．这样的人、你们务要敬重。<br>
<a name="107-16:19"></a>
<small>16:19</small> 亚西亚的众教会问你们安。亚居拉和百基拉、并在他们家里的教会、因主多多的问你们安。<br>
<a name="107-16:20"></a>
<small>16:20</small> 众弟兄都问你们安。你们要亲嘴问安、彼此务要圣洁。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="107-16:21"></a>
<small>16:21</small> 我保罗亲笔问安。<br>
<a name="107-16:22"></a>
<small>16:22</small> 若有人不爱主、这人可诅可咒。主必要来。<br>
<a name="107-16:23"></a>
<small>16:23</small> 愿主耶稣基督的恩、常与你们众人同在。<br>
<a name="107-16:24"></a>
<small>16:24</small> 我在基督耶稣里的爱、与你们众人同在。阿们。<br>
<br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<h5>END <a href="index.htm#000"><small>《</small></a></h5>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<ins datetime="2011:02:15">107 哥林多前书 1 Corinthians
</ins><br>
<br><b>圣经 简体和合本</b><br><br>
</body>
</html>
