<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<title>腓立比书</title>
<meta name="description" content=
"圣经简体和合本 - 腓立比书。Simplified Chinese Bible Union version - Philippians">
<meta name="keywords" content="圣经简体和合本, 腓立比书, 
Simplified Chinese Bible Union version, Philippians">
<style type="text/css">body {font-size:150%}</style>
<script type="text/javascript">
cssfile = "";
function loadcss(filename) {
 cssfile = filename;
 var fileref=document.createElement("link")
 fileref.setAttribute("rel", "stylesheet");
 fileref.setAttribute("type", "text/css");
 fileref.setAttribute("href", filename);
 if (typeof fileref!="undefined")
  {document.getElementsByTagName("head")[0].appendChild(fileref);}
}
</script>
</head>
<body bgcolor="#ffffff">
<a name="top"></a><br>
 &nbsp; &nbsp; &nbsp; &nbsp; 
 <a href="javascript:loadcss('font1.css')"><font size="1">A</font></a> 
 &nbsp; &nbsp; &nbsp; &nbsp; 
 <a href="javascript:loadcss('font2.css')"><font size="2">A</font></a> 
 &nbsp; &nbsp; &nbsp; &nbsp; 
 <a href="javascript:loadcss('font3.css')"><font size="3">A</font></a> 
 &nbsp; &nbsp; &nbsp; &nbsp; 
 <a href="javascript:loadcss('font4.css')"><font size="4">A</font></a> 
<h3 align="center">111 腓立比书 Philippians</h3>
<h5 align="center">圣经 简体和合本</h5>
<center>
<a href="index.htm#000">&nbsp;&lt;&nbsp;</a>
<a href="#111-1">1</a>
<a href="#111-2">2</a>
<a href="#111-3">3</a>
<a href="#111-4">4</a>
</center>
<a name="111-1"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>腓立比书 1章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#111-1:1">1</a>
<a href="#111-1:2">2</a>
<a href="#111-1:3">3</a>
<a href="#111-1:4">4</a>
<a href="#111-1:5">5</a>
<a href="#111-1:6">6</a>
<a href="#111-1:7">7</a>
<a href="#111-1:8">8</a>
<a href="#111-1:9">9</a>
<a href="#111-1:10">10</a>
<a href="#111-1:11">11</a>
<a href="#111-1:12">12</a>
<a href="#111-1:13">13</a>
<a href="#111-1:14">14</a>
<a href="#111-1:15">15</a>
<a href="#111-1:16">16</a>
<a href="#111-1:17">17</a>
<a href="#111-1:18">18</a>
<a href="#111-1:19">19</a>
<a href="#111-1:20">20</a>
<a href="#111-1:21">21</a>
<a href="#111-1:22">22</a>
<a href="#111-1:23">23</a>
<a href="#111-1:24">24</a>
<a href="#111-1:25">25</a>
<a href="#111-1:26">26</a>
<a href="#111-1:27">27</a>
<a href="#111-1:28">28</a>
<a href="#111-1:29">29</a>
<a href="#111-1:30">30</a>
</small>
<br><br>
<a name="111-1:1"></a>
<small>1:1</small> 基督耶稣的仆人保罗、和提摩太、写信给凡住腓立比、在基督耶稣里的众圣徒、和诸位监督、诸位执事．<br>
<a name="111-1:2"></a>
<small>1:2</small> 愿恩惠平安、从　神我们的父、并主耶稣基督、归与你们。<br>
<a name="111-1:3"></a>
<small>1:3</small> 我每逢想念你们、就感谢我的　神．<br>
<a name="111-1:4"></a>
<small>1:4</small> （每逢为你们众人祈求的时候、常是欢欢喜喜的祈求)<br>
<a name="111-1:5"></a>
<small>1:5</small> 因为从头一天直到如今、你们是同心合意的兴旺福音。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="111-1:6"></a>
<small>1:6</small> 我深信那在你们心里动了善工的、必成全这工、直到耶稣基督的日子．<br>
<a name="111-1:7"></a>
<small>1:7</small> 我为你们众人有这样的意念、原是应当的．因你们常在我心里、无论我是在捆锁之中、是辩明证实福音的时候、你们都与我一同得恩。<br>
<a name="111-1:8"></a>
<small>1:8</small> 我体会基督耶稣的心肠、切切的想念你们众人．这是　神可以给我作见证的。<br>
<a name="111-1:9"></a>
<small>1:9</small> 我所祷告的、就是要你们的爱心、在知识和各样见识上、多而又多．<br>
<a name="111-1:10"></a>
<small>1:10</small> 使你们能分别是非、〔或作喜爱那美好的事〕作诚实无过的人、直到基督的日子．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="111-1:11"></a>
<small>1:11</small> 并靠着耶稣基督结满了仁义的果子、叫荣耀称赞归与　神。<br>
<a name="111-1:12"></a>
<small>1:12</small> 弟兄们、我愿意你们知道、我所遭遇的事、更是叫福音兴旺．<br>
<a name="111-1:13"></a>
<small>1:13</small> 以致我受的捆锁、在御营全军、和其余的人中、已经显明是为基督的缘故。<br>
<a name="111-1:14"></a>
<small>1:14</small> 并且那在主里的弟兄、多半因我受的捆锁、就笃信不疑、越发放胆传　神的道、无所惧怕。<br>
<a name="111-1:15"></a>
<small>1:15</small> 有的传基督、是出于嫉妒分争．也有的是出于好意．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="111-1:16"></a>
<small>1:16</small> 这一等、是出于爱心、知道我是为辩明福音设立的．<br>
<a name="111-1:17"></a>
<small>1:17</small> 那一等传基督、是出于结党、并不诚实、意思要加增我捆锁的苦楚。<br>
<a name="111-1:18"></a>
<small>1:18</small> 这有何妨呢．或是假意、或是真心、无论怎样、基督究竟被传开了．为此我就欢喜、并且还要欢喜。<br>
<a name="111-1:19"></a>
<small>1:19</small> 因为我知道这事借着你们的祈祷、和耶稣基督之灵的帮助、终必叫我得救．<br>
<a name="111-1:20"></a>
<small>1:20</small> 照着我所切慕所盼望的、没有一事叫我羞愧、只要凡事放胆．无论是生、是死、总叫基督在我身上照常显大。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="111-1:21"></a>
<small>1:21</small> 因我活着就是基督、我死了就有益处。<br>
<a name="111-1:22"></a>
<small>1:22</small> 但我在肉身活着、若成就我工夫的果子、我就不知道该挑选甚么。<br>
<a name="111-1:23"></a>
<small>1:23</small> 我正在两难之间、情愿离世与基督同在．因为这是好得无比的．<br>
<a name="111-1:24"></a>
<small>1:24</small> 然而我在肉身活着、为你们更是要紧的。<br>
<a name="111-1:25"></a>
<small>1:25</small> 我既然这样深信、就知道仍要住在世间、且与你们众人同住、使你们在所信的道上、又长进又喜乐．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="111-1:26"></a>
<small>1:26</small> 叫你们在基督耶稣里的欢乐、因我再到你们那里去、就越发加增。<br>
<a name="111-1:27"></a>
<small>1:27</small> 只要你们行事为人与基督的福音相称．叫我或来见你们、或不在你们那里、可以听见你们的景况、知道你们同有一个心志、站立得稳、为所信的福音齐心努力．<br>
<a name="111-1:28"></a>
<small>1:28</small> 凡事不怕敌人的惊吓．这是证明他们沉沦、你们得救、都是出于　神。<br>
<a name="111-1:29"></a>
<small>1:29</small> 因为你们蒙恩、不但得以信服基督、并要为他受苦。<br>
<a name="111-1:30"></a>
<small>1:30</small> 你们的争战、就与你们在我身上从前所看见、现在所听见的一样。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="111-2"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>腓立比书 2章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#111-2:1">1</a>
<a href="#111-2:2">2</a>
<a href="#111-2:3">3</a>
<a href="#111-2:4">4</a>
<a href="#111-2:5">5</a>
<a href="#111-2:6">6</a>
<a href="#111-2:7">7</a>
<a href="#111-2:8">8</a>
<a href="#111-2:9">9</a>
<a href="#111-2:10">10</a>
<a href="#111-2:11">11</a>
<a href="#111-2:12">12</a>
<a href="#111-2:13">13</a>
<a href="#111-2:14">14</a>
<a href="#111-2:15">15</a>
<a href="#111-2:16">16</a>
<a href="#111-2:17">17</a>
<a href="#111-2:18">18</a>
<a href="#111-2:19">19</a>
<a href="#111-2:20">20</a>
<a href="#111-2:21">21</a>
<a href="#111-2:22">22</a>
<a href="#111-2:23">23</a>
<a href="#111-2:24">24</a>
<a href="#111-2:25">25</a>
<a href="#111-2:26">26</a>
<a href="#111-2:27">27</a>
<a href="#111-2:28">28</a>
<a href="#111-2:29">29</a>
<a href="#111-2:30">30</a>
</small>
<br><br>
<a name="111-2:1"></a>
<small>2:1</small> 所以在基督里若有甚么劝勉、爱心有甚么安慰、圣灵有甚么交通、心中有甚么慈悲怜悯、<br>
<a name="111-2:2"></a>
<small>2:2</small> 你们就要意念相同、爱心相同、有一样的心思、有一样的意念、使我的喜乐可以满足。<br>
<a name="111-2:3"></a>
<small>2:3</small> 凡事不可结党、不可贪图虚浮的荣耀．只要存心谦卑、各人看别人比自己强。<br>
<a name="111-2:4"></a>
<small>2:4</small> 各人不要单顾自己的事、也要顾别人的事。<br>
<a name="111-2:5"></a>
<small>2:5</small> 你们当以基督耶稣的心为心。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="111-2:6"></a>
<small>2:6</small> 他本有　神的形像、不以自己与　神同等为强夺的．<br>
<a name="111-2:7"></a>
<small>2:7</small> 反倒虚己、取了奴仆的形像、成为人的样式．<br>
<a name="111-2:8"></a>
<small>2:8</small> 既有人的样子、就自己卑微、存心顺服、以至于死、且死在十字架上。<br>
<a name="111-2:9"></a>
<small>2:9</small> 所以　神将他升为至高、又赐给他那超乎万名之上的名、<br>
<a name="111-2:10"></a>
<small>2:10</small> 叫一切在天上的、地上的、和地底下的、因耶稣的名、无不屈膝、<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="111-2:11"></a>
<small>2:11</small> 无不口称耶稣基督为主、使荣耀归与父　神。<br>
<a name="111-2:12"></a>
<small>2:12</small> 这样看来、我亲爱的弟兄、你们既是常顺服的、不但我在你们那里、就是我如今不在你们那里、更是顺服的、就当恐惧战兢、作成你们得救的工夫．<br>
<a name="111-2:13"></a>
<small>2:13</small> 因为你们立志行事、都是　神在你们心里运行、为要成就他的美意。<br>
<a name="111-2:14"></a>
<small>2:14</small> 凡所行的、都不要发怨言、起争论、<br>
<a name="111-2:15"></a>
<small>2:15</small> 使你们无可指摘、诚实无伪、在这弯曲悖谬的世代、作　神无瑕疵的儿女．你们显在这世代中、好像明光照耀、<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="111-2:16"></a>
<small>2:16</small> 将生命的道表明出来、叫我在基督的日子、好夸我没有空跑、也没有徒劳。<br>
<a name="111-2:17"></a>
<small>2:17</small> 我以你们的信心为供献的祭物．我若被浇奠在其上、也是喜乐．并且与你们众人一同喜乐．<br>
<a name="111-2:18"></a>
<small>2:18</small> 你们也要照样喜乐、并且与我一同喜乐。<br>
<a name="111-2:19"></a>
<small>2:19</small> 我靠主耶稣指望快打发提摩太去见你们、叫我知道你们的事、心里就得着安慰。<br>
<a name="111-2:20"></a>
<small>2:20</small> 因为我没有别人与我同心、实在挂念你们的事。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="111-2:21"></a>
<small>2:21</small> 别人都求自己的事、并不求耶稣基督的事。<br>
<a name="111-2:22"></a>
<small>2:22</small> 但你们知道提摩太的明证、他兴旺福音与我同劳、待我像儿子待父亲一样。<br>
<a name="111-2:23"></a>
<small>2:23</small> 所以我一看出我的事要怎样了结、就盼望立刻打发他去．<br>
<a name="111-2:24"></a>
<small>2:24</small> 但我靠着主自信我也必快去。<br>
<a name="111-2:25"></a>
<small>2:25</small> 然而我想必须打发以巴弗提到你们那里去．他是我的兄弟、与我一同作工、一同当兵、是你们所差遣的、也是供给我需用的。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="111-2:26"></a>
<small>2:26</small> 他很想念你们众人、并且极其难过、因为你们听见他病了．<br>
<a name="111-2:27"></a>
<small>2:27</small> 他实在是病了、几乎要死．然而　神怜恤他、不但怜恤他、也怜恤我、免得我忧上加忧。<br>
<a name="111-2:28"></a>
<small>2:28</small> 所以我越发急速打发他去、叫你们再见他、就可以喜乐、我也可以少些忧愁。<br>
<a name="111-2:29"></a>
<small>2:29</small> 故此你们要在主里欢欢乐乐的接待他．而且要尊重这样的人．<br>
<a name="111-2:30"></a>
<small>2:30</small> 因他为作基督的工夫、几乎至死、不顾性命、要补足你们供给我的不及之处。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="111-3"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>腓立比书 3章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#111-3:1">1</a>
<a href="#111-3:2">2</a>
<a href="#111-3:3">3</a>
<a href="#111-3:4">4</a>
<a href="#111-3:5">5</a>
<a href="#111-3:6">6</a>
<a href="#111-3:7">7</a>
<a href="#111-3:8">8</a>
<a href="#111-3:9">9</a>
<a href="#111-3:10">10</a>
<a href="#111-3:11">11</a>
<a href="#111-3:12">12</a>
<a href="#111-3:13">13</a>
<a href="#111-3:14">14</a>
<a href="#111-3:15">15</a>
<a href="#111-3:16">16</a>
<a href="#111-3:17">17</a>
<a href="#111-3:18">18</a>
<a href="#111-3:19">19</a>
<a href="#111-3:20">20</a>
<a href="#111-3:21">21</a>
</small>
<br><br>
<a name="111-3:1"></a>
<small>3:1</small> 弟兄们、我还有话说、你们要靠主喜乐。我把这话再写给你们、于我并不为难、于你们却是妥当。<br>
<a name="111-3:2"></a>
<small>3:2</small> 应当防备犬类、防备作恶的、防备妄自行割的．<br>
<a name="111-3:3"></a>
<small>3:3</small> 因为真受割礼的、乃是我们这以　神的灵敬拜、在基督耶稣里夸口、不靠着肉体的．<br>
<a name="111-3:4"></a>
<small>3:4</small> 其实我也可以靠肉体．若是别人想他可以靠肉体、我更可以靠着了。<br>
<a name="111-3:5"></a>
<small>3:5</small> 我第八天受割礼、我是以色列族、便雅悯支派的人、是希伯来人所生的希伯来人．就律法说、我是法利赛人．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="111-3:6"></a>
<small>3:6</small> 就热心说、我是逼迫教会的．就律法上的义说、我是无可指摘的。<br>
<a name="111-3:7"></a>
<small>3:7</small> 只是我先前以为与我有益的、我现在因基督都当作有损的。<br>
<a name="111-3:8"></a>
<small>3:8</small> 不但如此、我也将万事当作有损的、因我以认识我主基督耶稣为至宝。我为他已经丢弃万事、看作粪土、为要得着基督．<br>
<a name="111-3:9"></a>
<small>3:9</small> 并且得以在他里面、不是有自己因律法而得的义、乃是有信基督的义、就是因信　神而来的义．<br>
<a name="111-3:10"></a>
<small>3:10</small> 使我认识基督、晓得他复活的大能、并且晓得和他一同受苦、效法他的死．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="111-3:11"></a>
<small>3:11</small> 或者我也得以从死里复活。<br>
<a name="111-3:12"></a>
<small>3:12</small> 这不是说、我已经得着了、已经完全了．我乃是竭力追求、或者可以得着基督耶稣所以得着我的。〔所以得着我的或作所要我得的〕<br>
<a name="111-3:13"></a>
<small>3:13</small> 弟兄们、我不是以为自己已经得着了．我只有一件事、就是忘记背后努力面前的、<br>
<a name="111-3:14"></a>
<small>3:14</small> 向着标竿直跑、要得　神在基督耶稣里从上面召我来得的奖赏。<br>
<a name="111-3:15"></a>
<small>3:15</small> 所以我们中间凡是完全人、总要存这样的心．若在甚么事上、存别样的心、　神也必以此指示你们．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="111-3:16"></a>
<small>3:16</small> 然而我们到了甚么地步、就当照着甚么地步行。<br>
<a name="111-3:17"></a>
<small>3:17</small> 弟兄们、你们要一同效法我、也当留意看那些照我们榜样行的人。<br>
<a name="111-3:18"></a>
<small>3:18</small> 因为有许多人行事、是基督十字架的仇敌．我屡次告诉你们、现在又流泪的告诉你们。<br>
<a name="111-3:19"></a>
<small>3:19</small> 他们的结局就是沉沦、他们的　神就是自己的肚腹、他们以自己的羞辱为荣耀、专以地上的事为念。<br>
<a name="111-3:20"></a>
<small>3:20</small> 我们却是天上的国民．并且等候救主、就是主耶稣基督、从天上降临。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="111-3:21"></a>
<small>3:21</small> 他要按着那能叫万有归服自己的大能、将我们这卑贱的身体改变形状、和他自己荣耀的身体相似。<br>
<a name="111-4"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>腓立比书 4章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#111-4:1">1</a>
<a href="#111-4:2">2</a>
<a href="#111-4:3">3</a>
<a href="#111-4:4">4</a>
<a href="#111-4:5">5</a>
<a href="#111-4:6">6</a>
<a href="#111-4:7">7</a>
<a href="#111-4:8">8</a>
<a href="#111-4:9">9</a>
<a href="#111-4:10">10</a>
<a href="#111-4:11">11</a>
<a href="#111-4:12">12</a>
<a href="#111-4:13">13</a>
<a href="#111-4:14">14</a>
<a href="#111-4:15">15</a>
<a href="#111-4:16">16</a>
<a href="#111-4:17">17</a>
<a href="#111-4:18">18</a>
<a href="#111-4:19">19</a>
<a href="#111-4:20">20</a>
<a href="#111-4:21">21</a>
<a href="#111-4:22">22</a>
<a href="#111-4:23">23</a>
</small>
<br><br>
<a name="111-4:1"></a>
<small>4:1</small> 我所亲爱所想念的弟兄们、你们就是我的喜乐、我的冠冕．我亲爱的弟兄、你们应当靠主站立得稳。<br>
<a name="111-4:2"></a>
<small>4:2</small> 我劝友阿爹和循都基、要在主里同心．<br>
<a name="111-4:3"></a>
<small>4:3</small> 我也求你这真实同负一轭的、帮助这两个女人、因为他们在福音上曾与我一同劳苦．还有革利免、并其余和我一同作工的．他们的名字都在生命册上。<br>
<a name="111-4:4"></a>
<small>4:4</small> 你们要靠主常常喜乐．我再说、你们要喜乐。<br>
<a name="111-4:5"></a>
<small>4:5</small> 当叫众人知道你们谦让的心。主已经近了。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="111-4:6"></a>
<small>4:6</small> 应当一无挂虑、只要凡事借着祷告、祈求、和感谢、将你们所要的告诉　神。<br>
<a name="111-4:7"></a>
<small>4:7</small> 　神所赐出人意外的平安、必在基督耶稣里、保守你们的心怀意念。<br>
<a name="111-4:8"></a>
<small>4:8</small> 弟兄们、我还有未尽的话．凡是真实的、可敬的、公义的、清洁的、可爱的、有美名的．若有甚么德行、若有甚么称赞、这些事你们都要思念。<br>
<a name="111-4:9"></a>
<small>4:9</small> 你们在我身上所学习的、所领受的、所听见的、所看见的、这些事你们都要去行．赐平安的　神、就必与你们同在。<br>
<a name="111-4:10"></a>
<small>4:10</small> 我靠主大大的喜乐、因为你们思念我的心、如今又发生．你们向来就思念我、只是没得机会。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="111-4:11"></a>
<small>4:11</small> 我并不是因缺乏说这话、我无论在甚么景况、都可以知足、这是我已经学会了．<br>
<a name="111-4:12"></a>
<small>4:12</small> 我知道怎样处卑贱、也知道怎样处丰富、或饱足、或饥饿、或有余、或缺乏、随事随在、我都得了秘诀。<br>
<a name="111-4:13"></a>
<small>4:13</small> 我靠着那加给我力量的、凡事都能作。<br>
<a name="111-4:14"></a>
<small>4:14</small> 然而你们和我同受患难、原是美事。<br>
<a name="111-4:15"></a>
<small>4:15</small> 腓立比人哪、你们也知道我初传福音、离了马其顿的时候、论到授受的事、除了你们以外、并没有别的教会供给我．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="111-4:16"></a>
<small>4:16</small> 就是我在帖撒罗尼迦、你们也一次两次的、打发人供给我的需用。<br>
<a name="111-4:17"></a>
<small>4:17</small> 我并不求甚么馈送、所求的就是你们的果子渐渐增多、归在你们的帐上。<br>
<a name="111-4:18"></a>
<small>4:18</small> 但我样样都有、并且有余．我已经充足、因我从以巴弗提受了你们的馈送、当作极美的香气、为　神所收纳所喜悦的祭物。<br>
<a name="111-4:19"></a>
<small>4:19</small> 我的　神必照他荣耀的丰富、在基督耶稣里、使你们一切所需用的都充足。<br>
<a name="111-4:20"></a>
<small>4:20</small> 愿荣耀归给我们的父　神、直到永永远远。阿们。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="111-4:21"></a>
<small>4:21</small> 请问在基督耶稣里的各位圣徒安。在我这里的众弟兄都问你们安。<br>
<a name="111-4:22"></a>
<small>4:22</small> 众圣徒都问你们安。在该撒家里的人特特的问你们安。<br>
<a name="111-4:23"></a>
<small>4:23</small> 愿主耶稣基督的恩常在你们心里。<br>
<br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<h5>END <a href="index.htm#000"><small>《</small></a></h5>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<ins datetime="2011:02:15">111 腓立比书 Philippians
</ins><br>
<br><b>圣经 简体和合本</b><br><br>
</body>
</html>
