<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<title>腓利门书</title>
<meta name="description" content=
"圣经简体和合本 - 腓利门书。Simplified Chinese Bible Union version - Philemon">
<meta name="keywords" content="圣经简体和合本, 腓利门书, 
Simplified Chinese Bible Union version, Philemon">
<style type="text/css">body {font-size:150%}</style>
<script type="text/javascript">
cssfile = "";
function loadcss(filename) {
 cssfile = filename;
 var fileref=document.createElement("link")
 fileref.setAttribute("rel", "stylesheet");
 fileref.setAttribute("type", "text/css");
 fileref.setAttribute("href", filename);
 if (typeof fileref!="undefined")
  {document.getElementsByTagName("head")[0].appendChild(fileref);}
}
</script>
</head>
<body bgcolor="#ffffff">
<a name="top"></a><br>
 &nbsp; &nbsp; &nbsp; &nbsp; 
 <a href="javascript:loadcss('font1.css')"><font size="1">A</font></a> 
 &nbsp; &nbsp; &nbsp; &nbsp; 
 <a href="javascript:loadcss('font2.css')"><font size="2">A</font></a> 
 &nbsp; &nbsp; &nbsp; &nbsp; 
 <a href="javascript:loadcss('font3.css')"><font size="3">A</font></a> 
 &nbsp; &nbsp; &nbsp; &nbsp; 
 <a href="javascript:loadcss('font4.css')"><font size="4">A</font></a> 
<h3 align="center">118 腓利门书 Philemon</h3>
<h5 align="center">圣经 简体和合本</h5>
<center>
<a href="index.htm#000">&nbsp;&lt;&nbsp;</a>
<a href="#118-1">1</a>
</center>
<a name="118-1"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>腓利门书 1章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#118-1:1">1</a>
<a href="#118-1:2">2</a>
<a href="#118-1:3">3</a>
<a href="#118-1:4">4</a>
<a href="#118-1:5">5</a>
<a href="#118-1:6">6</a>
<a href="#118-1:7">7</a>
<a href="#118-1:8">8</a>
<a href="#118-1:9">9</a>
<a href="#118-1:10">10</a>
<a href="#118-1:11">11</a>
<a href="#118-1:12">12</a>
<a href="#118-1:13">13</a>
<a href="#118-1:14">14</a>
<a href="#118-1:15">15</a>
<a href="#118-1:16">16</a>
<a href="#118-1:17">17</a>
<a href="#118-1:18">18</a>
<a href="#118-1:19">19</a>
<a href="#118-1:20">20</a>
<a href="#118-1:21">21</a>
<a href="#118-1:22">22</a>
<a href="#118-1:23">23</a>
<a href="#118-1:24">24</a>
<a href="#118-1:25">25</a>
</small>
<br><br>
<a name="118-1:1"></a>
<small>1:1</small> 为基督耶稣被囚的保罗、同兄弟提摩太、写信给我们所亲爱的同工腓利门、<br>
<a name="118-1:2"></a>
<small>1:2</small> 和妹子亚腓亚、并与我们同当兵的亚基布、以及在你家的教会．<br>
<a name="118-1:3"></a>
<small>1:3</small> 愿恩惠平安、从　神我们的父、和主耶稣基督、归与你们。<br>
<a name="118-1:4"></a>
<small>1:4</small> 我祷告的时候提到你、常为你感谢我的　神．<br>
<a name="118-1:5"></a>
<small>1:5</small> 因听说你的爱心、并你向主耶稣和众圣徒的信心．〔或作因听说你向主耶稣和众圣徒有爱心有信心〕<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="118-1:6"></a>
<small>1:6</small> 愿你与人所同有的信心显出功效、使人知道你们各样善事都是为基督作的。<br>
<a name="118-1:7"></a>
<small>1:7</small> 兄弟阿、我为你的爱心、大有快乐、大得安慰．因众圣徒的心从你得了畅快。<br>
<a name="118-1:8"></a>
<small>1:8</small> 我虽然靠着基督能放胆吩咐你合宜的事．<br>
<a name="118-1:9"></a>
<small>1:9</small> 然而像我这有年纪的保罗、现在又是为基督耶稣被囚的、宁可凭着爱心求你．<br>
<a name="118-1:10"></a>
<small>1:10</small> 就是为我在捆锁中所生的儿子阿尼西母〔此名就是有益处的意思〕求你．<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="118-1:11"></a>
<small>1:11</small> 他从前与你没有益处、但如今与你我都有益处．<br>
<a name="118-1:12"></a>
<small>1:12</small> 我现在打发他亲自回你那里去．他是我心上的人。<br>
<a name="118-1:13"></a>
<small>1:13</small> 我本来有意将他留下、在我为福音所受的捆锁中替你伺候我。<br>
<a name="118-1:14"></a>
<small>1:14</small> 但不知道你的意思、我就不愿意这样行、叫你的善行不是出于勉强、乃是出于甘心。<br>
<a name="118-1:15"></a>
<small>1:15</small> 他暂时离开你、或者是叫你永远得着他。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="118-1:16"></a>
<small>1:16</small> 不再是奴仆、乃是高过奴仆、是亲爱的兄弟、在我实在是如此、何况在你呢。这也不拘是按肉体说、是按主说、<br>
<a name="118-1:17"></a>
<small>1:17</small> 你若以我为同伴、就收纳他、如同收纳我一样。<br>
<a name="118-1:18"></a>
<small>1:18</small> 他若亏负你、或欠你甚么、都归在我的帐上．<br>
<a name="118-1:19"></a>
<small>1:19</small> 我必偿还．这是我保罗亲笔写的．我并不用对你说、连你自己也是亏欠于我。<br>
<a name="118-1:20"></a>
<small>1:20</small> 兄弟阿、望你使我在主里因你得快乐．〔或作益处〕并望你使我的心在基督里得畅快。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="118-1:21"></a>
<small>1:21</small> 我写信给你、深信你必顺服、知道你所要行的、必过于我所说的。<br>
<a name="118-1:22"></a>
<small>1:22</small> 此外你还要给我预备住处、因为我盼望借着你们的祷告、必蒙恩到你们那里去。<br>
<a name="118-1:23"></a>
<small>1:23</small> 为基督耶稣与我同坐监的以巴弗问你安。<br>
<a name="118-1:24"></a>
<small>1:24</small> 与我同工的马可、亚里达古、底马、路加、也都问你安。<br>
<a name="118-1:25"></a>
<small>1:25</small> 愿我们主耶稣基督的恩、常在你的心里。阿们。<br>
<a href="index.htm#000"><small>《</small></a><br>
<br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<h5>END <a href="index.htm#000"><small>《</small></a></h5>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<ins datetime="2011:02:15">118 腓利门书 Philemon
</ins><br>
<br><b>圣经 简体和合本</b><br><br>
</body>
</html>
