<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<title>犹大书</title>
<meta name="description" content=
"圣经简体和合本 - 犹大书。Simplified Chinese Bible Union version - Jude">
<meta name="keywords" content="圣经简体和合本, 犹大书, 
Simplified Chinese Bible Union version, Jude">
<style type="text/css">body {font-size:150%}</style>
<script type="text/javascript">
cssfile = "";
function loadcss(filename) {
 cssfile = filename;
 var fileref=document.createElement("link")
 fileref.setAttribute("rel", "stylesheet");
 fileref.setAttribute("type", "text/css");
 fileref.setAttribute("href", filename);
 if (typeof fileref!="undefined")
  {document.getElementsByTagName("head")[0].appendChild(fileref);}
}
</script>
</head>
<body bgcolor="#ffffff">
<a name="top"></a><br>
 &nbsp; &nbsp; &nbsp; &nbsp; 
 <a href="javascript:loadcss('font1.css')"><font size="1">A</font></a> 
 &nbsp; &nbsp; &nbsp; &nbsp; 
 <a href="javascript:loadcss('font2.css')"><font size="2">A</font></a> 
 &nbsp; &nbsp; &nbsp; &nbsp; 
 <a href="javascript:loadcss('font3.css')"><font size="3">A</font></a> 
 &nbsp; &nbsp; &nbsp; &nbsp; 
 <a href="javascript:loadcss('font4.css')"><font size="4">A</font></a> 
<h3 align="center">126 犹大书 Jude</h3>
<h5 align="center">圣经 简体和合本</h5>
<center>
<a href="index.htm#000">&nbsp;&lt;&nbsp;</a>
<a href="#126-1">1</a>
</center>
<a name="126-1"></a><br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<b>犹大书 1章</b>
<small>
<a href="index.htm#000">《</a>
<a href="#126-1:1">1</a>
<a href="#126-1:2">2</a>
<a href="#126-1:3">3</a>
<a href="#126-1:4">4</a>
<a href="#126-1:5">5</a>
<a href="#126-1:6">6</a>
<a href="#126-1:7">7</a>
<a href="#126-1:8">8</a>
<a href="#126-1:9">9</a>
<a href="#126-1:10">10</a>
<a href="#126-1:11">11</a>
<a href="#126-1:12">12</a>
<a href="#126-1:13">13</a>
<a href="#126-1:14">14</a>
<a href="#126-1:15">15</a>
<a href="#126-1:16">16</a>
<a href="#126-1:17">17</a>
<a href="#126-1:18">18</a>
<a href="#126-1:19">19</a>
<a href="#126-1:20">20</a>
<a href="#126-1:21">21</a>
<a href="#126-1:22">22</a>
<a href="#126-1:23">23</a>
<a href="#126-1:24">24</a>
<a href="#126-1:25">25</a>
</small>
<br><br>
<a name="126-1:1"></a>
<small>1:1</small> 耶稣基督的仆人、雅各的弟兄犹大、写信给那被召、在父　神里蒙爱、为耶稣基督保守的人．<br>
<a name="126-1:2"></a>
<small>1:2</small> 愿怜恤、平安、慈爱、多多的加给你们。<br>
<a name="126-1:3"></a>
<small>1:3</small> 亲爱的弟兄阿、我想尽心写信给你们、论我们同得救恩的时候、就不得不写信劝你们、要为从前一次交付圣徒的真道、竭力的争辩。<br>
<a name="126-1:4"></a>
<small>1:4</small> 因为有些人偷着进来、就是自古被定受刑罚的、是不虔诚的、将我们　神的恩变作放纵情欲的机会、并且不认独一的主宰我们〔我们或作和我们〕主耶稣基督。<br>
<a name="126-1:5"></a>
<small>1:5</small> 从前主救了他的百姓出埃及地、后来就把那些不信的灭绝了．这一切的事、你们虽然都知道、我却仍要提醒你们。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="126-1:6"></a>
<small>1:6</small> 又有不守本位、离开自己住处的天使、主用锁链把他们永远拘留在黑暗里、等候大日的审判。<br>
<a name="126-1:7"></a>
<small>1:7</small> 又如所多玛、蛾摩拉、和周围城邑的人、也照他们一味的行淫、随从逆性的情欲、就受永火的刑罚、作为鉴戒。<br>
<a name="126-1:8"></a>
<small>1:8</small> 这些作梦的人、也像他们污秽身体、轻慢主治的、毁谤在尊位的。<br>
<a name="126-1:9"></a>
<small>1:9</small> 天使长米迦勒、为摩西的尸首与魔鬼争辩的时候、尚且不敢用毁谤的话罪责他、只说、主责备你吧。<br>
<a name="126-1:10"></a>
<small>1:10</small> 但这些人毁谤他们所不知道的．他们本性所知道的事与那没有灵性的畜类一样、在这事上竟败坏了自己。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="126-1:11"></a>
<small>1:11</small> 他们有祸了．因为走了该隐的道路、又为利往巴兰的错谬里直奔、并在可拉的背叛中灭亡了。<br>
<a name="126-1:12"></a>
<small>1:12</small> 这样的人、在你们的爱席上、与你们同吃的时候、正是礁石．〔或作玷污〕他们作牧人、只知喂养自己、无所惧怕．是没有雨的云彩、被风飘荡．是秋天没有果子的树、死而又死、连根被拔出来．<br>
<a name="126-1:13"></a>
<small>1:13</small> 是海里的狂浪、涌出自己可耻的沫子来．是流荡的星、有墨黑的幽暗为他们永远存留。<br>
<a name="126-1:14"></a>
<small>1:14</small> 亚当的七世孙以诺、曾预言这些人说、看哪、主带着他的千万圣者降临、<br>
<a name="126-1:15"></a>
<small>1:15</small> 要在众人身上行审判、证实那一切不敬虔的人、所妄行一切不敬虔的事、又证实不敬虔之罪人所说顶撞他的刚愎话。<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="126-1:16"></a>
<small>1:16</small> 这些人是私下议论、常发怨言的、随从自己的情欲而行、口中说夸大的话、为得便宜谄媚人。<br>
<a name="126-1:17"></a>
<small>1:17</small> 亲爱的弟兄阿、你们要记念我们主耶稣基督之使徒从前所说的话．<br>
<a name="126-1:18"></a>
<small>1:18</small> 他们曾对你们说过、末世必有好讥诮的人、随从自己不敬虔的私欲而行。<br>
<a name="126-1:19"></a>
<small>1:19</small> 这就是那些引人结党、属乎血气、没有圣灵的人。<br>
<a name="126-1:20"></a>
<small>1:20</small> 亲爱的弟兄阿、你们却要在至圣的真道上造就自己、在圣灵里祷告、<br>
<a href="index.htm#000"><small>《</small></a><br>
<a name="126-1:21"></a>
<small>1:21</small> 保守自己常在　神的爱中、仰望我们主耶稣基督的怜悯、直到永生。<br>
<a name="126-1:22"></a>
<small>1:22</small> 有些人存疑心、你们要怜悯他们．<br>
<a name="126-1:23"></a>
<small>1:23</small> 有些人你们要从火中抢出来搭救他们．有些人你们要存惧怕的心怜悯他们．连那被情欲沾染的衣服也当厌恶。<br>
<a name="126-1:24"></a>
<small>1:24</small> 那能保守你们不失脚、叫你们无瑕无疵、欢欢喜喜站在他荣耀之前的、我们的救主独一的　神、<br>
<a name="126-1:25"></a>
<small>1:25</small> 愿荣耀、威严、能力、权柄、因我们的主耶稣基督、归与他、从万古以前、并现今、直到永永远远。阿们。<br>
<a href="index.htm#000"><small>《</small></a><br>
<br>
<a href="#top"><b> * </b></a>----------------------------------------<br><br>
<h5>END <a href="index.htm#000"><small>《</small></a></h5>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<ins datetime="2011:02:15">126 犹大书 Jude
</ins><br>
<br><b>圣经 简体和合本</b><br><br>
</body>
</html>
