<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<title>圣经 简体和合本</title>
<meta name="description" content=
"这是本‘一点就到’的圣经。内有数万个链接。从目录一点就到书本的一章，再点就到选定的一节。
在任何地方，一点就返回目录。字体大小可以调整。适合在教堂内投影，查经班，或个人迅速翻阅。
也可以搜寻相关章节，或链接到圣经下载。

Index of the Chinese Bible reaching any chapter and verse of a book with a click. 
It has searching facility and linking to bible download.">
<meta name="keywords" content="圣经目录, 简体和合本, 一点就到, 搜寻相关章节, 串珠, 圣经下载, 
Bible index, Simplified Chinese Union version, One click, Verse searching, cross-reference, Free download">
<style type="text/css">body {font-size:150%}</style>
<script type="text/javascript">
cssfile = "";
function loadcss(filename) {
 cssfile = filename;
 var fileref=document.createElement("link")
 fileref.setAttribute("rel", "stylesheet");
 fileref.setAttribute("type", "text/css");
 fileref.setAttribute("href", filename);
 if (typeof fileref!="undefined")
  {document.getElementsByTagName("head")[0].appendChild(fileref);}
}
</script>
</head>
<body bgcolor="#ffffff">
 &nbsp; &nbsp; &nbsp; &nbsp; 
 <a href="javascript:loadcss('font1.css')"><font size="1">A</font></a> 
 &nbsp; &nbsp; &nbsp; &nbsp; 
 <a href="javascript:loadcss('font2.css')"><font size="2">A</font></a> 
 &nbsp; &nbsp; &nbsp; &nbsp; 
 <a href="javascript:loadcss('font3.css')"><font size="3">A</font></a> 
 &nbsp; &nbsp; &nbsp; &nbsp; 
 <a href="javascript:loadcss('font4.css')"><font size="4">A</font></a> 
<h3 align="center">圣经新旧约全书 简体和合本</h3>
<center><small>手机版: <a href="http://c.ibibles.net">http://c.ibibles.net</a></small></center>
<h5 align="center">Holy Bible Simplified Chinese Union Version (CUS)</h5>
<small>
这是本‘一点就到’的圣经。内有数万个链接。从目录一点就到书本的一章，再点就到选定的一节。
在任何地方，一点就返回目录。<br>

字体大小可以调整。适合在教堂内投影，查经班，或个人迅速翻阅。也可以搜寻相关章节，或链接到
圣经下载。<br><br>
全屏: 按键 F11 &nbsp; 
字大小: Ctrl+ Ctrl- &nbsp; 
编码: Auto-Select GBK &nbsp; 
<a href="search.htm">搜寻相关章节(串珠)</a> &nbsp; 
<a href="http://download.ibibles.net">圣经下载</a> &nbsp; 
<a href="http://cut.ibibles.net">轉為繁體</a> &nbsp; 
<a href="http://m.ibibles.net/index01.htm">多种语言圣经</a> &nbsp; 
<a href="http://m.ibibles.net/quote01.htm">圣经展示指令</a> 
</small><br>
<a name="000"></a><br>
<br>
<table cellspacing="0" cellpadding="0" width="100%" align="center" border="1">
  <tr>
    <td></td>
    <td><b>旧约</b></td>
    <td></td>
    <td><b>新约</b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        <a href="#》"><small> 》</small></a></td>
  </tr>
  <tr>
    <td>创世纪</td>
    <td><small>
    <a href="001Genesis.htm#001-1">1</a> 
    <a href="001Genesis.htm#001-2">2</a> 
    <a href="001Genesis.htm#001-3">3</a> 
    <a href="001Genesis.htm#001-4">4</a> 
    <a href="001Genesis.htm#001-5">5</a> 
    <a href="001Genesis.htm#001-6">6</a> 
    <a href="001Genesis.htm#001-7">7</a> 
    <a href="001Genesis.htm#001-8">8</a> 
    <a href="001Genesis.htm#001-9">9</a> 
    <a href="001Genesis.htm#001-10">10</a> 
    <a href="001Genesis.htm#001-11">11</a> 
    <a href="001Genesis.htm#001-12">12</a> 
    <a href="001Genesis.htm#001-13">13</a> 
    <a href="001Genesis.htm#001-14">14</a> 
    <a href="001Genesis.htm#001-15">15</a> 
    <a href="001Genesis.htm#001-16">16</a> 
    <a href="001Genesis.htm#001-17">17</a> 
    <a href="001Genesis.htm#001-18">18</a> 
    <a href="001Genesis.htm#001-19">19</a> 
    <a href="001Genesis.htm#001-20">20</a> 
    <a href="001Genesis.htm#001-21">21</a> 
    <a href="001Genesis.htm#001-22">22</a> 
    <a href="001Genesis.htm#001-23">23</a> 
    <a href="001Genesis.htm#001-24">24</a> 
    <a href="001Genesis.htm#001-25">25</a> 
    <a href="001Genesis.htm#001-26">26</a> 
    <a href="001Genesis.htm#001-27">27</a> 
    <a href="001Genesis.htm#001-28">28</a> 
    <a href="001Genesis.htm#001-29">29</a> 
    <a href="001Genesis.htm#001-30">30</a> 
    <a href="001Genesis.htm#001-31">31</a> 
    <a href="001Genesis.htm#001-32">32</a> 
    <a href="001Genesis.htm#001-33">33</a> 
    <a href="001Genesis.htm#001-34">34</a> 
    <a href="001Genesis.htm#001-35">35</a> 
    <a href="001Genesis.htm#001-36">36</a> 
    <a href="001Genesis.htm#001-37">37</a> 
    <a href="001Genesis.htm#001-38">38</a> 
    <a href="001Genesis.htm#001-39">39</a> 
    <a href="001Genesis.htm#001-40">40</a> 
    <a href="001Genesis.htm#001-41">41</a> 
    <a href="001Genesis.htm#001-42">42</a> 
    <a href="001Genesis.htm#001-43">43</a> 
    <a href="001Genesis.htm#001-44">44</a> 
    <a href="001Genesis.htm#001-45">45</a> 
    <a href="001Genesis.htm#001-46">46</a> 
    <a href="001Genesis.htm#001-47">47</a> 
    <a href="001Genesis.htm#001-48">48</a> 
    <a href="001Genesis.htm#001-49">49</a> 
    <a href="001Genesis.htm#001-50">50</a> 
    </small></td>
    <td>马太福音</td>
    <td><small>
    <a href="101Matthew.htm#101-1">1</a> 
    <a href="101Matthew.htm#101-2">2</a> 
    <a href="101Matthew.htm#101-3">3</a> 
    <a href="101Matthew.htm#101-4">4</a> 
    <a href="101Matthew.htm#101-5">5</a> 
    <a href="101Matthew.htm#101-6">6</a> 
    <a href="101Matthew.htm#101-7">7</a> 
    <a href="101Matthew.htm#101-8">8</a> 
    <a href="101Matthew.htm#101-9">9</a> 
    <a href="101Matthew.htm#101-10">10</a> 
    <a href="101Matthew.htm#101-11">11</a> 
    <a href="101Matthew.htm#101-12">12</a> 
    <a href="101Matthew.htm#101-13">13</a> 
    <a href="101Matthew.htm#101-14">14</a> 
    <a href="101Matthew.htm#101-15">15</a> 
    <a href="101Matthew.htm#101-16">16</a> 
    <a href="101Matthew.htm#101-17">17</a> 
    <a href="101Matthew.htm#101-18">18</a> 
    <a href="101Matthew.htm#101-19">19</a> 
    <a href="101Matthew.htm#101-20">20</a> 
    <a href="101Matthew.htm#101-21">21</a> 
    <a href="101Matthew.htm#101-22">22</a> 
    <a href="101Matthew.htm#101-23">23</a> 
    <a href="101Matthew.htm#101-24">24</a> 
    <a href="101Matthew.htm#101-25">25</a> 
    <a href="101Matthew.htm#101-26">26</a> 
    <a href="101Matthew.htm#101-27">27</a> 
    <a href="101Matthew.htm#101-28">28</a> 
    </small></td>
  </tr>
  <tr>
    <td>出埃及记</td>
    <td><small>
    <a href="002Exodus.htm#002-1">1</a> 
    <a href="002Exodus.htm#002-2">2</a> 
    <a href="002Exodus.htm#002-3">3</a> 
    <a href="002Exodus.htm#002-4">4</a> 
    <a href="002Exodus.htm#002-5">5</a> 
    <a href="002Exodus.htm#002-6">6</a> 
    <a href="002Exodus.htm#002-7">7</a> 
    <a href="002Exodus.htm#002-8">8</a> 
    <a href="002Exodus.htm#002-9">9</a> 
    <a href="002Exodus.htm#002-10">10</a> 
    <a href="002Exodus.htm#002-11">11</a> 
    <a href="002Exodus.htm#002-12">12</a> 
    <a href="002Exodus.htm#002-13">13</a> 
    <a href="002Exodus.htm#002-14">14</a> 
    <a href="002Exodus.htm#002-15">15</a> 
    <a href="002Exodus.htm#002-16">16</a> 
    <a href="002Exodus.htm#002-17">17</a> 
    <a href="002Exodus.htm#002-18">18</a> 
    <a href="002Exodus.htm#002-19">19</a> 
    <a href="002Exodus.htm#002-20">20</a> 
    <a href="002Exodus.htm#002-21">21</a> 
    <a href="002Exodus.htm#002-22">22</a> 
    <a href="002Exodus.htm#002-23">23</a> 
    <a href="002Exodus.htm#002-24">24</a> 
    <a href="002Exodus.htm#002-25">25</a> 
    <a href="002Exodus.htm#002-26">26</a> 
    <a href="002Exodus.htm#002-27">27</a> 
    <a href="002Exodus.htm#002-28">28</a> 
    <a href="002Exodus.htm#002-29">29</a> 
    <a href="002Exodus.htm#002-30">30</a> 
    <a href="002Exodus.htm#002-31">31</a> 
    <a href="002Exodus.htm#002-32">32</a> 
    <a href="002Exodus.htm#002-33">33</a> 
    <a href="002Exodus.htm#002-34">34</a> 
    <a href="002Exodus.htm#002-35">35</a> 
    <a href="002Exodus.htm#002-36">36</a> 
    <a href="002Exodus.htm#002-37">37</a> 
    <a href="002Exodus.htm#002-38">38</a> 
    <a href="002Exodus.htm#002-39">39</a> 
    <a href="002Exodus.htm#002-40">40</a> 
    </small></td>
    <td>马可福音</td>
    <td><small>
    <a href="102Mark.htm#102-1">1</a> 
    <a href="102Mark.htm#102-2">2</a> 
    <a href="102Mark.htm#102-3">3</a> 
    <a href="102Mark.htm#102-4">4</a> 
    <a href="102Mark.htm#102-5">5</a> 
    <a href="102Mark.htm#102-6">6</a> 
    <a href="102Mark.htm#102-7">7</a> 
    <a href="102Mark.htm#102-8">8</a> 
    <a href="102Mark.htm#102-9">9</a> 
    <a href="102Mark.htm#102-10">10</a> 
    <a href="102Mark.htm#102-11">11</a> 
    <a href="102Mark.htm#102-12">12</a> 
    <a href="102Mark.htm#102-13">13</a> 
    <a href="102Mark.htm#102-14">14</a> 
    <a href="102Mark.htm#102-15">15</a> 
    <a href="102Mark.htm#102-16">16</a> 
    </small></td>
  </tr>
  <tr>
    <td>利未记</td>
    <td><small>
    <a href="003Leviticus.htm#003-1">1</a> 
    <a href="003Leviticus.htm#003-2">2</a> 
    <a href="003Leviticus.htm#003-3">3</a> 
    <a href="003Leviticus.htm#003-4">4</a> 
    <a href="003Leviticus.htm#003-5">5</a> 
    <a href="003Leviticus.htm#003-6">6</a> 
    <a href="003Leviticus.htm#003-7">7</a> 
    <a href="003Leviticus.htm#003-8">8</a> 
    <a href="003Leviticus.htm#003-9">9</a> 
    <a href="003Leviticus.htm#003-10">10</a> 
    <a href="003Leviticus.htm#003-11">11</a> 
    <a href="003Leviticus.htm#003-12">12</a> 
    <a href="003Leviticus.htm#003-13">13</a> 
    <a href="003Leviticus.htm#003-14">14</a> 
    <a href="003Leviticus.htm#003-15">15</a> 
    <a href="003Leviticus.htm#003-16">16</a> 
    <a href="003Leviticus.htm#003-17">17</a> 
    <a href="003Leviticus.htm#003-18">18</a> 
    <a href="003Leviticus.htm#003-19">19</a> 
    <a href="003Leviticus.htm#003-20">20</a> 
    <a href="003Leviticus.htm#003-21">21</a> 
    <a href="003Leviticus.htm#003-22">22</a> 
    <a href="003Leviticus.htm#003-23">23</a> 
    <a href="003Leviticus.htm#003-24">24</a> 
    <a href="003Leviticus.htm#003-25">25</a> 
    <a href="003Leviticus.htm#003-26">26</a> 
    <a href="003Leviticus.htm#003-27">27</a> 
    </small></td>
    <td>路加福音</td>
    <td><small>
    <a href="103Luke.htm#103-1">1</a> 
    <a href="103Luke.htm#103-2">2</a> 
    <a href="103Luke.htm#103-3">3</a> 
    <a href="103Luke.htm#103-4">4</a> 
    <a href="103Luke.htm#103-5">5</a> 
    <a href="103Luke.htm#103-6">6</a> 
    <a href="103Luke.htm#103-7">7</a> 
    <a href="103Luke.htm#103-8">8</a> 
    <a href="103Luke.htm#103-9">9</a> 
    <a href="103Luke.htm#103-10">10</a> 
    <a href="103Luke.htm#103-11">11</a> 
    <a href="103Luke.htm#103-12">12</a> 
    <a href="103Luke.htm#103-13">13</a> 
    <a href="103Luke.htm#103-14">14</a> 
    <a href="103Luke.htm#103-15">15</a> 
    <a href="103Luke.htm#103-16">16</a> 
    <a href="103Luke.htm#103-17">17</a> 
    <a href="103Luke.htm#103-18">18</a> 
    <a href="103Luke.htm#103-19">19</a> 
    <a href="103Luke.htm#103-20">20</a> 
    <a href="103Luke.htm#103-21">21</a> 
    <a href="103Luke.htm#103-22">22</a> 
    <a href="103Luke.htm#103-23">23</a> 
    <a href="103Luke.htm#103-24">24</a> 
    </small></td>
  </tr>
  <tr>
    <td>民数记</td>
    <td><small>
    <a href="004Numbers.htm#004-1">1</a> 
    <a href="004Numbers.htm#004-2">2</a> 
    <a href="004Numbers.htm#004-3">3</a> 
    <a href="004Numbers.htm#004-4">4</a> 
    <a href="004Numbers.htm#004-5">5</a> 
    <a href="004Numbers.htm#004-6">6</a> 
    <a href="004Numbers.htm#004-7">7</a> 
    <a href="004Numbers.htm#004-8">8</a> 
    <a href="004Numbers.htm#004-9">9</a> 
    <a href="004Numbers.htm#004-10">10</a> 
    <a href="004Numbers.htm#004-11">11</a> 
    <a href="004Numbers.htm#004-12">12</a> 
    <a href="004Numbers.htm#004-13">13</a> 
    <a href="004Numbers.htm#004-14">14</a> 
    <a href="004Numbers.htm#004-15">15</a> 
    <a href="004Numbers.htm#004-16">16</a> 
    <a href="004Numbers.htm#004-17">17</a> 
    <a href="004Numbers.htm#004-18">18</a> 
    <a href="004Numbers.htm#004-19">19</a> 
    <a href="004Numbers.htm#004-20">20</a> 
    <a href="004Numbers.htm#004-21">21</a> 
    <a href="004Numbers.htm#004-22">22</a> 
    <a href="004Numbers.htm#004-23">23</a> 
    <a href="004Numbers.htm#004-24">24</a> 
    <a href="004Numbers.htm#004-25">25</a> 
    <a href="004Numbers.htm#004-26">26</a> 
    <a href="004Numbers.htm#004-27">27</a> 
    <a href="004Numbers.htm#004-28">28</a> 
    <a href="004Numbers.htm#004-29">29</a> 
    <a href="004Numbers.htm#004-30">30</a> 
    <a href="004Numbers.htm#004-31">31</a> 
    <a href="004Numbers.htm#004-32">32</a> 
    <a href="004Numbers.htm#004-33">33</a> 
    <a href="004Numbers.htm#004-34">34</a> 
    <a href="004Numbers.htm#004-35">35</a> 
    <a href="004Numbers.htm#004-36">36</a> 
    </small></td>
    <td>约翰福音</td>
    <td><small>
    <a href="104John.htm#104-1">1</a> 
    <a href="104John.htm#104-2">2</a> 
    <a href="104John.htm#104-3">3</a> 
    <a href="104John.htm#104-4">4</a> 
    <a href="104John.htm#104-5">5</a> 
    <a href="104John.htm#104-6">6</a> 
    <a href="104John.htm#104-7">7</a> 
    <a href="104John.htm#104-8">8</a> 
    <a href="104John.htm#104-9">9</a> 
    <a href="104John.htm#104-10">10</a> 
    <a href="104John.htm#104-11">11</a> 
    <a href="104John.htm#104-12">12</a> 
    <a href="104John.htm#104-13">13</a> 
    <a href="104John.htm#104-14">14</a> 
    <a href="104John.htm#104-15">15</a> 
    <a href="104John.htm#104-16">16</a> 
    <a href="104John.htm#104-17">17</a> 
    <a href="104John.htm#104-18">18</a> 
    <a href="104John.htm#104-19">19</a> 
    <a href="104John.htm#104-20">20</a> 
    <a href="104John.htm#104-21">21</a> 
    </small></td>
  </tr>
  <tr>
    <td>申命记</td>
    <td><small>
    <a href="005Deuteronomy.htm#005-1">1</a> 
    <a href="005Deuteronomy.htm#005-2">2</a> 
    <a href="005Deuteronomy.htm#005-3">3</a> 
    <a href="005Deuteronomy.htm#005-4">4</a> 
    <a href="005Deuteronomy.htm#005-5">5</a> 
    <a href="005Deuteronomy.htm#005-6">6</a> 
    <a href="005Deuteronomy.htm#005-7">7</a> 
    <a href="005Deuteronomy.htm#005-8">8</a> 
    <a href="005Deuteronomy.htm#005-9">9</a> 
    <a href="005Deuteronomy.htm#005-10">10</a> 
    <a href="005Deuteronomy.htm#005-11">11</a> 
    <a href="005Deuteronomy.htm#005-12">12</a> 
    <a href="005Deuteronomy.htm#005-13">13</a> 
    <a href="005Deuteronomy.htm#005-14">14</a> 
    <a href="005Deuteronomy.htm#005-15">15</a> 
    <a href="005Deuteronomy.htm#005-16">16</a> 
    <a href="005Deuteronomy.htm#005-17">17</a> 
    <a href="005Deuteronomy.htm#005-18">18</a> 
    <a href="005Deuteronomy.htm#005-19">19</a> 
    <a href="005Deuteronomy.htm#005-20">20</a> 
    <a href="005Deuteronomy.htm#005-21">21</a> 
    <a href="005Deuteronomy.htm#005-22">22</a> 
    <a href="005Deuteronomy.htm#005-23">23</a> 
    <a href="005Deuteronomy.htm#005-24">24</a> 
    <a href="005Deuteronomy.htm#005-25">25</a> 
    <a href="005Deuteronomy.htm#005-26">26</a> 
    <a href="005Deuteronomy.htm#005-27">27</a> 
    <a href="005Deuteronomy.htm#005-28">28</a> 
    <a href="005Deuteronomy.htm#005-29">29</a> 
    <a href="005Deuteronomy.htm#005-30">30</a> 
    <a href="005Deuteronomy.htm#005-31">31</a> 
    <a href="005Deuteronomy.htm#005-32">32</a> 
    <a href="005Deuteronomy.htm#005-33">33</a> 
    <a href="005Deuteronomy.htm#005-34">34</a> 
    </small></td>
    <td>使徒行传</td>
    <td><small>
    <a href="105Acts.htm#105-1">1</a> 
    <a href="105Acts.htm#105-2">2</a> 
    <a href="105Acts.htm#105-3">3</a> 
    <a href="105Acts.htm#105-4">4</a> 
    <a href="105Acts.htm#105-5">5</a> 
    <a href="105Acts.htm#105-6">6</a> 
    <a href="105Acts.htm#105-7">7</a> 
    <a href="105Acts.htm#105-8">8</a> 
    <a href="105Acts.htm#105-9">9</a> 
    <a href="105Acts.htm#105-10">10</a> 
    <a href="105Acts.htm#105-11">11</a> 
    <a href="105Acts.htm#105-12">12</a> 
    <a href="105Acts.htm#105-13">13</a> 
    <a href="105Acts.htm#105-14">14</a> 
    <a href="105Acts.htm#105-15">15</a> 
    <a href="105Acts.htm#105-16">16</a> 
    <a href="105Acts.htm#105-17">17</a> 
    <a href="105Acts.htm#105-18">18</a> 
    <a href="105Acts.htm#105-19">19</a> 
    <a href="105Acts.htm#105-20">20</a> 
    <a href="105Acts.htm#105-21">21</a> 
    <a href="105Acts.htm#105-22">22</a> 
    <a href="105Acts.htm#105-23">23</a> 
    <a href="105Acts.htm#105-24">24</a> 
    <a href="105Acts.htm#105-25">25</a> 
    <a href="105Acts.htm#105-26">26</a> 
    <a href="105Acts.htm#105-27">27</a> 
    <a href="105Acts.htm#105-28">28</a> 
    </small></td>
  </tr>
  <tr>
    <td>约书亚记</td>
    <td><small>
    <a href="006Joshua.htm#006-1">1</a> 
    <a href="006Joshua.htm#006-2">2</a> 
    <a href="006Joshua.htm#006-3">3</a> 
    <a href="006Joshua.htm#006-4">4</a> 
    <a href="006Joshua.htm#006-5">5</a> 
    <a href="006Joshua.htm#006-6">6</a> 
    <a href="006Joshua.htm#006-7">7</a> 
    <a href="006Joshua.htm#006-8">8</a> 
    <a href="006Joshua.htm#006-9">9</a> 
    <a href="006Joshua.htm#006-10">10</a> 
    <a href="006Joshua.htm#006-11">11</a> 
    <a href="006Joshua.htm#006-12">12</a> 
    <a href="006Joshua.htm#006-13">13</a> 
    <a href="006Joshua.htm#006-14">14</a> 
    <a href="006Joshua.htm#006-15">15</a> 
    <a href="006Joshua.htm#006-16">16</a> 
    <a href="006Joshua.htm#006-17">17</a> 
    <a href="006Joshua.htm#006-18">18</a> 
    <a href="006Joshua.htm#006-19">19</a> 
    <a href="006Joshua.htm#006-20">20</a> 
    <a href="006Joshua.htm#006-21">21</a> 
    <a href="006Joshua.htm#006-22">22</a> 
    <a href="006Joshua.htm#006-23">23</a> 
    <a href="006Joshua.htm#006-24">24</a> 
    </small></td>
    <td>罗马书</td>
    <td><small>
    <a href="106Romans.htm#106-1">1</a> 
    <a href="106Romans.htm#106-2">2</a> 
    <a href="106Romans.htm#106-3">3</a> 
    <a href="106Romans.htm#106-4">4</a> 
    <a href="106Romans.htm#106-5">5</a> 
    <a href="106Romans.htm#106-6">6</a> 
    <a href="106Romans.htm#106-7">7</a> 
    <a href="106Romans.htm#106-8">8</a> 
    <a href="106Romans.htm#106-9">9</a> 
    <a href="106Romans.htm#106-10">10</a> 
    <a href="106Romans.htm#106-11">11</a> 
    <a href="106Romans.htm#106-12">12</a> 
    <a href="106Romans.htm#106-13">13</a> 
    <a href="106Romans.htm#106-14">14</a> 
    <a href="106Romans.htm#106-15">15</a> 
    <a href="106Romans.htm#106-16">16</a> 
    </small></td>
  </tr>
  <tr>
    <td><a name="》"></a>士师记</td>
    <td><small>
    <a href="007Judges.htm#007-1">1</a> 
    <a href="007Judges.htm#007-2">2</a> 
    <a href="007Judges.htm#007-3">3</a> 
    <a href="007Judges.htm#007-4">4</a> 
    <a href="007Judges.htm#007-5">5</a> 
    <a href="007Judges.htm#007-6">6</a> 
    <a href="007Judges.htm#007-7">7</a> 
    <a href="007Judges.htm#007-8">8</a> 
    <a href="007Judges.htm#007-9">9</a> 
    <a href="007Judges.htm#007-10">10</a> 
    <a href="007Judges.htm#007-11">11</a> 
    <a href="007Judges.htm#007-12">12</a> 
    <a href="007Judges.htm#007-13">13</a> 
    <a href="007Judges.htm#007-14">14</a> 
    <a href="007Judges.htm#007-15">15</a> 
    <a href="007Judges.htm#007-16">16</a> 
    <a href="007Judges.htm#007-17">17</a> 
    <a href="007Judges.htm#007-18">18</a> 
    <a href="007Judges.htm#007-19">19</a> 
    <a href="007Judges.htm#007-20">20</a> 
    <a href="007Judges.htm#007-21">21</a> 
    </small></td>
    <td>哥林多前</td>
    <td><small>
    <a href="107Corinthians1.htm#107-1">1</a> 
    <a href="107Corinthians1.htm#107-2">2</a> 
    <a href="107Corinthians1.htm#107-3">3</a> 
    <a href="107Corinthians1.htm#107-4">4</a> 
    <a href="107Corinthians1.htm#107-5">5</a> 
    <a href="107Corinthians1.htm#107-6">6</a> 
    <a href="107Corinthians1.htm#107-7">7</a> 
    <a href="107Corinthians1.htm#107-8">8</a> 
    <a href="107Corinthians1.htm#107-9">9</a> 
    <a href="107Corinthians1.htm#107-10">10</a> 
    <a href="107Corinthians1.htm#107-11">11</a> 
    <a href="107Corinthians1.htm#107-12">12</a> 
    <a href="107Corinthians1.htm#107-13">13</a> 
    <a href="107Corinthians1.htm#107-14">14</a> 
    <a href="107Corinthians1.htm#107-15">15</a> 
    <a href="107Corinthians1.htm#107-16">16</a> 
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    <a href="#000">《</a> <a href="#》">=</a> <a href="#》1">》</a>
    </small></td>
  </tr>
  <tr>
    <td>路得记</td>
    <td><small>
    <a href="008Ruth.htm#008-1">1</a> 
    <a href="008Ruth.htm#008-2">2</a> 
    <a href="008Ruth.htm#008-3">3</a> 
    <a href="008Ruth.htm#008-4">4</a> 
    </small></td>
    <td>哥林多后</td>
    <td><small>
    <a href="108Corinthians2.htm#108-1">1</a> 
    <a href="108Corinthians2.htm#108-2">2</a> 
    <a href="108Corinthians2.htm#108-3">3</a> 
    <a href="108Corinthians2.htm#108-4">4</a> 
    <a href="108Corinthians2.htm#108-5">5</a> 
    <a href="108Corinthians2.htm#108-6">6</a> 
    <a href="108Corinthians2.htm#108-7">7</a> 
    <a href="108Corinthians2.htm#108-8">8</a> 
    <a href="108Corinthians2.htm#108-9">9</a> 
    <a href="108Corinthians2.htm#108-10">10</a> 
    <a href="108Corinthians2.htm#108-11">11</a> 
    <a href="108Corinthians2.htm#108-12">12</a> 
    <a href="108Corinthians2.htm#108-13">13</a> 
    </small></td>
  </tr>
  <tr>
    <td>撒母耳上</td>
    <td><small>
    <a href="009Samuel1.htm#009-1">1</a> 
    <a href="009Samuel1.htm#009-2">2</a> 
    <a href="009Samuel1.htm#009-3">3</a> 
    <a href="009Samuel1.htm#009-4">4</a> 
    <a href="009Samuel1.htm#009-5">5</a> 
    <a href="009Samuel1.htm#009-6">6</a> 
    <a href="009Samuel1.htm#009-7">7</a> 
    <a href="009Samuel1.htm#009-8">8</a> 
    <a href="009Samuel1.htm#009-9">9</a> 
    <a href="009Samuel1.htm#009-10">10</a> 
    <a href="009Samuel1.htm#009-11">11</a> 
    <a href="009Samuel1.htm#009-12">12</a> 
    <a href="009Samuel1.htm#009-13">13</a> 
    <a href="009Samuel1.htm#009-14">14</a> 
    <a href="009Samuel1.htm#009-15">15</a> 
    <a href="009Samuel1.htm#009-16">16</a> 
    <a href="009Samuel1.htm#009-17">17</a> 
    <a href="009Samuel1.htm#009-18">18</a> 
    <a href="009Samuel1.htm#009-19">19</a> 
    <a href="009Samuel1.htm#009-20">20</a> 
    <a href="009Samuel1.htm#009-21">21</a> 
    <a href="009Samuel1.htm#009-22">22</a> 
    <a href="009Samuel1.htm#009-23">23</a> 
    <a href="009Samuel1.htm#009-24">24</a> 
    <a href="009Samuel1.htm#009-25">25</a> 
    <a href="009Samuel1.htm#009-26">26</a> 
    <a href="009Samuel1.htm#009-27">27</a> 
    <a href="009Samuel1.htm#009-28">28</a> 
    <a href="009Samuel1.htm#009-29">29</a> 
    <a href="009Samuel1.htm#009-30">30</a> 
    <a href="009Samuel1.htm#009-31">31</a> 
    </small></td>
    <td>加拉太书</td>
    <td><small>
    <a href="109Galatians.htm#109-1">1</a> 
    <a href="109Galatians.htm#109-2">2</a> 
    <a href="109Galatians.htm#109-3">3</a> 
    <a href="109Galatians.htm#109-4">4</a> 
    <a href="109Galatians.htm#109-5">5</a> 
    <a href="109Galatians.htm#109-6">6</a> 
    </small></td>
  </tr>
  <tr>
    <td>撒母耳下</td>
    <td><small>
    <a href="010Samuel2.htm#010-1">1</a> 
    <a href="010Samuel2.htm#010-2">2</a> 
    <a href="010Samuel2.htm#010-3">3</a> 
    <a href="010Samuel2.htm#010-4">4</a> 
    <a href="010Samuel2.htm#010-5">5</a> 
    <a href="010Samuel2.htm#010-6">6</a> 
    <a href="010Samuel2.htm#010-7">7</a> 
    <a href="010Samuel2.htm#010-8">8</a> 
    <a href="010Samuel2.htm#010-9">9</a> 
    <a href="010Samuel2.htm#010-10">10</a> 
    <a href="010Samuel2.htm#010-11">11</a> 
    <a href="010Samuel2.htm#010-12">12</a> 
    <a href="010Samuel2.htm#010-13">13</a> 
    <a href="010Samuel2.htm#010-14">14</a> 
    <a href="010Samuel2.htm#010-15">15</a> 
    <a href="010Samuel2.htm#010-16">16</a> 
    <a href="010Samuel2.htm#010-17">17</a> 
    <a href="010Samuel2.htm#010-18">18</a> 
    <a href="010Samuel2.htm#010-19">19</a> 
    <a href="010Samuel2.htm#010-20">20</a> 
    <a href="010Samuel2.htm#010-21">21</a> 
    <a href="010Samuel2.htm#010-22">22</a> 
    <a href="010Samuel2.htm#010-23">23</a> 
    <a href="010Samuel2.htm#010-24">24</a> 
    </small></td>
    <td>以弗所书</td>
    <td><small>
    <a href="110Ephesians.htm#110-1">1</a> 
    <a href="110Ephesians.htm#110-2">2</a> 
    <a href="110Ephesians.htm#110-3">3</a> 
    <a href="110Ephesians.htm#110-4">4</a> 
    <a href="110Ephesians.htm#110-5">5</a> 
    <a href="110Ephesians.htm#110-6">6</a> 
    </small></td>
  </tr>
  <tr>
    <td>列王记上</td>
    <td><small>
    <a href="011Kings1.htm#011-1">1</a> 
    <a href="011Kings1.htm#011-2">2</a> 
    <a href="011Kings1.htm#011-3">3</a> 
    <a href="011Kings1.htm#011-4">4</a> 
    <a href="011Kings1.htm#011-5">5</a> 
    <a href="011Kings1.htm#011-6">6</a> 
    <a href="011Kings1.htm#011-7">7</a> 
    <a href="011Kings1.htm#011-8">8</a> 
    <a href="011Kings1.htm#011-9">9</a> 
    <a href="011Kings1.htm#011-10">10</a> 
    <a href="011Kings1.htm#011-11">11</a> 
    <a href="011Kings1.htm#011-12">12</a> 
    <a href="011Kings1.htm#011-13">13</a> 
    <a href="011Kings1.htm#011-14">14</a> 
    <a href="011Kings1.htm#011-15">15</a> 
    <a href="011Kings1.htm#011-16">16</a> 
    <a href="011Kings1.htm#011-17">17</a> 
    <a href="011Kings1.htm#011-18">18</a> 
    <a href="011Kings1.htm#011-19">19</a> 
    <a href="011Kings1.htm#011-20">20</a> 
    <a href="011Kings1.htm#011-21">21</a> 
    <a href="011Kings1.htm#011-22">22</a> 
    </small></td>
    <td>腓立比书</td>
    <td><small>
    <a href="111Philippians.htm#111-1">1</a> 
    <a href="111Philippians.htm#111-2">2</a> 
    <a href="111Philippians.htm#111-3">3</a> 
    <a href="111Philippians.htm#111-4">4</a> 
    </small></td>
  </tr>
  <tr>
    <td>列王记下</td>
    <td><small>
    <a href="012Kings2.htm#012-1">1</a> 
    <a href="012Kings2.htm#012-2">2</a> 
    <a href="012Kings2.htm#012-3">3</a> 
    <a href="012Kings2.htm#012-4">4</a> 
    <a href="012Kings2.htm#012-5">5</a> 
    <a href="012Kings2.htm#012-6">6</a> 
    <a href="012Kings2.htm#012-7">7</a> 
    <a href="012Kings2.htm#012-8">8</a> 
    <a href="012Kings2.htm#012-9">9</a> 
    <a href="012Kings2.htm#012-10">10</a> 
    <a href="012Kings2.htm#012-11">11</a> 
    <a href="012Kings2.htm#012-12">12</a> 
    <a href="012Kings2.htm#012-13">13</a> 
    <a href="012Kings2.htm#012-14">14</a> 
    <a href="012Kings2.htm#012-15">15</a> 
    <a href="012Kings2.htm#012-16">16</a> 
    <a href="012Kings2.htm#012-17">17</a> 
    <a href="012Kings2.htm#012-18">18</a> 
    <a href="012Kings2.htm#012-19">19</a> 
    <a href="012Kings2.htm#012-20">20</a> 
    <a href="012Kings2.htm#012-21">21</a> 
    <a href="012Kings2.htm#012-22">22</a> 
    <a href="012Kings2.htm#012-23">23</a> 
    <a href="012Kings2.htm#012-24">24</a> 
    <a href="012Kings2.htm#012-25">25</a> 
    </small></td>
    <td>歌罗西书</td>
    <td><small>
    <a href="112Colossians.htm#112-1">1</a> 
    <a href="112Colossians.htm#112-2">2</a> 
    <a href="112Colossians.htm#112-3">3</a> 
    <a href="112Colossians.htm#112-4">4</a> 
    </small></td>
  </tr>
  <tr>
    <td>历代志上</td>
    <td><small>
    <a href="013Chronicles1.htm#013-1">1</a> 
    <a href="013Chronicles1.htm#013-2">2</a> 
    <a href="013Chronicles1.htm#013-3">3</a> 
    <a href="013Chronicles1.htm#013-4">4</a> 
    <a href="013Chronicles1.htm#013-5">5</a> 
    <a href="013Chronicles1.htm#013-6">6</a> 
    <a href="013Chronicles1.htm#013-7">7</a> 
    <a href="013Chronicles1.htm#013-8">8</a> 
    <a href="013Chronicles1.htm#013-9">9</a> 
    <a href="013Chronicles1.htm#013-10">10</a> 
    <a href="013Chronicles1.htm#013-11">11</a> 
    <a href="013Chronicles1.htm#013-12">12</a> 
    <a href="013Chronicles1.htm#013-13">13</a> 
    <a href="013Chronicles1.htm#013-14">14</a> 
    <a href="013Chronicles1.htm#013-15">15</a> 
    <a href="013Chronicles1.htm#013-16">16</a> 
    <a href="013Chronicles1.htm#013-17">17</a> 
    <a href="013Chronicles1.htm#013-18">18</a> 
    <a href="013Chronicles1.htm#013-19">19</a> 
    <a href="013Chronicles1.htm#013-20">20</a> 
    <a href="013Chronicles1.htm#013-21">21</a> 
    <a href="013Chronicles1.htm#013-22">22</a> 
    <a href="013Chronicles1.htm#013-23">23</a> 
    <a href="013Chronicles1.htm#013-24">24</a> 
    <a href="013Chronicles1.htm#013-25">25</a> 
    <a href="013Chronicles1.htm#013-26">26</a> 
    <a href="013Chronicles1.htm#013-27">27</a> 
    <a href="013Chronicles1.htm#013-28">28</a> 
    <a href="013Chronicles1.htm#013-29">29</a> 
    </small></td>
    <td>帖撒罗前</td>
    <td><small>
    <a href="113Thessalonians1.htm#113-1">1</a> 
    <a href="113Thessalonians1.htm#113-2">2</a> 
    <a href="113Thessalonians1.htm#113-3">3</a> 
    <a href="113Thessalonians1.htm#113-4">4</a> 
    <a href="113Thessalonians1.htm#113-5">5</a> 
    </small></td>
  </tr>
  <tr>
    <td>历代志下</td>
    <td><small>
    <a href="014Chronicles2.htm#014-1">1</a> 
    <a href="014Chronicles2.htm#014-2">2</a> 
    <a href="014Chronicles2.htm#014-3">3</a> 
    <a href="014Chronicles2.htm#014-4">4</a> 
    <a href="014Chronicles2.htm#014-5">5</a> 
    <a href="014Chronicles2.htm#014-6">6</a> 
    <a href="014Chronicles2.htm#014-7">7</a> 
    <a href="014Chronicles2.htm#014-8">8</a> 
    <a href="014Chronicles2.htm#014-9">9</a> 
    <a href="014Chronicles2.htm#014-10">10</a> 
    <a href="014Chronicles2.htm#014-11">11</a> 
    <a href="014Chronicles2.htm#014-12">12</a> 
    <a href="014Chronicles2.htm#014-13">13</a> 
    <a href="014Chronicles2.htm#014-14">14</a> 
    <a href="014Chronicles2.htm#014-15">15</a> 
    <a href="014Chronicles2.htm#014-16">16</a> 
    <a href="014Chronicles2.htm#014-17">17</a> 
    <a href="014Chronicles2.htm#014-18">18</a> 
    <a href="014Chronicles2.htm#014-19">19</a> 
    <a href="014Chronicles2.htm#014-20">20</a> 
    <a href="014Chronicles2.htm#014-21">21</a> 
    <a href="014Chronicles2.htm#014-22">22</a> 
    <a href="014Chronicles2.htm#014-23">23</a> 
    <a href="014Chronicles2.htm#014-24">24</a> 
    <a href="014Chronicles2.htm#014-25">25</a> 
    <a href="014Chronicles2.htm#014-26">26</a> 
    <a href="014Chronicles2.htm#014-27">27</a> 
    <a href="014Chronicles2.htm#014-28">28</a> 
    <a href="014Chronicles2.htm#014-29">29</a> 
    <a href="014Chronicles2.htm#014-30">30</a> 
    <a href="014Chronicles2.htm#014-31">31</a> 
    <a href="014Chronicles2.htm#014-32">32</a> 
    <a href="014Chronicles2.htm#014-33">33</a> 
    <a href="014Chronicles2.htm#014-34">34</a> 
    <a href="014Chronicles2.htm#014-35">35</a> 
    <a href="014Chronicles2.htm#014-36">36</a> 
    </small></td>
    <td>帖撒罗后</td>
    <td><small>
    <a href="114Thessalonians2.htm#114-1">1</a> 
    <a href="114Thessalonians2.htm#114-2">2</a> 
    <a href="114Thessalonians2.htm#114-3">3</a> 
    </small></td>
  </tr>
  <tr>
    <td><a name="》1"></a>以斯拉记</td>
    <td><small>
    <a href="015Ezra.htm#015-1">1</a> 
    <a href="015Ezra.htm#015-2">2</a> 
    <a href="015Ezra.htm#015-3">3</a> 
    <a href="015Ezra.htm#015-4">4</a> 
    <a href="015Ezra.htm#015-5">5</a> 
    <a href="015Ezra.htm#015-6">6</a> 
    <a href="015Ezra.htm#015-7">7</a> 
    <a href="015Ezra.htm#015-8">8</a> 
    <a href="015Ezra.htm#015-9">9</a> 
    <a href="015Ezra.htm#015-10">10</a> 
    </small></td>
    <td>提摩太前</td>
    <td><small>
    <a href="115Timothy1.htm#115-1">1</a> 
    <a href="115Timothy1.htm#115-2">2</a> 
    <a href="115Timothy1.htm#115-3">3</a> 
    <a href="115Timothy1.htm#115-4">4</a> 
    <a href="115Timothy1.htm#115-5">5</a> 
    <a href="115Timothy1.htm#115-6">6</a> 
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <a href="#000">《</a> <a href="#》1">=</a> <a href="#》2">》</a>
    </small></td>
  </tr>
  <tr>
    <td>尼希米记</td>
    <td><small>
    <a href="016Nehemiah.htm#016-1">1</a> 
    <a href="016Nehemiah.htm#016-2">2</a> 
    <a href="016Nehemiah.htm#016-3">3</a> 
    <a href="016Nehemiah.htm#016-4">4</a> 
    <a href="016Nehemiah.htm#016-5">5</a> 
    <a href="016Nehemiah.htm#016-6">6</a> 
    <a href="016Nehemiah.htm#016-7">7</a> 
    <a href="016Nehemiah.htm#016-8">8</a> 
    <a href="016Nehemiah.htm#016-9">9</a> 
    <a href="016Nehemiah.htm#016-10">10</a> 
    <a href="016Nehemiah.htm#016-11">11</a> 
    <a href="016Nehemiah.htm#016-12">12</a> 
    <a href="016Nehemiah.htm#016-13">13</a> 
    </small></td>
    <td>提摩太后</td>
    <td><small>
    <a href="116Timothy2.htm#116-1">1</a> 
    <a href="116Timothy2.htm#116-2">2</a> 
    <a href="116Timothy2.htm#116-3">3</a> 
    <a href="116Timothy2.htm#116-4">4</a> 
    </small></td>
  </tr>
  <tr>
    <td>以斯帖记</td>
    <td><small>
    <a href="017Esther.htm#017-1">1</a> 
    <a href="017Esther.htm#017-2">2</a> 
    <a href="017Esther.htm#017-3">3</a> 
    <a href="017Esther.htm#017-4">4</a> 
    <a href="017Esther.htm#017-5">5</a> 
    <a href="017Esther.htm#017-6">6</a> 
    <a href="017Esther.htm#017-7">7</a> 
    <a href="017Esther.htm#017-8">8</a> 
    <a href="017Esther.htm#017-9">9</a> 
    <a href="017Esther.htm#017-10">10</a> 
    </small></td>
    <td>提多书</td>
    <td><small>
    <a href="117Titus.htm#117-1">1</a> 
    <a href="117Titus.htm#117-2">2</a> 
    <a href="117Titus.htm#117-3">3</a> 
    </small></td>
  </tr>
  <tr>
    <td>约伯记</td>
    <td><small>
    <a href="018Job.htm#018-1">1</a> 
    <a href="018Job.htm#018-2">2</a> 
    <a href="018Job.htm#018-3">3</a> 
    <a href="018Job.htm#018-4">4</a> 
    <a href="018Job.htm#018-5">5</a> 
    <a href="018Job.htm#018-6">6</a> 
    <a href="018Job.htm#018-7">7</a> 
    <a href="018Job.htm#018-8">8</a> 
    <a href="018Job.htm#018-9">9</a> 
    <a href="018Job.htm#018-10">10</a> 
    <a href="018Job.htm#018-11">11</a> 
    <a href="018Job.htm#018-12">12</a> 
    <a href="018Job.htm#018-13">13</a> 
    <a href="018Job.htm#018-14">14</a> 
    <a href="018Job.htm#018-15">15</a> 
    <a href="018Job.htm#018-16">16</a> 
    <a href="018Job.htm#018-17">17</a> 
    <a href="018Job.htm#018-18">18</a> 
    <a href="018Job.htm#018-19">19</a> 
    <a href="018Job.htm#018-20">20</a> 
    <a href="018Job.htm#018-21">21</a> 
    <a href="018Job.htm#018-22">22</a> 
    <a href="018Job.htm#018-23">23</a> 
    <a href="018Job.htm#018-24">24</a> 
    <a href="018Job.htm#018-25">25</a> 
    <a href="018Job.htm#018-26">26</a> 
    <a href="018Job.htm#018-27">27</a> 
    <a href="018Job.htm#018-28">28</a> 
    <a href="018Job.htm#018-29">29</a> 
    <a href="018Job.htm#018-30">30</a> 
    <a href="018Job.htm#018-31">31</a> 
    <a href="018Job.htm#018-32">32</a> 
    <a href="018Job.htm#018-33">33</a> 
    <a href="018Job.htm#018-34">34</a> 
    <a href="018Job.htm#018-35">35</a> 
    <a href="018Job.htm#018-36">36</a> 
    <a href="018Job.htm#018-37">37</a> 
    <a href="018Job.htm#018-38">38</a> 
    <a href="018Job.htm#018-39">39</a> 
    <a href="018Job.htm#018-40">40</a> 
    <a href="018Job.htm#018-41">41</a> 
    <a href="018Job.htm#018-42">42</a> 
    </small></td>
    <td>腓利门书</td>
    <td><small>
    <a href="118Philemon.htm#118-1">1</a> 
    </small></td>
  </tr>
  <tr>
    <td>诗篇</td>
    <td><small>
    <a href="019Psalms.htm#019-1">1</a> 
    <a href="019Psalms.htm#019-2">2</a> 
    <a href="019Psalms.htm#019-3">3</a> 
    <a href="019Psalms.htm#019-4">4</a> 
    <a href="019Psalms.htm#019-5">5</a> 
    <a href="019Psalms.htm#019-6">6</a> 
    <a href="019Psalms.htm#019-7">7</a> 
    <a href="019Psalms.htm#019-8">8</a> 
    <a href="019Psalms.htm#019-9">9</a> 
    <a href="019Psalms.htm#019-10">10</a> 
    <a href="019Psalms.htm#019-11">11</a> 
    <a href="019Psalms.htm#019-12">12</a> 
    <a href="019Psalms.htm#019-13">13</a> 
    <a href="019Psalms.htm#019-14">14</a> 
    <a href="019Psalms.htm#019-15">15</a> 
    <a href="019Psalms.htm#019-16">16</a> 
    <a href="019Psalms.htm#019-17">17</a> 
    <a href="019Psalms.htm#019-18">18</a> 
    <a href="019Psalms.htm#019-19">19</a> 
    <a href="019Psalms.htm#019-20">20</a> 
    <a href="019Psalms.htm#019-21">21</a> 
    <a href="019Psalms.htm#019-22">22</a> 
    <a href="019Psalms.htm#019-23">23</a> 
    <a href="019Psalms.htm#019-24">24</a> 
    <a href="019Psalms.htm#019-25">25</a> 
    <a href="019Psalms.htm#019-26">26</a> 
    <a href="019Psalms.htm#019-27">27</a> 
    <a href="019Psalms.htm#019-28">28</a> 
    <a href="019Psalms.htm#019-29">29</a> 
    <a href="019Psalms.htm#019-30">30</a> 
    </small></td>
    <td>希伯来书</td>
    <td><small>
    <a href="119Hebrews.htm#119-1">1</a> 
    <a href="119Hebrews.htm#119-2">2</a> 
    <a href="119Hebrews.htm#119-3">3</a> 
    <a href="119Hebrews.htm#119-4">4</a> 
    <a href="119Hebrews.htm#119-5">5</a> 
    <a href="119Hebrews.htm#119-6">6</a> 
    <a href="119Hebrews.htm#119-7">7</a> 
    <a href="119Hebrews.htm#119-8">8</a> 
    <a href="119Hebrews.htm#119-9">9</a> 
    <a href="119Hebrews.htm#119-10">10</a> 
    <a href="119Hebrews.htm#119-11">11</a> 
    <a href="119Hebrews.htm#119-12">12</a> 
    <a href="119Hebrews.htm#119-13">13</a> 
    </small></td>
  </tr>
  <tr>
    <td>.</td>
    <td><small>
    <a href="019Psalms.htm#019-31">31</a> 
    <a href="019Psalms.htm#019-32">32</a> 
    <a href="019Psalms.htm#019-33">33</a> 
    <a href="019Psalms.htm#019-34">34</a> 
    <a href="019Psalms.htm#019-35">35</a> 
    <a href="019Psalms.htm#019-36">36</a> 
    <a href="019Psalms.htm#019-37">37</a> 
    <a href="019Psalms.htm#019-38">38</a> 
    <a href="019Psalms.htm#019-39">39</a> 
    <a href="019Psalms.htm#019-40">40</a> 
    <a href="019Psalms.htm#019-41">41</a> 
    <a href="019Psalms.htm#019-42">42</a> 
    <a href="019Psalms.htm#019-43">43</a> 
    <a href="019Psalms.htm#019-44">44</a> 
    <a href="019Psalms.htm#019-45">45</a> 
    <a href="019Psalms.htm#019-46">46</a> 
    <a href="019Psalms.htm#019-47">47</a> 
    <a href="019Psalms.htm#019-48">48</a> 
    <a href="019Psalms.htm#019-49">49</a> 
    <a href="019Psalms.htm#019-50">50</a> 
    <a href="019Psalms.htm#019-51">51</a> 
    <a href="019Psalms.htm#019-52">52</a> 
    <a href="019Psalms.htm#019-53">53</a> 
    <a href="019Psalms.htm#019-54">54</a> 
    <a href="019Psalms.htm#019-55">55</a> 
    <a href="019Psalms.htm#019-56">56</a> 
    <a href="019Psalms.htm#019-57">57</a> 
    <a href="019Psalms.htm#019-58">58</a> 
    <a href="019Psalms.htm#019-59">59</a> 
    <a href="019Psalms.htm#019-60">60</a> 
    </small></td>
    <td>雅各书</td>
    <td><small>
    <a href="120James.htm#120-1">1</a> 
    <a href="120James.htm#120-2">2</a> 
    <a href="120James.htm#120-3">3</a> 
    <a href="120James.htm#120-4">4</a> 
    <a href="120James.htm#120-5">5</a> 
    </small></td>
  </tr>
  <tr>
    <td>.</td>
    <td><small>
    <a href="019Psalms.htm#019-61">61</a> 
    <a href="019Psalms.htm#019-62">62</a> 
    <a href="019Psalms.htm#019-63">63</a> 
    <a href="019Psalms.htm#019-64">64</a> 
    <a href="019Psalms.htm#019-65">65</a> 
    <a href="019Psalms.htm#019-66">66</a> 
    <a href="019Psalms.htm#019-67">67</a> 
    <a href="019Psalms.htm#019-68">68</a> 
    <a href="019Psalms.htm#019-69">69</a> 
    <a href="019Psalms.htm#019-70">70</a> 
    <a href="019Psalms.htm#019-71">71</a> 
    <a href="019Psalms.htm#019-72">72</a> 
    <a href="019Psalms.htm#019-73">73</a> 
    <a href="019Psalms.htm#019-74">74</a> 
    <a href="019Psalms.htm#019-75">75</a> 
    <a href="019Psalms.htm#019-76">76</a> 
    <a href="019Psalms.htm#019-77">77</a> 
    <a href="019Psalms.htm#019-78">78</a> 
    <a href="019Psalms.htm#019-79">79</a> 
    <a href="019Psalms.htm#019-80">80</a> 
    <a href="019Psalms.htm#019-81">81</a> 
    <a href="019Psalms.htm#019-82">82</a> 
    <a href="019Psalms.htm#019-83">83</a> 
    <a href="019Psalms.htm#019-84">84</a> 
    <a href="019Psalms.htm#019-85">85</a> 
    <a href="019Psalms.htm#019-86">86</a> 
    <a href="019Psalms.htm#019-87">87</a> 
    <a href="019Psalms.htm#019-88">88</a> 
    <a href="019Psalms.htm#019-89">89</a> 
    <a href="019Psalms.htm#019-90">90</a> 
    </small></td>
    <td>彼得前书</td>
    <td><small>
    <a href="121Peter1.htm#121-1">1</a> 
    <a href="121Peter1.htm#121-2">2</a> 
    <a href="121Peter1.htm#121-3">3</a> 
    <a href="121Peter1.htm#121-4">4</a> 
    <a href="121Peter1.htm#121-5">5</a> 
    </small></td>
  </tr>
  <tr>
    <td>.</td>
    <td><small>
    <a href="019Psalms.htm#019-91">91</a> 
    <a href="019Psalms.htm#019-92">92</a> 
    <a href="019Psalms.htm#019-93">93</a> 
    <a href="019Psalms.htm#019-94">94</a> 
    <a href="019Psalms.htm#019-95">95</a> 
    <a href="019Psalms.htm#019-96">96</a> 
    <a href="019Psalms.htm#019-97">97</a> 
    <a href="019Psalms.htm#019-98">98</a> 
    <a href="019Psalms.htm#019-99">99</a> 
    <a href="019Psalms.htm#019-100">100</a> 
    <a href="019Psalms.htm#019-101">101</a> 
    <a href="019Psalms.htm#019-102">102</a> 
    <a href="019Psalms.htm#019-103">103</a> 
    <a href="019Psalms.htm#019-104">104</a> 
    <a href="019Psalms.htm#019-105">105</a> 
    <a href="019Psalms.htm#019-106">106</a> 
    <a href="019Psalms.htm#019-107">107</a> 
    <a href="019Psalms.htm#019-108">108</a> 
    <a href="019Psalms.htm#019-109">109</a> 
    <a href="019Psalms.htm#019-110">110</a> 
    <a href="019Psalms.htm#019-111">111</a> 
    <a href="019Psalms.htm#019-112">112</a> 
    <a href="019Psalms.htm#019-113">113</a> 
    <a href="019Psalms.htm#019-114">114</a> 
    <a href="019Psalms.htm#019-115">115</a> 
    <a href="019Psalms.htm#019-116">116</a> 
    <a href="019Psalms.htm#019-117">117</a> 
    <a href="019Psalms.htm#019-118">118</a> 
    <a href="019Psalms.htm#019-119">119</a> 
    <a href="019Psalms.htm#019-120">120</a> 
    </small></td>
    <td>彼得后书</td>
    <td><small>
    <a href="122Peter2.htm#122-1">1</a> 
    <a href="122Peter2.htm#122-2">2</a> 
    <a href="122Peter2.htm#122-3">3</a> 
    </small></td>
  </tr>
  <tr>
    <td>.<a name="》2"></a><br></td>
    <td><small>
    <a href="019Psalms.htm#019-121">121</a> 
    <a href="019Psalms.htm#019-122">122</a> 
    <a href="019Psalms.htm#019-123">123</a> 
    <a href="019Psalms.htm#019-124">124</a> 
    <a href="019Psalms.htm#019-125">125</a> 
    <a href="019Psalms.htm#019-126">126</a> 
    <a href="019Psalms.htm#019-127">127</a> 
    <a href="019Psalms.htm#019-128">128</a> 
    <a href="019Psalms.htm#019-129">129</a> 
    <a href="019Psalms.htm#019-130">130</a> 
    <a href="019Psalms.htm#019-131">131</a> 
    <a href="019Psalms.htm#019-132">132</a> 
    <a href="019Psalms.htm#019-133">133</a> 
    <a href="019Psalms.htm#019-134">134</a> 
    <a href="019Psalms.htm#019-135">135</a> 
    <a href="019Psalms.htm#019-136">136</a> 
    <a href="019Psalms.htm#019-137">137</a> 
    <a href="019Psalms.htm#019-138">138</a> 
    <a href="019Psalms.htm#019-139">139</a> 
    <a href="019Psalms.htm#019-140">140</a> 
    <a href="019Psalms.htm#019-141">141</a> 
    <a href="019Psalms.htm#019-142">142</a> 
    <a href="019Psalms.htm#019-143">143</a> 
    <a href="019Psalms.htm#019-144">144</a> 
    <a href="019Psalms.htm#019-145">145</a> 
    <a href="019Psalms.htm#019-146">146</a> 
    <a href="019Psalms.htm#019-147">147</a> 
    <a href="019Psalms.htm#019-148">148</a> 
    <a href="019Psalms.htm#019-149">149</a> 
    <a href="019Psalms.htm#019-150">150</a> 
    </small></td>
    <td>约翰一书</td>
    <td><small>
    <a href="123John1.htm#123-1">1</a> 
    <a href="123John1.htm#123-2">2</a> 
    <a href="123John1.htm#123-3">3</a> 
    <a href="123John1.htm#123-4">4</a> 
    <a href="123John1.htm#123-5">5</a> 
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    <a href="#000">《</a> <a href="#》2">=</a> <a href="#》3">》</a>
    </small></td>
  </tr>
  <tr>
    <td>箴言</td>
    <td><small>
    <a href="020Proverbs.htm#020-1">1</a> 
    <a href="020Proverbs.htm#020-2">2</a> 
    <a href="020Proverbs.htm#020-3">3</a> 
    <a href="020Proverbs.htm#020-4">4</a> 
    <a href="020Proverbs.htm#020-5">5</a> 
    <a href="020Proverbs.htm#020-6">6</a> 
    <a href="020Proverbs.htm#020-7">7</a> 
    <a href="020Proverbs.htm#020-8">8</a> 
    <a href="020Proverbs.htm#020-9">9</a> 
    <a href="020Proverbs.htm#020-10">10</a> 
    <a href="020Proverbs.htm#020-11">11</a> 
    <a href="020Proverbs.htm#020-12">12</a> 
    <a href="020Proverbs.htm#020-13">13</a> 
    <a href="020Proverbs.htm#020-14">14</a> 
    <a href="020Proverbs.htm#020-15">15</a> 
    <a href="020Proverbs.htm#020-16">16</a> 
    <a href="020Proverbs.htm#020-17">17</a> 
    <a href="020Proverbs.htm#020-18">18</a> 
    <a href="020Proverbs.htm#020-19">19</a> 
    <a href="020Proverbs.htm#020-20">20</a> 
    <a href="020Proverbs.htm#020-21">21</a> 
    <a href="020Proverbs.htm#020-22">22</a> 
    <a href="020Proverbs.htm#020-23">23</a> 
    <a href="020Proverbs.htm#020-24">24</a> 
    <a href="020Proverbs.htm#020-25">25</a> 
    <a href="020Proverbs.htm#020-26">26</a> 
    <a href="020Proverbs.htm#020-27">27</a> 
    <a href="020Proverbs.htm#020-28">28</a> 
    <a href="020Proverbs.htm#020-29">29</a> 
    <a href="020Proverbs.htm#020-30">30</a> 
    <a href="020Proverbs.htm#020-31">31</a> 
    </small></td>
    <td>约翰二书</td>
    <td><small>
    <a href="124John2.htm#124-1">1</a> 
    </small></td>
  </tr>
  <tr>
    <td>传道书</td>
    <td><small>
    <a href="021Ecclesiastes.htm#021-1">1</a> 
    <a href="021Ecclesiastes.htm#021-2">2</a> 
    <a href="021Ecclesiastes.htm#021-3">3</a> 
    <a href="021Ecclesiastes.htm#021-4">4</a> 
    <a href="021Ecclesiastes.htm#021-5">5</a> 
    <a href="021Ecclesiastes.htm#021-6">6</a> 
    <a href="021Ecclesiastes.htm#021-7">7</a> 
    <a href="021Ecclesiastes.htm#021-8">8</a> 
    <a href="021Ecclesiastes.htm#021-9">9</a> 
    <a href="021Ecclesiastes.htm#021-10">10</a> 
    <a href="021Ecclesiastes.htm#021-11">11</a> 
    <a href="021Ecclesiastes.htm#021-12">12</a> 
    </small></td>
    <td>约翰三书</td>
    <td><small>
    <a href="125John3.htm#125-1">1</a> 
    </small></td>
  </tr>
  <tr>
    <td>雅歌</td>
    <td><small>
    <a href="022Songs.htm#022-1">1</a> 
    <a href="022Songs.htm#022-2">2</a> 
    <a href="022Songs.htm#022-3">3</a> 
    <a href="022Songs.htm#022-4">4</a> 
    <a href="022Songs.htm#022-5">5</a> 
    <a href="022Songs.htm#022-6">6</a> 
    <a href="022Songs.htm#022-7">7</a> 
    <a href="022Songs.htm#022-8">8</a> 
    </small></td>
    <td>犹大书</td>
    <td><small>
    <a href="126Jude.htm#126-1">1</a> 
    </small></td>
  </tr>
  <tr>
    <td>以赛亚书</td>
    <td><small>
    <a href="023Isaiah.htm#023-1">1</a> 
    <a href="023Isaiah.htm#023-2">2</a> 
    <a href="023Isaiah.htm#023-3">3</a> 
    <a href="023Isaiah.htm#023-4">4</a> 
    <a href="023Isaiah.htm#023-5">5</a> 
    <a href="023Isaiah.htm#023-6">6</a> 
    <a href="023Isaiah.htm#023-7">7</a> 
    <a href="023Isaiah.htm#023-8">8</a> 
    <a href="023Isaiah.htm#023-9">9</a> 
    <a href="023Isaiah.htm#023-10">10</a> 
    <a href="023Isaiah.htm#023-11">11</a> 
    <a href="023Isaiah.htm#023-12">12</a> 
    <a href="023Isaiah.htm#023-13">13</a> 
    <a href="023Isaiah.htm#023-14">14</a> 
    <a href="023Isaiah.htm#023-15">15</a> 
    <a href="023Isaiah.htm#023-16">16</a> 
    <a href="023Isaiah.htm#023-17">17</a> 
    <a href="023Isaiah.htm#023-18">18</a> 
    <a href="023Isaiah.htm#023-19">19</a> 
    <a href="023Isaiah.htm#023-20">20</a> 
    <a href="023Isaiah.htm#023-21">21</a> 
    <a href="023Isaiah.htm#023-22">22</a> 
    <a href="023Isaiah.htm#023-23">23</a> 
    <a href="023Isaiah.htm#023-24">24</a> 
    <a href="023Isaiah.htm#023-25">25</a> 
    <a href="023Isaiah.htm#023-26">26</a> 
    <a href="023Isaiah.htm#023-27">27</a> 
    <a href="023Isaiah.htm#023-28">28</a> 
    <a href="023Isaiah.htm#023-29">29</a> 
    <a href="023Isaiah.htm#023-30">30</a> 
    </small></td>
    <td>啟示录</td>
    <td><small>
    <a href="127Revelation.htm#127-1">1</a> 
    <a href="127Revelation.htm#127-2">2</a> 
    <a href="127Revelation.htm#127-3">3</a> 
    <a href="127Revelation.htm#127-4">4</a> 
    <a href="127Revelation.htm#127-5">5</a> 
    <a href="127Revelation.htm#127-6">6</a> 
    <a href="127Revelation.htm#127-7">7</a> 
    <a href="127Revelation.htm#127-8">8</a> 
    <a href="127Revelation.htm#127-9">9</a> 
    <a href="127Revelation.htm#127-10">10</a> 
    <a href="127Revelation.htm#127-11">11</a> 
    <a href="127Revelation.htm#127-12">12</a> 
    <a href="127Revelation.htm#127-13">13</a> 
    <a href="127Revelation.htm#127-14">14</a> 
    <a href="127Revelation.htm#127-15">15</a> 
    <a href="127Revelation.htm#127-16">16</a> 
    <a href="127Revelation.htm#127-17">17</a> 
    <a href="127Revelation.htm#127-18">18</a> 
    <a href="127Revelation.htm#127-19">19</a> 
    <a href="127Revelation.htm#127-20">20</a> 
    <a href="127Revelation.htm#127-21">21</a> 
    <a href="127Revelation.htm#127-22">22</a> 
    </small></td>
  </tr>
  <tr>
    <td>.</td>
    <td><small>
    <a href="023Isaiah.htm#023-31">31</a> 
    <a href="023Isaiah.htm#023-32">32</a> 
    <a href="023Isaiah.htm#023-33">33</a> 
    <a href="023Isaiah.htm#023-34">34</a> 
    <a href="023Isaiah.htm#023-35">35</a> 
    <a href="023Isaiah.htm#023-36">36</a> 
    <a href="023Isaiah.htm#023-37">37</a> 
    <a href="023Isaiah.htm#023-38">38</a> 
    <a href="023Isaiah.htm#023-39">39</a> 
    <a href="023Isaiah.htm#023-40">40</a> 
    <a href="023Isaiah.htm#023-41">41</a> 
    <a href="023Isaiah.htm#023-42">42</a> 
    <a href="023Isaiah.htm#023-43">43</a> 
    <a href="023Isaiah.htm#023-44">44</a> 
    <a href="023Isaiah.htm#023-45">45</a> 
    <a href="023Isaiah.htm#023-46">46</a> 
    <a href="023Isaiah.htm#023-47">47</a> 
    <a href="023Isaiah.htm#023-48">48</a> 
    <a href="023Isaiah.htm#023-49">49</a> 
    <a href="023Isaiah.htm#023-50">50</a> 
    <a href="023Isaiah.htm#023-51">51</a> 
    <a href="023Isaiah.htm#023-52">52</a> 
    <a href="023Isaiah.htm#023-53">53</a> 
    <a href="023Isaiah.htm#023-54">54</a> 
    <a href="023Isaiah.htm#023-55">55</a> 
    <a href="023Isaiah.htm#023-56">56</a> 
    <a href="023Isaiah.htm#023-57">57</a> 
    <a href="023Isaiah.htm#023-58">58</a> 
    <a href="023Isaiah.htm#023-59">59</a> 
    <a href="023Isaiah.htm#023-60">60</a> 
    <a href="023Isaiah.htm#023-61">61</a> 
    <a href="023Isaiah.htm#023-62">62</a> 
    <a href="023Isaiah.htm#023-63">63</a> 
    <a href="023Isaiah.htm#023-64">64</a> 
    <a href="023Isaiah.htm#023-65">65</a> 
    <a href="023Isaiah.htm#023-66">66</a> 
    </small></td>
    <td>.</td>
    <td>.</td>
  </tr>
  <tr>
    <td>耶利米书</td>
    <td><small>
    <a href="024Jeremiah.htm#024-1">1</a> 
    <a href="024Jeremiah.htm#024-2">2</a> 
    <a href="024Jeremiah.htm#024-3">3</a> 
    <a href="024Jeremiah.htm#024-4">4</a> 
    <a href="024Jeremiah.htm#024-5">5</a> 
    <a href="024Jeremiah.htm#024-6">6</a> 
    <a href="024Jeremiah.htm#024-7">7</a> 
    <a href="024Jeremiah.htm#024-8">8</a> 
    <a href="024Jeremiah.htm#024-9">9</a> 
    <a href="024Jeremiah.htm#024-10">10</a> 
    <a href="024Jeremiah.htm#024-11">11</a> 
    <a href="024Jeremiah.htm#024-12">12</a> 
    <a href="024Jeremiah.htm#024-13">13</a> 
    <a href="024Jeremiah.htm#024-14">14</a> 
    <a href="024Jeremiah.htm#024-15">15</a> 
    <a href="024Jeremiah.htm#024-16">16</a> 
    <a href="024Jeremiah.htm#024-17">17</a> 
    <a href="024Jeremiah.htm#024-18">18</a> 
    <a href="024Jeremiah.htm#024-19">19</a> 
    <a href="024Jeremiah.htm#024-20">20</a> 
    <a href="024Jeremiah.htm#024-21">21</a> 
    <a href="024Jeremiah.htm#024-22">22</a> 
    <a href="024Jeremiah.htm#024-23">23</a> 
    <a href="024Jeremiah.htm#024-24">24</a> 
    <a href="024Jeremiah.htm#024-25">25</a> 
    <a href="024Jeremiah.htm#024-26">26</a> 
    <a href="024Jeremiah.htm#024-27">27</a> 
    <a href="024Jeremiah.htm#024-28">28</a> 
    <a href="024Jeremiah.htm#024-29">29</a> 
    <a href="024Jeremiah.htm#024-30">30</a> 
    <a href="024Jeremiah.htm#024-31">31</a> 
    <a href="024Jeremiah.htm#024-32">32</a> 
    <a href="024Jeremiah.htm#024-33">33</a> 
    <a href="024Jeremiah.htm#024-34">34</a> 
    <a href="024Jeremiah.htm#024-35">35</a> 
    <a href="024Jeremiah.htm#024-36">36</a> 
    <a href="024Jeremiah.htm#024-37">37</a> 
    <a href="024Jeremiah.htm#024-38">38</a> 
    <a href="024Jeremiah.htm#024-39">39</a> 
    <a href="024Jeremiah.htm#024-40">40</a> 
    <a href="024Jeremiah.htm#024-41">41</a> 
    <a href="024Jeremiah.htm#024-42">42</a> 
    <a href="024Jeremiah.htm#024-43">43</a> 
    <a href="024Jeremiah.htm#024-44">44</a> 
    <a href="024Jeremiah.htm#024-45">45</a> 
    <a href="024Jeremiah.htm#024-46">46</a> 
    <a href="024Jeremiah.htm#024-47">47</a> 
    <a href="024Jeremiah.htm#024-48">48</a> 
    <a href="024Jeremiah.htm#024-49">49</a> 
    <a href="024Jeremiah.htm#024-50">50</a> 
    <a href="024Jeremiah.htm#024-51">51</a> 
    <a href="024Jeremiah.htm#024-52">52</a> 
    </small></td>
    <td>.</td>
    <td>.</td>
  </tr>
  <tr>
    <td>耶利米哀</td>
    <td><small>
    <a href="025Lamentations.htm#025-1">1</a> 
    <a href="025Lamentations.htm#025-2">2</a> 
    <a href="025Lamentations.htm#025-3">3</a> 
    <a href="025Lamentations.htm#025-4">4</a> 
    <a href="025Lamentations.htm#025-5">5</a> 
    </small></td>
    <td>.</td>
    <td>.</td>
  </tr>
  <tr>
    <td><a name="》3"></a>以西结书</td>
    <td><small>
    <a href="026Ezekiel.htm#026-1">1</a> 
    <a href="026Ezekiel.htm#026-2">2</a> 
    <a href="026Ezekiel.htm#026-3">3</a> 
    <a href="026Ezekiel.htm#026-4">4</a> 
    <a href="026Ezekiel.htm#026-5">5</a> 
    <a href="026Ezekiel.htm#026-6">6</a> 
    <a href="026Ezekiel.htm#026-7">7</a> 
    <a href="026Ezekiel.htm#026-8">8</a> 
    <a href="026Ezekiel.htm#026-9">9</a> 
    <a href="026Ezekiel.htm#026-10">10</a> 
    <a href="026Ezekiel.htm#026-11">11</a> 
    <a href="026Ezekiel.htm#026-12">12</a> 
    <a href="026Ezekiel.htm#026-13">13</a> 
    <a href="026Ezekiel.htm#026-14">14</a> 
    <a href="026Ezekiel.htm#026-15">15</a> 
    <a href="026Ezekiel.htm#026-16">16</a> 
    <a href="026Ezekiel.htm#026-17">17</a> 
    <a href="026Ezekiel.htm#026-18">18</a> 
    <a href="026Ezekiel.htm#026-19">19</a> 
    <a href="026Ezekiel.htm#026-20">20</a> 
    <a href="026Ezekiel.htm#026-21">21</a> 
    <a href="026Ezekiel.htm#026-22">22</a> 
    <a href="026Ezekiel.htm#026-23">23</a> 
    <a href="026Ezekiel.htm#026-24">24</a> 
    <a href="026Ezekiel.htm#026-25">25</a> 
    <a href="026Ezekiel.htm#026-26">26</a> 
    <a href="026Ezekiel.htm#026-27">27</a> 
    <a href="026Ezekiel.htm#026-28">28</a> 
    <a href="026Ezekiel.htm#026-29">29</a> 
    <a href="026Ezekiel.htm#026-30">30</a> 
    <a href="026Ezekiel.htm#026-31">31</a> 
    <a href="026Ezekiel.htm#026-32">32</a> 
    <a href="026Ezekiel.htm#026-33">33</a> 
    <a href="026Ezekiel.htm#026-34">34</a> 
    <a href="026Ezekiel.htm#026-35">35</a> 
    <a href="026Ezekiel.htm#026-36">36</a> 
    <a href="026Ezekiel.htm#026-37">37</a> 
    <a href="026Ezekiel.htm#026-38">38</a> 
    <a href="026Ezekiel.htm#026-39">39</a> 
    <a href="026Ezekiel.htm#026-40">40</a> 
    <a href="026Ezekiel.htm#026-41">41</a> 
    <a href="026Ezekiel.htm#026-42">42</a> 
    <a href="026Ezekiel.htm#026-43">43</a> 
    <a href="026Ezekiel.htm#026-44">44</a> 
    <a href="026Ezekiel.htm#026-45">45</a> 
    <a href="026Ezekiel.htm#026-46">46</a> 
    <a href="026Ezekiel.htm#026-47">47</a> 
    <a href="026Ezekiel.htm#026-48">48</a> 
    </small></td>
    <td>.</td>
    <td>. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    <small><a href="#000">《</a> <a href="#》3">=</a> 
    <a href="#》4">》</a></small></td>
  </tr>
  <tr>
    <td>但以理书</td>
    <td><small>
    <a href="027Daniel.htm#027-1">1</a> 
    <a href="027Daniel.htm#027-2">2</a> 
    <a href="027Daniel.htm#027-3">3</a> 
    <a href="027Daniel.htm#027-4">4</a> 
    <a href="027Daniel.htm#027-5">5</a> 
    <a href="027Daniel.htm#027-6">6</a> 
    <a href="027Daniel.htm#027-7">7</a> 
    <a href="027Daniel.htm#027-8">8</a> 
    <a href="027Daniel.htm#027-9">9</a> 
    <a href="027Daniel.htm#027-10">10</a> 
    <a href="027Daniel.htm#027-11">11</a> 
    <a href="027Daniel.htm#027-12">12</a> 
    </small></td>
    <td>.</td>
    <td>.</td>
  </tr>
  <tr>
    <td>何西阿书</td>
    <td><small>
    <a href="028Hosea.htm#028-1">1</a> 
    <a href="028Hosea.htm#028-2">2</a> 
    <a href="028Hosea.htm#028-3">3</a> 
    <a href="028Hosea.htm#028-4">4</a> 
    <a href="028Hosea.htm#028-5">5</a> 
    <a href="028Hosea.htm#028-6">6</a> 
    <a href="028Hosea.htm#028-7">7</a> 
    <a href="028Hosea.htm#028-8">8</a> 
    <a href="028Hosea.htm#028-9">9</a> 
    <a href="028Hosea.htm#028-10">10</a> 
    <a href="028Hosea.htm#028-11">11</a> 
    <a href="028Hosea.htm#028-12">12</a> 
    <a href="028Hosea.htm#028-13">13</a> 
    <a href="028Hosea.htm#028-14">14</a> 
    </small></td>
    <td>.</td>
    <td>.</td>
  </tr>
  <tr>
    <td>约珥书</td>
    <td><small>
    <a href="029Joel.htm#029-1">1</a> 
    <a href="029Joel.htm#029-2">2</a> 
    <a href="029Joel.htm#029-3">3</a> 
    </small></td>
    <td>.</td>
    <td>.</td>
  </tr>
  <tr>
    <td>阿摩司书</td>
    <td><small>
    <a href="030Amos.htm#030-1">1</a> 
    <a href="030Amos.htm#030-2">2</a> 
    <a href="030Amos.htm#030-3">3</a> 
    <a href="030Amos.htm#030-4">4</a> 
    <a href="030Amos.htm#030-5">5</a> 
    <a href="030Amos.htm#030-6">6</a> 
    <a href="030Amos.htm#030-7">7</a> 
    <a href="030Amos.htm#030-8">8</a> 
    <a href="030Amos.htm#030-9">9</a> 
    </small></td>
    <td>.</td>
    <td>.</td>
  </tr>
  <tr>
    <td>俄巴底亚</td>
    <td><small>
    <a href="031Obadiah.htm#031-1">1</a> 
    </small></td>
    <td>.</td>
    <td>.</td>
  </tr>
  <tr>
    <td>约拿书</td>
    <td><small>
    <a href="032Jonah.htm#032-1">1</a> 
    <a href="032Jonah.htm#032-2">2</a> 
    <a href="032Jonah.htm#032-3">3</a> 
    <a href="032Jonah.htm#032-4">4</a> 
    </small></td>
    <td>.</td>
    <td>.</td>
  </tr>
  <tr>
    <td>弥迦书</td>
    <td><small>
    <a href="033Micah.htm#033-1">1</a> 
    <a href="033Micah.htm#033-2">2</a> 
    <a href="033Micah.htm#033-3">3</a> 
    <a href="033Micah.htm#033-4">4</a> 
    <a href="033Micah.htm#033-5">5</a> 
    <a href="033Micah.htm#033-6">6</a> 
    <a href="033Micah.htm#033-7">7</a> 
    </small></td>
    <td>.</td>
    <td>.</td>
  </tr>
  <tr>
    <td><a name="》4"></a>那鸿书</td>
    <td><small>
    <a href="034Nahum.htm#034-1">1</a> 
    <a href="034Nahum.htm#034-2">2</a> 
    <a href="034Nahum.htm#034-3">3</a> 
    </small></td>
    <td>.</td>
    <td>. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    <small><a href="#000">《</a> <a href="#》4">=</a></small></td>
  </tr>
  <tr>
    <td>哈巴谷书</td>
    <td><small>
    <a href="035Habakkuk.htm#035-1">1</a> 
    <a href="035Habakkuk.htm#035-2">2</a> 
    <a href="035Habakkuk.htm#035-3">3</a> 
    </small></td>
    <td>.</td>
    <td>.</td>
  </tr>
  <tr>
    <td>西番雅书</td>
    <td><small>
    <a href="036Zephaniah.htm#036-1">1</a> 
    <a href="036Zephaniah.htm#036-2">2</a> 
    <a href="036Zephaniah.htm#036-3">3</a> 
    </small></td>
    <td>.</td>
    <td>.</td>
  </tr>
  <tr>
    <td>哈该书</td>
    <td><small>
    <a href="037Haggai.htm#037-1">1</a> 
    <a href="037Haggai.htm#037-2">2</a> 
    </small></td>
    <td>.</td>
    <td>.</td>
  </tr>
  <tr>
    <td>撒迦利亚</td>
    <td><small>
    <a href="038Zechariah.htm#038-1">1</a> 
    <a href="038Zechariah.htm#038-2">2</a> 
    <a href="038Zechariah.htm#038-3">3</a> 
    <a href="038Zechariah.htm#038-4">4</a> 
    <a href="038Zechariah.htm#038-5">5</a> 
    <a href="038Zechariah.htm#038-6">6</a> 
    <a href="038Zechariah.htm#038-7">7</a> 
    <a href="038Zechariah.htm#038-8">8</a> 
    <a href="038Zechariah.htm#038-9">9</a> 
    <a href="038Zechariah.htm#038-10">10</a> 
    <a href="038Zechariah.htm#038-11">11</a> 
    <a href="038Zechariah.htm#038-12">12</a> 
    <a href="038Zechariah.htm#038-13">13</a> 
    <a href="038Zechariah.htm#038-14">14</a> 
    </small></td>
    <td>.</td>
    <td>.</td>
  </tr>
  <tr>
    <td>玛拉基书</td>
    <td><small>
    <a href="039Malachi.htm#039-1">1</a> 
    <a href="039Malachi.htm#039-2">2</a> 
    <a href="039Malachi.htm#039-3">3</a> 
    <a href="039Malachi.htm#039-4">4</a> 
    </small></td>
    <td>.</td>
    <td>.</td>
  </tr>
</table>
<br><br>
<h5>END</h5><br><br>
<a href="#000"><small>《</small></a><br>
<br><br><br><br><br><br>
<ins datetime="2012:08:15">圣经简体和合本</ins><br>
<a href="http://ibibles.net">
<b>http://ibibles.net</b></a><br>
<br><br>
<br><br><br><br>
</body>
</html>